.O1u5lZUUgXVadi {
  position: relative;
  overflow-y: auto;
  outline: none;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.I7hLrv9M_11Tox {
  display: none;
}
.JnOFnU1isxYh3O {
  width: 260px;
}
.oiarmSAgGVRpKl {
  position: relative;
  box-shadow: 1px 0px 0px 0px hsla(218,54%,19.6%,0.16);
  width: 16px;
  height: 100%;
  min-height: 100%;
  z-index: 5;
}
.sTxn_60NHwOoDY, .kn56WLcptjh4Z8 {
  transform: translate3d(0%, 0, 0);
}
.pCEkBQkauR_BfD, .sOooUS3xvGJgJi {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  transform: translate3d(-100%, 0, 0);
  transition: transform 100ms ease-in;
}
.sOooUS3xvGJgJi {
  width: 260px;
}
.pCEkBQkauR_BfD, .sOooUS3xvGJgJi {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  transform: translate3d(-100%, 0, 0);
  transition: transform 100ms ease-in;
}
.pCEkBQkauR_BfD {
  width: 16px;
}
.IhOp6hdgoCyaah #content {
  flex-grow: 1;
}
#content {
  outline: none;
  overflow-y: auto;
  position: relative;
}
.member-boards-view, .member-boards-view.super-home {
  background-color: #FFFFFF;
}
.member-boards-view {
  flex-grow: 1;
  margin: auto;
  width: 100%;
}
.home-container {
  min-height: calc(100vh - 40px);
}
.home-container .home-sticky-container {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
}
.home-left-sidebar-container {
  margin: 40px 0 0;
  max-height: 90vh;
  padding: 0 16px;
  position: sticky;
  top: 40px;
  width: 256px;
}
.rVz43wK3rQUlj3 {
  border-bottom: 1px solid #091E4224;
}
ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.WvATk6EiWx7jhz {
  margin-bottom: 4px;
}
.oTmCsFlPhDLGz2, .Zv_oeEvekqLxHo {
  align-items: center;
  background-color: transparent;
  border-radius: 8px;
  box-shadow: none;
  color: #172b4d;
  display: flex;
  font-weight: 500;
  gap: 8px;
  margin: 0;
  min-height: 20px;
  overflow: hidden;
  padding: 6px 8px;
  text-decoration: none;
  transition-property: background-color, border-color, box-shadow;
  transition-duration: 85ms;
  transition-timing-function: ease;
}
a, a:hover {
  color: #0c66e4;
}
.YcdC3OLMMfYkHA {
  display: block;
  flex: 0 0 auto;
  text-align: center;
  height: 24px;
  width: 24px;
  color: #44546F;
}
._BwhWIRGqM8j8m {
  color: currentColor !important;
  height: 24px;
  width: 24px;
  line-height: 24px;
}
.icon-sm {
  font-size: 16px;
  height: 20px;
  line-height: 20px;
  width: 20px;
}
.icon-lg, .icon-md, .icon-sm {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-family: trellicons;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  vertical-align: bottom;
}
.DD3DlImSMT6fgc {
  flex: 1 1 auto;
  width: min-content;
  overflow: hidden;
  text-overflow: ellipsis;
}
.AQ0dAIzWIJDFUU.oTmCsFlPhDLGz2, .AQ0dAIzWIJDFUU.Zv_oeEvekqLxHo {
  background-color:  #e9f2ff;
  color: #0c66e4;
}

.tUGxbXZZ_co7PP {
  overflow-y: auto;
  max-height: calc(100vh - 200px);
}
.evsIQ_CgFyWMyt {
  padding-top: 12px;
  padding-bottom: 40px;
}
.GDNpxXg0WBMujY {
  display: flex;
}
.oP80HqNRYLE20I {
  margin: 0;
}
.lRpQDnALfvSY1Q {
  align-items: baseline;
  display: flex;
  height: 32px;
  justify-content: flex-start;
  margin-bottom: 8px;
  padding: 0 0 0 12px;
}
.abpjlyqfUhVUJ4 {
  color: #44546f;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  margin-top: 16px;
  flex: 1 1 auto;
  margin: 0;
  padding: 8px 0;
}
.KzIjZYeUokzJPh {
  font-size: 14px;
  border-radius: 4px;
  height: 24px;
  width: 24px;
  margin: 0;
  flex: 0 0 auto;
}
.AGjl0yEuecYuvs {
  background: linear-gradient(#403294, #0747a6);
}
.r6KV0yEdmnh3Op {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 20px;
  color:  #ffffff;
  font-weight: bold;
}
.DD3DlImSMT6fgc {
  flex: 1 1 auto;
  width: min-content;
  overflow: hidden;
  text-overflow: ellipsis;
}
.YGO2KHXNyudkzu {
  width: 16px;
  margin-right: 8px;
}
.EKMAxOvHuhfJES, .rQjtT3UHxCUe4v {
  margin-left: 4px;
  width: 16px;
}
.A3PtEe1rGIm_yL {
  display: inline-block;
  line-height: 1;
}
.css-snhnyn {
  display: inline-block;
  flex-shrink: 0;
  line-height: 1;
}
.css-snhnyn > svg {
  overflow: hidden;
  pointer-events: none;
  max-width: 100%;
  max-height: 100%;
  color: var(--icon-primary-color);
  fill: #FFFFFF;
  vertical-align: bottom;
}
.neoUEAwI0GETBQ svg {
  height: 16px;
  width: 16px;
  line-height: 16px;
}
.RPa_ezCLkUNX1W {
  margin-top: 4px;
  min-height: 24px;
  padding: 4px 8px 4px 40px;
}
.RdqZOPHqhCnasP {
  font-weight: 400;
}
.zWdfYVKHwMsVPO {
  color: #44546f;
}
.fS0VaAoyfQHCJz {
  margin-bottom: 16px;
  display: inline-block;
  padding: 0;
  background: transparent;
  text-decoration: underline;
}
.button, button {
  border: none;
  border-radius: 3px;
  box-sizing: border-box;
  display: inline-block;
  line-height: 20px;
  margin-bottom: 8px;
  padding: 6px 12px;
  position: relative;
  text-decoration: none;
}
.XQSLFE3ZZrvms3 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.DD3DlImSMT6fgc {
  flex: 1 1 auto;
  width: min-content;
  overflow: hidden;
  text-overflow: ellipsis;
}
.icon-add:before {
  content: "\e901";
}
.Dc_AME4GV8BTn8 {
  background: #ffffff;
}
.vrC_kXIbZ8tWSH {
  padding-left: 16px;
  padding-right: 16px;
  overflow: hidden;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  border-radius: 3px;
  box-shadow: 0 1px 1px #091e4224;
  transition: background 0.3s ease;
  text-rendering: geometricPrecision;
}
.y1cLmBnFBnH3_J {
  margin: 0 auto;
  width: calc(100% - 2px);
}
.Dc_AME4GV8BTn8 .EBTKIa7lEeLBeP {
  color: #172b4d;
}
.EBTKIa7lEeLBeP {
  color: #172b4d;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.003em;
  line-height: 16px;
  margin-top: 16px;
  margin-bottom: 8px;
}
.Dc_AME4GV8BTn8 .V3AovLCxDNWNDs {
  color: #44546f;
}
.V3AovLCxDNWNDs {
  margin-bottom: 16px;
}
.zWdfYVKHwMsVPO {
  color: #44546f;
}
.fS0VaAoyfQHCJz {
  margin-bottom: 16px;
  display: inline-block;
  padding: 0;
  background: transparent;
  text-decoration: underline;
}
.Dc_AME4GV8BTn8 .Bu_UZykaDh96eO {
  background: #6e5dc6;
}
.Bu_UZykaDh96eO {
  position: absolute;
  bottom: 8px;
  right: 8px;
  width: 26px;
  height: 26px;
  border-radius: 3px;
  z-index: 2;
}
.BSYhIMmb6V6VP0 {
  width: 26px;
  height: 26px;
  padding: 2px;
}
.A3PtEe1rGIm_yL {
  display: inline-block;
  line-height: 1;
}
.Dc_AME4GV8BTn8 .BSYhIMmb6V6VP0 svg {
  color: #ffffff;
}
.BSYhIMmb6V6VP0 svg {
  width: 22px;
  height: 22px;
  line-height: 24px;
}
.Dc_AME4GV8BTn8 .ljpSsFGAMsxaEJ {
  background: #091e420f;
}
.ljpSsFGAMsxaEJ {
  position: absolute;
  bottom: -64px;
  right: -28px;
  width: 120px;
  height: 80px;
  border-radius: 12px;
  z-index: 1;
  transform: rotate(-50deg);
}
.VewLEt3HqiPYFi {
  position: absolute;
  top: 8px;
  right: 8px;
  background: none;
  padding: 4px;
  margin: 0;
  border: 0;
  width: 22px;
  height: 22px;
  display: flex;
}
.gXJiphSIbmGHO9 {
  line-height: 14px;
  margin-left: -1px;
}
.A3PtEe1rGIm_yL {
  display: inline-block;
  line-height: 1;
}
.neoUEAwI0GETBQ svg {
  height: 16px;
  width: 16px;
  line-height: 16px;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}
div {
  display: block;
}
.home-main-content-container {
  margin-top: 40px;
  padding-left: 45px;
  width: 420px;
}
.DBhnMBigsRojrV {
  position: relative;
  z-index: 10;
}
.pWhNearKYKb2yb {
  flex-direction: column;
}
.RN8jBKHlQoem5U {
  background-color: #FFFFFF;
  border-radius: 4px;
  box-shadow: 0px 1px 1px #091e4240;
  display: flex;
  margin-bottom: 16px;
  position: relative;
  width: 100%;
}
.ceLXQzBD98YaHf {
  background-color: #fff4e5;
  background-image: url(/assets/img/e55b3540e5c1f06a51d7.svg);
  height: 108px;
}
.mVbZKpR3SP_zCQ {
  border-radius: 4px 4px 0 0;
  min-height: 100px;
  width: 100%;
}
.MrwkTw8B9tdwyy {
  background-color: #ffedeb;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 4px 0 0 4px;
  flex: 0 0 auto;
  min-height: 130px;
  width: 88px;
}
.FCdHbTpOsAfTgz {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  padding: 16px;
  width: 100%;
}
.pWhNearKYKb2yb span {
  text-align: center;
}
.iLGAAytK8jPDkL {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 24px;
}
.home-right-sidebar-container {
  height: 90vh;
  margin-top: 40px;
  max-width: 342px;
  overflow-y: auto;
  padding-left: 50px;
  position: sticky;
  top: 40px;
  width: 100%;
}
.dvncE9mcqpiENJ {
  padding-bottom: 24px;
}
.lRpQDnALfvSY1Q {
  align-items: baseline;
  display: flex;
  height: 32px;
  justify-content: flex-start;
  margin-bottom: 8px;
  padding: 0 0 0 12px;
}
.nSfFq_pEfBRaum {
  flex: 0 0 auto;
  margin-left: -8px;
  position: relative;
  text-align: center;
  top: 1px;
  width: 32px;
}
.A3PtEe1rGIm_yL {
  display: inline-block;
  line-height: 1;
}
.neoUEAwI0GETBQ svg {
  height: 16px;
  width: 16px;
  line-height: 16px;
}
.abpjlyqfUhVUJ4 {
  color: #44546f;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  margin-top: 16px;
  flex: 1 1 auto;
  margin: 0;
  padding: 8px 0;
}
._gU_7ZX0NDHMng {
  align-items: center;
  border-radius: 4px;
  display: flex;
  height: 48px;
  position: relative;
}
.HB3062XwNq9NVX, .HB3062XwNq9NVX:hover, .HB3062XwNq9NVX:active, .HB3062XwNq9NVX:focus {
  background: none;
}
.HB3062XwNq9NVX {
  font-weight: 400;
  box-shadow: none;
  margin: 0;
  padding: 0;
  align-items: center;
  border-radius: 4px;
  border: 0;
  box-sizing: border-box;
  color: #44546f;
  cursor: pointer;
  display: flex;
  height: 48px;
  padding: 8px 40px 8px 8px;
  position: relative;
  text-decoration: none;
  width: 100%;
  transition-property: background-color, border-color, box-shadow;
  transition-duration: 85ms;
  transition-timing-function: ease;
}
.Ydygd9s4XUca3k {
  background-size: cover;
  border-radius: 4px;
  display: block;
  flex: 0 0 auto;
  height: 28px;
  margin-right: 8px;
  width: 32px;
}
.ttmClwk473E7_g {
  display: block;
  margin-right: 8px;
  overflow: hidden;
}
.YOZMJuM8ZcRL2K {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #172b4d;
  display: block;
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
}
.RaM_Ek_rO1Jtdf {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #44546f;
  display: block;
  font-size: 12px;
  font-weight: normal;
  line-height: 14px;
  margin-top: 1px;
}
.lFMA44aF0eE_yl, .lFMA44aF0eE_yl:hover, .lFMA44aF0eE_yl:active, .lFMA44aF0eE_yl:focus {
  background: none;
}
.lFMA44aF0eE_yl {
  font-weight: 400;
  box-shadow: none;
  margin: 0;
  padding: 0;
  align-items: center;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  display: flex;
  height: 24px;
  justify-content: center;
  position: absolute;
  right: 12px;
  top: 12px;
  width: 24px;
}
.mybO3NQUxb47nH {
  color: transparent !important;
  transition: 0.15s color;
}
.icon-star:before {
  content: "\e966";
}
.iSLLvvYdGSEgKr {
  padding-bottom: 24px;
}
.lRpQDnALfvSY1Q {
  align-items: baseline;
  display: flex;
  height: 32px;
  justify-content: flex-start;
  margin-bottom: 8px;
  padding: 0 0 0 12px;
}
.abpjlyqfUhVUJ4 {
  color: #44546f;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  margin-top: 16px;
  flex: 1 1 auto;
  margin: 0;
  padding: 8px 0;
}
._gU_7ZX0NDHMng {
  align-items: center;
  border-radius: 4px;
  display: flex;
  height: 48px;
  position: relative;
}
.dhuVRdSD87x8HI {
  background-color: #091e420f;
  box-shadow: none;
  border: none;
  color: #172b4d;
  font-weight: 500;
  transition-property: background-color, border-color, box-shadow;
  transition-duration: 85ms;
  transition-timing-function: ease;
}
.TYpZvsQ8R7pXJM, .dhuVRdSD87x8HI {
  color:  #44546f !important;
  display: flex !important;
  height: 28px !important;
  width: 32px !important;
  align-items: center;
  border-radius: 4px;
  margin-right: 8px;
  flex: 0 0 auto;
  justify-content: center;
}
.mVbZKpR3SP_zCQ {
  border-radius: 4px 4px 0 0;
  min-height: 100px;
  width: 100%;
}
.RPa_ezCLkUNX1W {
  margin-top: 4px;
  min-height: 24px;
  padding: 4px 8px 4px 40px;
}
.RdqZOPHqhCnasP {
  font-weight: 400;
}
.oTmCsFlPhDLGz2, .Zv_oeEvekqLxHo {
  align-items: center;
  background-color: transparent;
  border-radius: 8px;
  box-shadow: none;
  color: #172b4d;
  display: flex;
  font-weight: 500;
  gap: 8px;
  margin: 0;
  min-height: 20px;
  overflow: hidden;
  padding: 6px 8px;
  text-decoration: none;
  transition-property: background-color, border-color, box-shadow;
  transition-duration: 85ms;
  transition-timing-function: ease;
}
.KzIjZYeUokzJPh {
  font-size: 14px;
  border-radius: 4px;
  height: 24px;
  width: 24px;
  margin: 0;
  flex: 0 0 auto;
}
