<app-user-layout></app-user-layout>

<div class="css-1btht9s">

  <app-sidebar></app-sidebar>

  <div class="_11q71j6p">

    <app-heading></app-heading>

    <div class="_kqswh2mm _154i14em">
      <div class="_2d3f1oc1 _japi1mcq _iu1g1fl4 _fok81wug _q7c11wug">
        <div class="css-7klh0i">
          <div id="jwm-container" class="_vchhusvi _1e0c1txw _2lx21bp4 _1n261q9c _1bah1y6m _ca0qidpf _bfhk1j6p _syaz1c2q _4t3i1osq _1tke1wug _u5f3idpf _n3tdidpf _19bvidpf _1reoewfl _18m9ewfl">
            <div class="_4t3i1osq _18s8zdiv">
              <div class="h5xpn2-0 erfPlV">
                <main class="sc-jnlKLf dsUpSa">
                  <div class="sc-fYxtnH hmGZU">
                    <div class="sc-tilXH fMXsFs" id="project-pages-view-container">
                      <div class="sc-hEsumM joftAI">
                        <div class="sc-kafWEX tEzMe">
                          <div class="sc-ktHwxA WBSfu" id="project-pages-main-container">
                            <p>
                              <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Nắm bắt kiến ​​thức của nhóm bạn và cải thiện cách bạn hoàn thành công việc.</font>
                              </font>
                            </p>
                            <div class="sc-jlyJG irZOOd">
                              <div class="sc-gipzik fCGAgv">
                                <div class="sc-csuQGl fnTBZa"></div>
                                <div class="sc-csuQGl fnTBZa"></div>
                                <div class="sc-csuQGl fnTBZa"></div>
                              </div>
                              <div class="sc-Rmtcm ibEmEK">
                                <img src="https://jira-frontend-bifrost.prod-east.frontend.public.atl-paas.net/assets/blank.0c2912ca.svg" width="100%" class="css-1a2v9hb"></div>
                              <div class="sc-bRBYWo hCSPND">
                                <p class="sc-hzDkRC hMKqBT">
                                  <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Mở khóa các mẫu, trang dự án và hơn thế nữa.
                                    </font>
                                  </font>
                                </p>
                                <div class="css-1oy5iav">
                                  <button class="css-1pifu9q" tabindex="0" type="button">
                                    <span class="css-178ag6o">
                                      <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">Tìm hiểu thêm</font>
                                      </font>
                                    </span>
                                  </button>
                                  <button class="css-1yeatxf" tabindex="0" type="button">
                                    <span class="css-178ag6o">
                                      <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">Hãy thử mẫu này trong Confluence</font>
                                      </font>
                                    </span>
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="sc-iyvyFf hZCcXT">
                        <div class="sc-kfGgVZ iFzMAf">
                          <div class="sc-hwwEjo kcUZlp">
                            <font style="vertical-align: inherit;">
                              <font style="vertical-align: inherit;">Xem trước mẫu</font>
                            </font>
                          </div>
                          <div class="sc-kPVwWT cvTXea">
                            <font style="vertical-align: inherit;">
                              <font style="vertical-align: inherit;">Phổ biến với các đội như của bạn</font>
                            </font>
                          </div>
                        </div>
                        <div class="sc-gzOgki iUFPHY">
                          <div>
                            <div class="sc-dfVpRl fVKkCB">
                              <button class="css-17x532y" type="button">
                                <div class="sc-dVhcbM eQuBCc">
                                  <span role="img" aria-label="trống" class="css-1afrefi">
                                    <svg width="24" height="24" viewBox="0 0 24 24" role="presentation">
                                      <g fill="currentColor" fill-rule="evenodd">
                                        <rect x="8" y="6" width="8" height="2" rx="1"></rect>
                                        <rect x="8" y="9" width="8" height="2" rx="1"></rect>
                                        <rect x="8" y="12" width="4" height="2" rx="1"></rect>
                                        <path d="M7 4v16h10V4H7zm-2-.01C5 2.892 5.897 2 7.006 2h9.988C18.102 2 19 2.898 19 3.99v16.02c0 1.099-.897 1.99-2.006 1.99H7.006A2.003 2.003 0 015 20.01V3.99z" fill-rule="nonzero"></path>
                                      </g>
                                    </svg>
                                  </span>
                                </div>
                                <div class="css-t58y3o">
                                  <span class="css-1318b45">
                                    <div class="sc-dqBHgY jpcEIT">
                                      <div class="sc-kTUwUJ cZLUEA">
                                        <font style="vertical-align: inherit;">
                                          <font style="vertical-align: inherit;">Trang trống</font>
                                        </font>
                                      </div>
                                    </div>
                                  </span>
                                  <span class="css-6ne31f">
                                    <div class="sc-gxMtzJ iLrHQH">
                                      <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">Bắt đầu một trang từ đầu.</font>
                                      </font>
                                    </div>
                                  </span>
                                </div>
                              </button>
                            </div>
                          </div>
                          <div>
                            <div class="sc-dfVpRl hYAaZl">
                              <button class="css-17x532y" type="button">
                                <div class="sc-dVhcbM cRDdfu">
                                  <span role="img" class="css-1afrefi">
                                    <svg width="24" height="24" viewBox="0 0 24 24" role="presentation">
                                      <g fill="currentColor" fill-rule="evenodd">
                                        <rect x="10" y="15" width="8" height="2" rx="1"></rect>
                                        <rect x="6" y="15" width="2" height="2" rx="1"></rect>
                                        <rect x="10" y="11" width="8" height="2" rx="1"></rect>
                                        <rect x="6" y="11" width="2" height="2" rx="1"></rect>
                                        <rect x="10" y="7" width="8" height="2" rx="1"></rect>
                                        <rect x="6" y="7" width="2" height="2" rx="1"></rect>
                                      </g>
                                    </svg>
                                  </span>
                                </div>
                                <div class="css-t58y3o">
                                  <span class="css-1318b45">
                                    <div class="sc-dqBHgY jpcEIT">
                                      <div class="sc-kTUwUJ cZLUEA">
                                        <font style="vertical-align: inherit;">
                                          <font style="vertical-align: inherit;">Yêu cầu về sản phẩm</font>
                                        </font>
                                      </div>
                                    </div>
                                  </span>
                                  <span class="css-6ne31f">
                                    <div class="sc-gxMtzJ iLrHQH">
                                      <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">Xác định, theo dõi và phạm vi yêu cầu cho sản phẩm hoặc tính năng của bạn.</font>
                                      </font>
                                    </div>
                                  </span>
                                </div>
                              </button>
                            </div>
                          </div>
                          <div>
                            <div class="sc-dfVpRl hYAaZl">
                              <button class="css-17x532y" type="button">
                                <div class="sc-dVhcbM hHqMuB">
                                  <span role="img" aria-label="phán quyết" class="css-1afrefi">
                                    <svg width="24" height="24" viewBox="0 0 24 24" role="presentation">
                                      <g fill="currentColor">
                                        <path d="M19.293 3.293l-5 5a1 1 0 101.414 1.414l5-5a1 1 0 10-1.414-1.414zM8.038 4.929a.957.957 0 10.008-1.912L4.058 3A1.053 1.053 0 003 4.044l.017 4.004a.957.957 0 001.916-.008L4.92 4.916l3.118.013z"></path>
                                        <path d="M11 19.998A.998.998 0 0012 21c.552 0 1-.454 1-1.007v-7.4c0-.556-.315-1.322-.705-1.713L5.207 3.793 3.793 5.207 11 12.414v7.584z"></path>
                                      </g>
                                    </svg>
                                  </span>
                                </div>
                                <div class="css-t58y3o">
                                  <span class="css-1318b45">
                                    <div class="sc-dqBHgY jpcEIT">
                                      <div class="sc-kTUwUJ cZLUEA">
                                        <font style="vertical-align: inherit;">
                                          <font style="vertical-align: inherit;">Quyết định thiết kế</font>
                                        </font>
                                      </div>
                                    </div>
                                  </span>
                                  <span class="css-6ne31f">
                                    <div class="sc-gxMtzJ iLrHQH">
                                      <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">Ghi lại các quyết định quan trọng của dự án
                                          và truyền đạt chúng với nhóm của bạn.</font>
                                      </font>
                                    </div>
                                  </span>
                                </div>
                              </button>
                            </div>
                          </div>
                          <div>
                            <div class="sc-dfVpRl hYAaZl">
                              <button class="css-17x532y" type="button">
                                <div class="sc-dVhcbM gdHiIZ">
                                  <span role="img" aria-label="ghi chú cuộc họp"
                                    class="css-1afrefi">
                                    <svg width="24" height="24" viewBox="0 0 24 24" role="presentation">
                                      <g fill="currentColor" fill-rule="evenodd">
                                        <path d="M8.126 10H4c-1.113 0-2 .895-2 2v3.73c0 1.31 1.874 2.053 4 2.23v-2.964A3.002 3.002 0 019 12h.354a4 4 0 01-1.228-2zm7.748 0H20c1.105 0 2 .885 2 2v3.73c0 1.31-1.874 2.053-4 2.23v-2.964A3 3 0 0015 12h-.354a4 4 0 001.228-2zM9.967 5.554a3 3 0 10-1.963 3.274 3.999 3.999 0 011.963-3.274zm6.03 3.274a3 3 0 10-1.963-3.276 3.994 3.994 0 011.963 3.276z"></path>
                                        <path d="M7 15c0-1.105.887-2 2-2h6c1.105 0 2 .885 2 2v3.73c0 3.027-10 3.027-10 0V15z"></path>
                                        <circle cx="12" cy="9" r="3"></circle>
                                      </g>
                                    </svg>
                                  </span>
                                </div>
                                <div class="css-t58y3o">
                                  <span class="css-1318b45">
                                    <div class="sc-dqBHgY jpcEIT">
                                      <div class="sc-kTUwUJ cZLUEA">
                                        <font style="vertical-align: inherit;">
                                          <font style="vertical-align: inherit;">Ghi chú cuộc họp</font>
                                        </font>
                                      </div>
                                    </div>
                                  </span>
                                  <span class="css-6ne31f">
                                    <div class="sc-gxMtzJ iLrHQH">
                                      <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">Đặt chương trình họp, ghi chú và chia sẻ các
                                          mục hành động với nhóm của bạn.</font>
                                      </font>
                                    </div>
                                  </span>
                                </div>
                              </button>
                            </div>
                          </div>
                          <div>
                            <div class="sc-dfVpRl hYAaZl">
                              <button class="css-17x532y" type="button">
                                <div class="sc-dVhcbM dLbuze">
                                  <span role="img" class="css-1afrefi">
                                    <svg width="24" height="24" viewBox="0 0 24 24" role="presentation">
                                      <path d="M17.717 17.137l-1.436-1.438a1.003 1.003 0 011.418-1.418l3.007 3.01a1.002 1.002 0 010 1.417l-3.007 3.01a1.003 1.003 0 01-1.417-1.42l1.3-1.3-6.072-.003A8 8 0 014 11.01C4 6.587 7.582 3 12 3s8 3.587 8 8.01a7.982 7.982 0 01-.789 3.451l-1.438-1.44a6.11 6.11 0 00.345-2.01A6.121 6.121 0 0012 4.884a6.121 6.121 0 00-6.118 6.125 6.119 6.119 0 005.647 6.102l6.188.025zm-12.163-.119c.561.759 1.456 1.49 2.457 1.981L3.937 19C3.42 19 3 18.552 3 18s.42-1 .937-1l1.614.005.003.013z" fill="currentColor"></path>
                                    </svg>
                                  </span>
                                </div>
                                <div class="css-t58y3o">
                                  <span class="css-1318b45">
                                    <div class="sc-dqBHgY jpcEIT">
                                      <div class="sc-kTUwUJ cZLUEA">
                                        <font style="vertical-align: inherit;">
                                          <font style="vertical-align: inherit;">Hồi tưởng</font>
                                        </font>
                                      </div>
                                    </div>
                                  </span>
                                  <span class="css-6ne31f">
                                    <div class="sc-gxMtzJ iLrHQH">
                                      <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">Điều gì đã diễn ra tốt đẹp? </font>
                                        <font style="vertical-align: inherit;">Điều gì có thể diễn ra tốt hơn? </font>
                                        <font style="vertical-align: inherit;">Cải tiến nguồn lực cộng đồng với nhóm của
                                          bạn.</font>
                                      </font>
                                    </div>
                                  </span>
                                </div>
                              </button>
                            </div>
                          </div>
                          <div>
                            <div class="sc-dfVpRl hYAaZl">
                              <button class="css-17x532y" type="button">
                                <div class="sc-dVhcbM dQoivE">
                                  <span role="img" aria-label="hơn" class="css-1afrefi">
                                    <svg width="24" height="24" viewBox="0 0 24 24" role="presentation">
                                      <path d="M12 21a9 9 0 110-18 9 9 0 010 18zm-1.101-10.78c-.248.127-.55.427-.678.678L8.24 14.797c-.55 1.084-.118 1.514.965.963l3.898-1.98c.248-.127.55-.427.677-.678l1.981-3.899c.552-1.083.12-1.514-.964-.964L10.9 10.221zM12 13a1 1 0 110-2 1 1 0 010 2z" fill="currentColor" fill-rule="evenodd"></path>
                                    </svg>
                                  </span>
                                </div>
                                <div class="css-t58y3o">
                                  <span class="css-1318b45">
                                    <div class="sc-dqBHgY jpcEIT">
                                      <div class="sc-kTUwUJ cZLUEA">
                                        <font style="vertical-align: inherit;">
                                          <font style="vertical-align: inherit;">Khám phá thêm mẫu</font>
                                        </font>
                                      </div>
                                    </div>
                                  </span>
                                  <span class="css-6ne31f"></span>
                                </div>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </main>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
