
.css-1btht9s {
  display: flex;
  height: 100%;
  position: relative;
  grid-area: content;
  padding-top: 56px;
}
app-user-work-drapdrop{height: calc(100vh - 228px);}
._11q71j6p {
  background: #FFFFFF;
  width: 100%;
}
._154i14em {
  top: 95px;
}
._2d3f1oc1>:first-of-type {
  width: calc(98vw - 0px - 240px - 0px - 0px ) !important;
}
._japi1mcq>:first-of-type {
  height: calc(100vh - ( 56px + 0px ) - 95px);
}
._iu1g1fl4>:first-of-type {
  transition: width .3s cubic-bezier(.2,0,0,1) 0s;
}
._fok81wug>:first-of-type {
  overflow-x: auto;
}
._q7c11wug>:first-of-type {
  overflow-y: auto;
}
._vchhusvi {
  box-sizing: border-box;
}
._1e0c1txw, ._jcfo1txw:active, ._1d5x1txw:focus, ._hpcc1txw:hover {
  display: flex;
}
._1e0c1txw {
  display: flex;
}
._2lx21bp4 {
  flex-direction: column;
}
._1n261q9c {
  flex-wrap: nowrap;
}
._1bah1y6m {
  justify-content: flex-start;
}
._ca0qidpf {
  padding-top: 0;
}
._4t3i1osq {
  height: 100%;
}
._1tke1wug {
  min-height: auto;
}
._u5f31tcg {
  padding-right: 24px;
}
._n3td1tcg {
  padding-bottom: 24px;
}
._19bv1tcg {
  padding-left: 24px;
}
._1reo1wug {
  overflow-x: auto;
}
._18m91wug {
  overflow-y: auto;
}
._16jlkb7n {
  flex-grow: 1;
}
._1o9zkb7n {
  flex-shrink: 1;
}
._i0dlf1ug {
  flex-basis: 0%;
}
._4cvr1fhb {
  align-items: stretch;
}
._80om73ad {
  cursor: default;
}
._syaz1c2q {
  color: #172B4D;
}
._19bvidpf {
  padding-left: 0;
}
._1bsb1osq {
  width: 100%;
}
._u5f3idpf {
  padding-right: 0;
}
._n3tdidpf {
  padding-bottom: 0;
  width: 100%;
}




._154i14em {
  top: 95px;
}
._kqswh2mm {
  position: relative;
}
._q7c11wug>:first-of-type {
  overflow-y: auto;
}
._fok81wug>:first-of-type {
  overflow-x: auto;
}
._japi1mcq>:first-of-type {
  height: calc(100vh - ( 56px + 0px ) - 95px);
}
._2d3f1oc1>:first-of-type {
  width: calc(100vw - 0px - 240px - 0px - 0px ) !important;
}
._iu1g1fl4>:first-of-type {
  transition: width .3s cubic-bezier(.2,0,0,1) 0s;
}
@media (prefers-reduced-motion: reduce){
  .css-7klh0i {
    animation: auto ease 0s 1 normal none running none;
    transition: none 0s ease 0s;
  }
}
.css-7klh0i {
  min-width: 0px;
  margin-left: 0px;
  -webkit-box-flex: 1;
  flex-grow: 1;
  transition: margin-left 300ms cubic-bezier(0.2, 0, 0, 1) 0s;
}
._1e0c1txw, ._jcfo1txw:active, ._1d5x1txw:focus, ._hpcc1txw:hover {
  display: flex;
}
._1tke1wug {
  min-height: auto;
}
._bfhk1j6p {
  background-color: #FFFFFF;
}
._syaz1c2q {
  color: #172B4D;
}
._19bvidpf {
  padding-left: 0;
}
._n3tdidpf {
  padding-bottom: 0;
}
._u5f3idpf {
  padding-right: 0;
}
._ca0qidpf {
  padding-top: 0;
}
._1bah1y6m {
  justify-content: flex-start;
}
._1n261q9c {
  flex-wrap: nowrap;
}
._4t3i1osq {
  height: 100%;
}
._2lx21bp4 {
  flex-direction: column;
}
._vchhusvi {
  box-sizing: border-box;
}
._18m9ewfl {
  overflow-y: visible;
}
._1reoewfl {
  overflow-x: visible;
}
._1e0c1txw {
  display: flex;
}
._18s8zdiv {
  margin: 0 40px;
}
._4t3i1osq {
  height: 100%;
}
.erfPlV {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  height: inherit;
  letter-spacing: normal;
}
.dsUpSa {
  height: 100%;
  flex: 1 1 auto;
}
.hmGZU {
  height: 100%;
  padding: 0 40px 0 0;
}
.fMXsFs {
  width: 100%;
  padding-bottom: 24px;
  display: flex;
  flex-direction: row;
  height: 100%;
}
.joftAI {
  flex: 1 1 auto;
  overflow-x: auto;
  margin-right: 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 24px;
}
.WBSfu {
  background-color: #FFFFFF;
  color:#172B4D;
  border-radius: 8px;
  padding: 12px;
}
p, ul, ol, dl, h1, h2, h3, h4, h5, h6, blockquote, pre, form, table {
  margin:  12px 0 0 0;
}
.irZOOd {
  min-width: 320px;
  margin-top: 16px;
  box-shadow: 0px 3px 5px rgba(9,30,66,0.2), 0px 0px 1px rgba(9,30,66,0.31);
  border-radius: 4px;
}
.fCGAgv {
  display: flex;
  padding: 7px 8px;
  border-radius: 4px 4px 0px 0px;
  background-color: #172B4D;
}
.fnTBZa {
  background-color: #fff;
  margin-right:4px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
.ibEmEK {
  min-height: 346px;
  overflow-y: scroll;
  height: calc(100vh - 297px);
  max-height: 800px;
}
.css-1a2v9hb {
  max-width: 100%;
  height: auto;
}
img, fieldset {
  border: 0;
}
.hCSPND {
  padding: 8px 12px;
  border-top: 1px solid #EBECF0;
  border-radius: 0px 0px 4px 4px;
  background-color: #F4F5F7;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.hMKqBT {
  font-size: 11px;
}
.css-1oy5iav {
  display: inline-flex;
  gap: 4px;
}
.css-1oy5iav > * {
  flex: 1 0 auto;
}
.css-1pifu9q {
  -webkit-box-align: baseline;
  align-items: baseline;
  border-width: 0px;
  border-radius:  3px;
  box-sizing: border-box;
  display: inline-flex;
  font-size: inherit;
  font-style: normal;
  font-family: inherit;
  font-weight: 500;
  max-width: 100%;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background 0.1s ease-out 0s, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s;
  white-space: nowrap;
  background: none;
  cursor: pointer;
  height: 2.28571em;
  line-height: 2.28571em;
  padding: 0px 10px;
  vertical-align: middle;
  width: auto;
  -webkit-box-pack: center;
  justify-content: center;
  color: #6B778C !important;
}
.css-178ag6o {
  opacity: 1;
  transition: opacity 0.3s ease 0s;
  margin: 0px 2px;
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.css-1yeatxf {
  -webkit-box-align: baseline;
  align-items: baseline;
  border-width: 0px;
  border-radius: 3px;
  box-sizing: border-box;
  display: inline-flex;
  font-size: inherit;
  font-style: normal;
  font-family: inherit;
  font-weight: 500;
  max-width: 100%;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background 0.1s ease-out 0s, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s;
  white-space: nowrap;
  background: #0052CC;
  cursor: pointer;
  height: 2.28571em;
  line-height: 2.28571em;
  padding: 0px 10px;
  vertical-align: middle;
  width: auto;
  -webkit-box-pack: center;
  justify-content: center;
  color:  #FFFFFF !important;
}
.hZCcXT {
  height: 100%;
  min-width: 320px;
  width: 320px;
  position: relative;
  padding: 0 0 0 16px;
  border-left: 1px solid #EBECF0;
  background-color: #fff;
  overflow-y: auto;
  z-index: 10;
}
.kcUZlp {
  font-size: 1.14286em;
  font-style: inherit;
  line-height: 1.25;
  color: #172B4D;
  font-weight: 600;
  letter-spacing: -0.006em;
  margin-top: 24px;
  margin-left: 16px;
}
.cvTXea {
  font-size: 0.785714em;
  font-style: inherit;
  line-height: 1.45455;
  font-weight: 700;
  margin-top: 4px;
  margin-left: 16px;
  color: #44546f;
  text-transform: uppercase;
}
.iUFPHY {
  margin-top: 16px;
}
.fVKkCB {
  position: relative;
  margin-bottom: 8px;
}
.fVKkCB > button {
  padding: 12px;
  background-color: #DEEBFF;
}
.css-17x532y {
  -webkit-box-align: center;
  align-items: center;
  background-color: transparent;
  border-radius: 3px;
  border: 2px solid transparent;
  box-sizing: border-box;
  color: inherit;
  display: flex;
  font-size: inherit;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  outline: none;
  margin: 0px;
  padding: 4px;
  text-align: left;
  text-decoration: none;
  width: 100%;
}
button {
  font-family: inherit;
}
.eQuBCc {
  box-sizing: border-box;
  align-self: flex-start;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  min-height: 32px;
  min-width: 32px;
  border-radius: 4px;
  text-align: center;
  background-color: #0065FF;
  border: 1px solid rgba(0,0,0,0.1);
}
.css-1afrefi {
  display: inline-block;
  flex-shrink: 0;
  line-height: 1;
  width: 24px;
  height: 24px;
}
.css-1afrefi > svg {
  width: 24px;
  height: 24px;
}
.css-1afrefi > svg {
  overflow: hidden;
  pointer-events: none;
  max-width: 100%;
  max-height: 100%;
  color: #ffffff;
  fill: #FFFFFF;
  vertical-align: bottom;
}
.css-t58y3o {
  min-width: 0px;
  max-width: 100%;
  padding-left: 8px;
  flex: 1 1 100%;
  line-height: 1.4;
}
.css-1318b45 {
  display: block;
  margin: 0px;
  color: #091E42;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.jpcEIT {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  gap: 4px;
}
.cZLUEA {
  margin-top:-4px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.css-6ne31f {
  display: block;
  margin:  0px;
  color:  #6B778C;
  font-size: 0.85em;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.iLrHQH {
  margin-top: 4px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  white-space: normal;
}
.hYAaZl {
  position: relative;
  margin-bottom: 8px;
}
.hYAaZl > button {
  padding: 10px;
  background-color: initial;
}
.cRDdfu {
  box-sizing: border-box;
  align-self: flex-start;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  min-height: 32px;
  min-width: 32px;
  border-radius: 4px;
  text-align: center;
  background-color: #6554C0;
  border: 1px solid rgba(0,0,0,0.1);
}
.hHqMuB {
  box-sizing: border-box;
  align-self: flex-start;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  min-height: 32px;
  min-width: 32px;
  border-radius: 4px;
  text-align: center;
  background-color: #36B37E;
  border: 1px solid rgba(0,0,0,0.1);
}
.gdHiIZ {
  box-sizing: border-box;
  align-self: flex-start;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  min-height: 32px;
  min-width: 32px;
  border-radius: 4px;
  text-align: center;
  background-color: #00B8D9;
  border: 1px solid rgba(0,0,0,0.1);
}
.dLbuze {
  box-sizing: border-box;
  align-self: flex-start;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  min-height: 32px;
  min-width: 32px;
  border-radius: 4px;
  text-align: center;
  background-color: #FFAB00;
  border: 1px solid rgba(0,0,0,0.1);
}
.dQoivE {
  box-sizing: border-box;
  align-self: flex-start;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  min-height: 32px;
  min-width: 32px;
  border-radius: 4px;
  text-align: center;
  background-color: #F4F5F7;
  border: 1px solid rgba(0,0,0,0.1);
}
