._11q742nz {
  background: #FFFFFF;
}
._ca0q1tcg {
  padding-top: 20px;
}
._u5f31tcg {
  padding-right: 24px;
}
._n3tdidpf {
  padding-bottom: 0;
  width: 100%;
}
._19bv1tcg {
  padding-left: 24px;
}
._1e0c11p5 {
  display: grid;
}
._zulp1b66 {
  gap: 0.25rem;
}
._kqsw1n9t {
  position: fixed;
}
._1pbyibnn {
  z-index: 11;
}
._1bsb18ua {
  width: calc(100vw -  0px - 240px -  0px -  0px);
}
._vchhusvi {
  box-sizing: border-box;
}
._4t3i14em {
  height: 95px;
}
._v5641fl4 {
  transition: width .3s cubic-bezier(.2,0,0,1) 0s;
}
._wij21bp4 {
  grid-auto-flow: column;
}
._1bah1y6m {
  justify-content: flex-start;
}
._yv0e17hv {
  grid-template-columns: auto auto 1fr 1fr;
}
._zulpu2gc {
  gap:8px;
}
._4cvr1h6o, ._7yvl1h6o:active, ._1rdj1h6o:focus, ._el681h6o:hover {
  align-items: center;
}
._4cvr1h6o {
  align-items: center;
}
._1ul9idpf {
  min-width: 0;
}
._4t3izwfg {
  height: 2pc;
}
._1bsbzwfg {
  width: 2pc;
}
._2rko1sit {
  border-radius: 3px,3px;
}
._19pkidpf {
  margin-top: 10px;
}
._1dyz4jg8 {
  letter-spacing: normal;
}
._1wyb1tcg {
  font-size: 24px;
}
._syaz1c2q {
  color: #172B4D;
}
._o5721q9c {
  white-space: nowrap;
}
._1reo15vq {
  overflow-x: hidden;
}
._18m915vq {
  overflow-y: hidden;
}
._1bto1l2s {
  text-overflow: ellipsis;
}
._k48pbfng {
  font-weight: 500;
}
._vwz41f4h {
  line-height: 28px;
}
._1e0c1txw, ._jcfo1txw:active, ._1d5x1txw:focus, ._hpcc1txw:hover {
  display: flex;
}
._1e0c1txw {
  display: flex;
}
._1bahv2br {
  justify-content: start;
}
.css-bwxjrz {
  opacity: 1;
  transition: opacity 0.3s ease 0s;
  display: flex;
  margin: 0px 2px;
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
  align-self: center;
  font-size: 0px;
  line-height: 0;
  user-select: none;
}
._2rkoaq80 {
  border-radius: 100%!important;
}
.css-1ltvncc, .css-1ltvncc:hover, .css-1ltvncc:active, .css-1ltvncc:focus, .css-1ltvncc:focus-visible, .css-1ltvncc:visited, .css-1ltvncc:disabled, .css-1ltvncc[disabled] {
  -webkit-box-align: baseline;
  align-items: baseline;
  box-sizing: border-box;
  display: inline-flex;
  font-size: inherit;
  font-style: normal;
  font-family: inherit;
  font-weight: 500;
  max-width: 100%;
  position: relative;
  text-align: center;
  color:  #42526E;
  cursor: pointer;
  height: 2.28571em;
  line-height: 2.28571em;
  vertical-align: middle;
  width: auto;
  -webkit-box-pack: center;
  justify-content: center;
  border-width: 0px;
  border-radius:  3px;
  text-decoration: none;
  transition: background 0.1s ease-out 0s, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s;
  white-space: nowrap;
  background: #00000000;
  padding: 0px 2px;
  outline: none;
}
.css-1afrefi {
  display: inline-block;
  flex-shrink: 0;
  line-height: 1;
  width: 24px;
  height: 24px;
}
.css-1afrefi > svg {
  width: 24px;
  height: 24px;
}
.css-1afrefi > svg {
  overflow: hidden;
  pointer-events: none;
  max-width: 100%;
  max-height: 100%;
  color: var(--icon-primary-color);
  fill: #FFFFFF;
  vertical-align: bottom;
}
._1wpzh9n0 {
  align-self: end;
}
._1bahh9n0 {
  justify-content: end;
}
._otyru2gc {
  margin-bottom: 8px;
}
._18u01b66 {
  margin-left: 4px;
}
._syazjjyb {
  color: #42526e;
}
._k48pni7l {
  font-weight: 600;
}
._1wyb1crf {
  font-size: 9pt;
}
._19pkidpf {
  margin-top: 10px;
}
.css-17jk1s1 {
  display: flex;
  position: relative;
  margin: 0;
  background-color: #FFFFFF;
}
.css-u7m6r5 {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}
.css-1mwy72n {
  display: flex;
  margin: 2px;
  height: 30px;
}
.css-15tojpz {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  border-width: 2px;
  border-style: solid;
  border-image: initial;
  box-sizing: border-box;
  border-radius: 6px;
  transition: border-color 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s;
  background-color: #FFFFFF;
  border-color:  #FFFFFF;
  padding: 0px;
  cursor: pointer;
  outline: none;
}
.css-1vdlabt {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 24px;
  height: 24px;
  border-radius: 3px;
  box-shadow: inset 0px 0px 0px 1px rgba(13, 20, 36, 0.18);
}
.css-13d3w74 {
  margin: 1px;
}
._1yt4pxbi.ant-dropdown-menu.ant-dropdown-menu-root.ant-dropdown-menu-light.ant-dropdown-menu-vertical.ng-tns-c1903745324-6 {
  padding: 1pc;
}
