<header class="_11q742nz _ca0q1tcg _u5f31tcg _n3tdidpf _19bv1tcg _1e0c11p5 _zulp1b66 _kqsw1n9t _1pbyibnn _1bsb18ua _vchhusvi _4t3i14em _v5641fl4">
  <div class="_1e0c11p5 _wij21bp4 _1bah1y6m _yv0e17hv _zulpu2gc _4cvr1h6o _1ul9idpf" *ngFor="let member of projectData">
    <img src="/assets/img/10418.svg" class="_vchhusvi _4t3izwfg _1bsbzwfg _2rko1sit" />
    <h1 class="_19pkidpf _1dyz4jg8 _syaz1c2q _o5721q9c _1reo15vq _18m915vq _1bto1l2s _1wyb1tcg _k48pbfng _vwz41f4h">
      {{ member.projectName }}
    </h1>
    <div class="_1e0c1txw _1bahv2br">
      <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu" class="_2rkoaq80 css-1ltvncc">
        <span class="css-bwxjrz">
          <span role="img" class="css-1afrefi">
            <svg width="24" height="24" viewBox="0 0 24 24" role="presentation">
              <path
                d="M7.818 12.56l4.243 4.243 4.242-4.242-4.242-4.243-4.243 4.243zm-1.414 1.415a1.995 1.995 0 010-2.828l4.243-4.243a1.995 1.995 0 012.828 0l4.243 4.243c.78.78.786 2.041 0 2.828l-4.243 4.243a1.996 1.996 0 01-2.828 0l-4.243-4.243zM6.5 13h11l-5.44 5.218L6.5 13zm2.732-8.925a1 1 0 011.414 0l3.536 3.536-1.414 1.414L9.232 5.49a1 1 0 010-1.415zM18 16s1.5 2 1.5 3.5c0 1-1 1.5-1.5 1.5s-1.5-.4-1.5-1.5C16.5 18 18 16 18 16z"
                fill="currentColor">
              </path>
            </svg>
          </span>
        </span>
      </a>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <div nz-menu class="_1yt4pxbi">
          <span class="_1wyb1crf _k48pni7l _syazjjyb _19pkidpf _otyru2gc _18u01b66">Set background color</span>
          <div aria-label="Set background color, White selected" class="css-17jk1s1" style="width: 306px">
            <div class="css-u7m6r5">
              <div class="css-1mwy72n">
                <div role="presentation">
                  <div role="radio" class="css-15tojpz">
                    <div class="css-1vdlabt" style="background: rgb(255, 255, 255)" title="White">
                      <div class="css-13d3w74">
                        <span aria-hidden="true" class="css-snhnyn">
                          <svg width="24" height="24" viewBox="0 0 24 24" role="presentation">
                            <path d="M7.356 10.942a.497.497 0 00-.713 0l-.7.701a.501.501 0 00-.003.71l3.706 3.707a.501.501 0 00.705.003l7.712-7.712a.493.493 0 00-.006-.708l-.7-.7a.504.504 0 00-.714 0l-6.286 6.286a.506.506 0 01-.713 0l-2.288-2.287z" fill="currentColor"></path>
                          </svg>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="css-1mwy72n">
                <div role="presentation">
                  <div role="radio" class="css-15tojpz">
                    <div class="css-1vdlabt" style="background: rgb(234, 230, 255)" title="Light purple"></div>
                  </div>
                </div>
              </div>
              <div class="css-1mwy72n">
                <div role="presentation">
                  <div role="radio" class="css-15tojpz">
                    <div class="css-1vdlabt" style="background: rgb(222, 235, 255)" title="Light blue"></div>
                  </div>
                </div>
              </div>
              <div class="css-1mwy72n">
                <div role="presentation">
                  <div role="radio" class="css-15tojpz">
                    <div class="css-1vdlabt" style="background: rgb(230, 252, 255)" title="Light teal"></div>
                  </div>
                </div>
              </div>
              <div class="css-1mwy72n">
                <div role="presentation">
                  <div role="radio" class="css-15tojpz">
                    <div class="css-1vdlabt" style="background: rgb(227, 252, 239)" title="Light green"></div>
                  </div>
                </div>
              </div>
              <div class="css-1mwy72n">
                <div role="presentation">
                  <div role="radio" class="css-15tojpz">
                    <div class="css-1vdlabt" style="background: rgb(255, 250, 230)" title="Light yellow"></div>
                  </div>
                </div>
              </div>
              <div class="css-1mwy72n">
                <div role="presentation">
                  <div role="radio" class="css-15tojpz">
                    <div class="css-1vdlabt" style="background: rgb(255, 244, 229)" title="Light orange"></div>
                  </div>
                </div>
              </div>
              <div class="css-1mwy72n">
                <div role="presentation">
                  <div role="radio" class="css-15tojpz">
                    <div class="css-1vdlabt" style="background: rgb(255, 235, 230)" title="Light red"></div>
                  </div>
                </div>
              </div>
              <div class="css-1mwy72n">
                <div role="presentation">
                  <div role="radio" class="css-15tojpz">
                    <div class="css-1vdlabt" style="background: rgb(255, 236, 248)" title="Light magenta"></div>
                  </div>
                </div>
              </div>
              <div class="css-1mwy72n">
                <div role="presentation">
                  <div role="radio" class="css-15tojpz">
                    <div class="css-1vdlabt" style="background: rgb(23, 43, 77)" title="Dark"></div>
                  </div>
                </div>
              </div>
              <div class="css-1mwy72n">
                <div role="presentation">
                  <div role="radio" class="css-15tojpz">
                    <div class="css-1vdlabt" style="background: rgb(63, 59, 140)" title="Purple"></div>
                  </div>
                </div>
              </div>
              <div class="css-1mwy72n">
                <div role="presentation">
                  <div role="radio" class="css-15tojpz">
                    <div class="css-1vdlabt" style="background: rgb(33, 104, 198)" title="Blue"></div>
                  </div>
                </div>
              </div>
              <div class="css-1mwy72n">
                <div role="presentation">
                  <div role="radio" class="css-15tojpz">
                    <div class="css-1vdlabt" style="background: rgb(7, 110, 138)" title="Teal"></div>
                  </div>
                </div>
              </div>
              <div class="css-1mwy72n">
                <div role="presentation">
                  <div role="radio" class="css-15tojpz">
                    <div class="css-1vdlabt" style="background: rgb(33, 110, 78)" title="Green"></div>
                  </div>
                </div>
              </div>
              <div class="css-1mwy72n">
                <div role="presentation">
                  <div role="radio" class="css-15tojpz">
                    <div class="css-1vdlabt" style="background: rgb(148, 111, 0)" title="Yellow"></div>
                  </div>
                </div>
              </div>
              <div class="css-1mwy72n">
                <div role="presentation">
                  <div role="radio" class="css-15tojpz">
                    <div class="css-1vdlabt" style="background: rgb(182, 92, 2)" title="Orange"></div>
                  </div>
                </div>
              </div>
              <div class="css-1mwy72n">
                <div role="presentation">
                  <div role="radio" class="css-15tojpz">
                    <div class="css-1vdlabt" style="background: rgb(181, 72, 57)" title="Red"></div>
                  </div>
                </div>
              </div>
              <div class="css-1mwy72n">
                <div role="presentation">
                  <div role="radio" class="css-15tojpz">
                    <div class="css-1vdlabt" style="background: rgb(174, 71, 135)" title="Magenta"></div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </nz-dropdown-menu>
    </div>
  </div>

  <p-tabMenu [model]="items"></p-tabMenu>

</header>
