._11q71j6p {
  background: #FFFFFF;
  width: 100%;
}
._kqswh2mm {
  position: relative;
}
._154i14em {
  top: 95px;
}
._2d3f1oc1>:first-of-type {
  width: calc(100vw - 0px - 240px - 0px - 0px ) !important;
}
._japi1mcq>:first-of-type {
  height: calc(100vh - ( 56px + 0px ) - 95px);
}
._iu1g1fl4>:first-of-type {
  transition: width .3s cubic-bezier(.2,0,0,1) 0s;
}
._fok81wug>:first-of-type {
  overflow-x: auto;
}
._q7c11wug>:first-of-type {
  overflow-y: auto;
}
._vchhusvi {
  box-sizing: border-box;
}
._1e0c1txw, ._jcfo1txw:active, ._1d5x1txw:focus, ._hpcc1txw:hover {
  display: flex;
}
._1e0c1txw {
  display: flex;
}
._1n261q9c {
  flex-wrap: nowrap;
}
._1bah1y6m {
  justify-content: flex-start;
}
._ca0qidpf {
  padding-top: 0;
}
._4t3i1osq {
  height: 100%;
}
._1tke1wug {
  min-height: auto;
}
._u5f31tcg {
  padding-right: 24px;
}
._n3td1tcg {
  padding-bottom: 24px;
}
._19bv1tcg {
  padding-left: 24px;
}
._1reo1wug {
  overflow-x: auto;
}
._18m91wug {
  overflow-y: auto;
}
._4cvr1fhb {
  align-items: stretch;
}
._80om73ad {
  cursor: default;
}
._19bvidpf {
  padding-left: 0;
}
._u5f3idpf {
  padding-right: 0;
}
._n3tdidpf {
  padding-bottom: 0;
  width: 100%;
}
.css-1btht9s {
  display: flex;
  height: 100%;
  position: relative;
  grid-area: content;
  padding-top: 56px;
}
._19pkv47k {
  margin-top: 50px;
}
._otyr1b66 {
  margin-bottom: 4px;
}
._p12ftgmt {
  max-width: 822pt;
}
._1wpz1h6o {
  align-self: center;
}
._4cvr1h6o, ._7yvl1h6o:active, ._1rdj1h6o:focus, ._el681h6o:hover {
  align-items: center;
}
._4cvr1h6o {
  align-items: center;
}
._y3gn1h6o {
  text-align: center;
}
._1bsb1osq {
  width: 100%;
}
._1tkezwfg {
  min-height: 2pc;
}
._1bah1b1v {
  justify-content: space-around;
}
._1ul91j4a {
  min-width: 130px;
}
._y3gnusic {
  text-align: right;
}
._1wyb1tcg {
  font-size: 24px;
}
._syaz1c2q {
  color: #172B4D;
}
h3 {
  font-size: 1.4285714285714286em;
  font-style: inherit;
  line-height: 1.2;
  color:  #172B4D;
  font-weight:  500;
  letter-spacing: -0.008em;
  margin-top: 28px;
}
._1ul91j4a {
  min-width: 130px;
}
._y3gnusic {
  text-align: right;
}
._1xi2idpf {
  right: 0;
}

._kqswstnw {
  position: absolute;
}
.css-1yaiuar, .css-1yaiuar:hover, .css-1yaiuar:active, .css-1yaiuar:focus, .css-1yaiuar:focus-visible, .css-1yaiuar:visited, .css-1yaiuar:disabled, .css-1yaiuar[disabled] {
  -webkit-box-align: baseline;
  align-items: baseline;
  border-width: 0px;
  border-radius:  3px;
  box-sizing: border-box;
  display: inline-flex;
  font-size: inherit;
  font-style: normal;
  font-family: inherit;
  font-weight: 500;
  max-width: 100%;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background 0.1s ease-out 0s, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s;
  white-space: nowrap;
  background:  none;
  color:  #42526E;
  cursor: pointer;
  height: 2.28571em;
  line-height: 2.28571em;
  padding: 0px 10px;
  vertical-align: middle;
  width: auto;
  -webkit-box-pack: center;
  justify-content: center;
  outline: none;
}
.css-4h66kx {
  opacity: 1;
  transition: opacity 0.3s ease 0s;
  display: flex;
  margin-top: 0px;
  margin-right: 2px;
  margin-bottom: 0px;
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
  align-self: center;
  font-size: 0px;
  line-height: 0;
  user-select: none;
  margin-left:  -2px;
}
.css-1wits42 {
  display: inline-block;
  flex-shrink: 0;
  line-height: 1;
  width: 16px;
  height: 16px;
}
.css-1wits42 > svg {
  width: 16px;
  height: 16px;
}
.css-1wits42 > svg {
  overflow: hidden;
  pointer-events: none;
  max-width: 100%;
  max-height: 100%;
  color: var(--icon-primary-color);
  fill: #FFFFFF;
  vertical-align: bottom;
}
.css-178ag6o {
  opacity: 1;
  transition: opacity 0.3s ease 0s;
  margin: 0px 2px;
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
._p12f1fdn {
  max-width: 40pc;
}
._18s8134w {
  margin: 9pt auto 0;
}
._vwz41ejb {
  line-height: 24px;
}
._2rko1y44 {
  border-radius: 4px;
}
._k48p1nn1 {
  font-weight: 400;
}
._bfhk18uv {
  background-color: initial;
}
._18s8vjyi {
  margin: 0 0 9pt;
}
._2lx21bp4 {
  flex-direction: column;
}
.css-g08w6q, .css-g08w6q:hover, .css-g08w6q:active, .css-g08w6q:focus, .css-g08w6q:focus-visible, .css-g08w6q:visited, .css-g08w6q:disabled, .css-g08w6q[disabled] {
  -webkit-box-align: baseline;
  align-items: baseline;
  border-width: 0px;
  border-radius:  3px;
  box-sizing: border-box;
  display: inline-flex;
  font-size: inherit;
  font-style: normal;
  font-family: inherit;
  font-weight: 500;
  max-width: 100%;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background 0.1s ease-out 0s, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s;
  white-space: nowrap;
  background:  none;
  color:  #44546f;
  cursor: pointer;
  height: 2.28571em;
  line-height: 2.28571em;
  padding: 0px 10px;
  vertical-align: middle;
  width: auto;
  -webkit-box-pack: center;
  justify-content: center;
  outline: none;
}
.css-1q91qu1 {
  opacity: 1;
  transition: opacity 0.3s ease 0s;
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 2px;
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
  align-self: center;
  font-size: 0px;
  line-height: 0;
  user-select: none;
  margin-right:  -2px;
}
.css-snhnyn {
  display: inline-block;
  flex-shrink: 0;
  line-height: 1;
}
.css-snhnyn > svg {
  overflow: hidden;
  pointer-events: none;
  max-width: 100%;
  max-height: 100%;
  color: var(--icon-primary-color);
  fill: #FFFFFF;
  vertical-align: bottom;
}
._18u01bs0 {
  margin-left: -8px;
}
._1n261g80 {
  flex-wrap: wrap;
}
._otyridpf {
  margin-bottom: 0;
}
._2hwx1bs0 {
  margin-right: -8px;
}
._1ul91pna {
  min-width: 420px;
}
._zulppxbi {
  gap: 1pc;
}
._18s8u2gc {
  margin: 8px;
}
._1iohnqa1:active, ._jf4cnqa1:hover, ._xatrnqa1:link, ._1726nqa1:visited {
  text-decoration-style: solid;
}
._c2waglyw:active, ._1bnxglyw:hover, ._13jxglyw:link, ._1x28glyw:visited {
  text-decoration-line: none;
}
._1nrm18uv:active, ._9oik18uv:hover, ._5bd618uv:link, ._1ydc18uv:visited {
  text-decoration-color: initial;
}
._15yoglyw {
  --icon-transform: none;
}
._v564ds4c {
  transition: box-shadow .3s ease 0s;
}
._4t3i16xz {
  height: 6pc;
}
._bfhkhp5a {
  background-color: #fff;
}
._1yt41ejb {
  padding: 24px;
}
._1bsbckbl {
  width: 3pc;
}
a {
  color: #0C66E4;
  text-decoration: none;
}
._4t3ickbl {
  height: 3pc;
}
._2rko1ssb {
  border-radius: 50%;
}
._t9ec157v {
  transform: none;
}
._v5641ycq {
  transition: transform .15s ease-in-out 0s;
}
._18u0utpp {
  margin-left: 9pt;
}
._1ul9idpf {
  min-width: 0;
}
._syazc59f {
  color: #216E4E;
}
._1wybgktf {
  font-size: 20px;
}
._2rkoftgi {
  border-radius: 8px;
}
._19pkftgi {
  margin-top: 8px;
}
._19pkpxbi {
  margin-top: 1pc;
}
._1tkeidpf {
  min-height: 0;
}
._i0dl1ssb {
  flex-basis: 50%;
}
._i0dl1ssb {
  flex-basis: 50%;
}
._19bv1ejb {
  padding-left:24px;
}
._2hwxx0bf {
  margin-right: -8px;
}
._c71l1osq {
  max-height: 100%;
}
._syazc8hx {
  color: #344563;
}
._u5f3u2gc {
  padding-right: 8px;
}
._1yt41xzv {
  padding: 2px 8px 2px 4px;
}
._2rko1l7b {
  border-radius: 3px;
}
._tzy417j0 {
  opacity: 1;
}
._16qs6u33 {
  box-shadow: inset 0 0 0 1px #0000001a;
}
._bfhk1cj8 {
  background-color: #2684FF;
}
._1bsb7vkz {
  width: 1pc;
}
._2hwxu2gc {
  margin-right: 8px;
}
._4t3i7vkz {
  height: 1pc;
}
._1yt4fnvl {
  padding: 0 8px 0 4px;
}
._k48p1fw0 {
  font-weight: 700;
}
._1bah1h6o, ._1uc31h6o:active, ._12nc1h6o:focus, ._1dy61h6o:hover {
  justify-content: center;
}
._3um0ewfl {
  visibility: visible;
}
.css-1afrefi {
  display: inline-block;
  flex-shrink: 0;
  line-height: 1;
  width: 24px;
  height: 24px;
}
.css-1afrefi > svg {
  width: 24px;
  height: 24px;
}
.css-1afrefi > svg {
  overflow: hidden;
  pointer-events: none;
  max-width: 100%;
  max-height: 100%;
  color: #44546F;
  fill: #FFFFFF;
  vertical-align: bottom;
}
._18s8171m {
  margin: 0 0 0 8px;
}
._vwz41tcg {
  line-height: 24px;
}
.css-1l60c9, .css-1l60c9:hover, .css-1l60c9:active, .css-1l60c9:focus, .css-1l60c9:focus-visible, .css-1l60c9:visited, .css-1l60c9:disabled, .css-1l60c9[disabled] {
  -webkit-box-align: baseline;
  align-items: baseline;
  border-width: 0px;
  border-radius:  3px;
  box-sizing: border-box;
  display: inline-flex;
  font-size: inherit;
  font-style: normal;
  font-family: inherit;
  font-weight: 500;
  max-width: 100%;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background 0.1s ease-out 0s, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s;
  white-space: nowrap;
  background:  none;
  color:  #0c66e4;
  cursor: pointer;
  height: auto;
  line-height: inherit;
  padding: 0px;
  vertical-align: baseline;
  width: auto;
  -webkit-box-pack: center;
  justify-content: center;
  outline: none;
}
.css-1gd7hga {
  opacity: 1;
  transition: opacity 0.3s ease 0s;
  margin: 0px;
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
._otyrpxbi {
  margin-bottom: 1pc;
}
._1o9zidpf {
  flex-shrink: 0;
}
._syaz1fxt {
  color: #172b4d;
}
h4 {
  font-size: 1.1428571428571428em;
  font-style: inherit;
  line-height: 1.25;
  color:  #172B4D;
  font-weight:  600;
  letter-spacing: -0.006em;
  margin-top: 24px;
}
._11q71mtt {
  background: linear-gradient(#fff,#fff) 0 0 /100% 2px no-repeat local border-box,linear-gradient(#fff),#fff 0 100% /100% 2px no-repeat local border-box,linear-gradient(#ebecf0),#ebecf0 0 0 /100% 2px no-repeat scroll content-box,linear-gradient(#ebecf0),#ebecf0 0 100% /100% 2px no-repeat scroll content-box;
}
._18s813hl {
  margin: 8px -24px 0;
}
._1hk51b66:first-child {
  margin-top: 4px;
}
dt {
  display: block;
}
dd, dd + dt, li + li {
  margin-top:  4px;
}
dd, dd+dt, li+li, ul ul:not(:first-child), ol ul:not(:first-child), ul ol:not(:first-child), ol ol:not(:first-child) {
  margin-top: 4px;
}
dd {
  display: block;
  margin-inline-start: 40px;
}
._qtt8glyw {
  list-style: none;
}
._1yt41bpf {
  padding: 8px 0;
}
._18u0idpf {
  margin-left: 0;
}
._2hwxidpf {
  margin-right: 0;
}
._19pkidpf {
  margin-top: 0;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
}
._18s81hqg {
  margin: 4px 0 0 44px;
}
._1nmz1hna {
  word-break: break-word;
}
._18s8swc3 {
  margin: 4px 0;
}
._1wyb1skh {
  font-size: 11px;
}
._syaz1rc1 {
  color: #5e6c84;
}
._1p1dangw {
  text-transform: uppercase;
}
.css-1qdk52b {
  height: 32px;
  width: 32px;
  -webkit-box-align: stretch;
  align-items: stretch;
  background-color:  #FFFFFF;
  border-radius: 50%;
  box-sizing: content-box;
  cursor: inherit;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  outline: none;
  overflow: hidden;
  position: static;
  transform: translateZ(0px);
  transition: transform 200ms ease 0s, opacity 200ms ease 0s;
  box-shadow: 0 0 0 2px #FFFFFF;
  border: none;
  margin:  2px;
  padding:  0px;
  font-size: inherit;
  font-family: inherit;
}
.css-13ep12v {
  display: flex;
  width: 100%;
  height: 100%;
  flex: 1 1 100%;
}
.css-1qdk52b::after {
  background-color: transparent;
  inset: 0px;
  border-radius: 50%;
  content: " ";
  opacity: 0;
  pointer-events: none;
  position: absolute;
  transition: opacity 200ms ease 0s;
  width: 100%;
}
@media (prefers-reduced-motion: reduce){
  .jira-dialog, .jira-dialog *, :after, :before {
    transition-duration: 0ms !important;
  }
}
._18u0u2gc {
  margin-left: 8px;
}
._i0dlf1ug {
  flex-basis: 0%;
}
._11q71saz {
  background: linear-gradient(#fff),#fff 0 24px /100% 2px no-repeat local border-box,linear-gradient(#ebecf0),#ebecf0 0 100% /100% 2px no-repeat scroll content-box;
}
._18s8a2pq {
  margin: 1pc -24px 0;
}
._1yt41e2i {
  padding: 0 24px;
}
._16jlidpf {
  flex-grow: 0;
}
thead, tbody, tfoot {
  border-bottom: 2px solid #dfe1e6;
}
thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}
table {
  border-collapse: collapse;
  width: 100%;
}
td:first-child, th:first-child {
  padding-left: 0;
}
._11q7hp5a {
  background: #fff;
}
._kqsw1if8 {
  position: sticky;
}
._vwz47vkz {
  line-height: 1pc;
}
._154iidpf {
  top: 0;
}
._1pbykb7n {
  z-index: 1;
}
._syaz1wmz {
  color: #6b778c;
}
th {
  vertical-align: top;
}
td, th {
  border: none;
  padding:  4px  8px;
  text-align: left;
}
._19itglyw {
  border: none;
}
._1bsb1lit {
  width: 10pc;
}
._bfhk1s4m {
  background-color: #f4f5f7;
}
._4t3i1crf {
  height: 9pt;
}
._i0dl1wug {
  flex-basis: auto;
}
._1o9zkb7n {
  flex-shrink: 1;
}
._16jlkb7n {
  flex-grow: 1;
}
._bfhkm9ld {
  background-color: #505F79;
}
._2rkoi2wt {
  border-radius: 6px;
}
._1bsbidpf {
  width: 0;
}
._bfhk155y {
  background-color: #091e4214;
}
._2rkoglpi {
  border-radius: 4px;
}
._2hwx12x7 {
  margin-right: 6px;
}
._18u0x0bf {
  margin-left: -8px;
}
._1wpz1y6m {
  align-self: flex-start;
}
._19pku2gc {
  margin-top: 8px;
}
.css-1pifu9q {
  -webkit-box-align: baseline;
  align-items: baseline;
  border-width: 0px;
  border-radius:  3px;
  box-sizing: border-box;
  display: inline-flex;
  font-size: inherit;
  font-style: normal;
  font-family: inherit;
  font-weight: 500;
  max-width: 100%;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background 0.1s ease-out 0s, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s;
  white-space: nowrap;
  background:  none;
  cursor: pointer;
  height: 2.28571em;
  line-height: 2.28571em;
  padding: 0px 10px;
  vertical-align: middle;
  width: auto;
  -webkit-box-pack: center;
  justify-content: center;
  color:  #6B778C !important;
}
._18u01ul9 {
  margin-left: 30px;
}
._1ejii47z {
  grid-auto-columns: minmax(0,1fr);
}
._wij21bp4 {
  grid-auto-flow: column;
}
._1e0c11p5 {
  display: grid;
}
._4t3i1tcg {
  height: 24px;
}
._1bsb1tcg {
  width: 24px;
}
._19pkv77o {
  margin-top: 2px;
}
._p12f1osq {
  max-width: 100%;
}
._k48pbfng {
  font-weight: 500;
}
._1bto1l2s {
  text-overflow: ellipsis;
}
._o5721q9c {
  white-space: nowrap;
}
._1wyb1crf {
  font-size: 9pt;
}
._18m915vq {
  overflow-y: hidden;
}
._1reo15vq {
  overflow-x: hidden;
}
._syaz1fxt, ._30l31fxt:hover {
  color: #172b4d;
}
._16qs1os1 {
  box-shadow: 0 1px 1px #091e4240,0 0 1px 1px #091e4221;
}
._2hwxftgi {
  margin-right: 8px;
}
._4t3i1kdj {
  height: 28pc;
}
._otyrftgi {
  margin-bottom: 8px;
}
._18u0ftgi {
  margin-left: 8px;
}
._1yt4vkk0 {
  padding: 24px 2pc;
}
