.css-1e52mjn {
  display: flex;
  height: 100vh;
  position: fixed;
  z-index: 500;
  background-color:  #FFFFFF;
  --ds-elevation-surface-current:  #FFFFFF;
  inset-block-start: 0px;
  inset-inline-start: 0px;
  overflow: hidden;
}
.css-110nfxs {
  flex: 1 1 0%;
  overflow: auto;
  margin: 0px;
}
._4t3i1osq {
  height: 100%;
}
.gzXWoo {
  margin-left: -64px;
}
.eJUSpz {
  height: calc(100vh - 64px);
  margin-top: 0px;
}
.dhgqev {
  margin-left: 64px;
  z-index: 10;
  box-sizing: border-box;
  top: 0px;
  position: sticky;
  width: auto;
  background-color: #FFFFFF;
  padding: 16px;
  border-bottom: rgba(0,0,0,0) 2px solid;
}
.css-48ccbj {
  -webkit-box-align: baseline;
  align-items: baseline;
  border-width: 0px;
  border-radius: 3px;
  box-sizing: border-box;
  display: inline-flex;
  font-size: inherit;
  font-style: normal;
  font-family: inherit;
  font-weight: 500;
  max-width: 100%;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background 0.1s ease-out 0s, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s;
  white-space: nowrap;
  background:  none;
  cursor: pointer;
  height: 2.28571em;
  line-height: 2.28571em;
  padding: 0px 10px;
  vertical-align: middle;
  width: auto;
  -webkit-box-pack: center;
  justify-content: center;
  color:  #42526E !important;
}
.css-4h66kx {
  opacity: 1;
  transition: opacity 0.3s ease 0s;
  display: flex;
  margin-top: 0px;
  margin-right: 2px;
  margin-bottom: 0px;
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
  align-self: center;
  font-size: 0px;
  line-height: 0;
  user-select: none;
  margin-left:  -2px;
}
.css-178ag6o {
  opacity: 1;
  transition: opacity 0.3s ease 0s;
  margin: 0px 2px;
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.iunuJJ {
  height: 100%;
  place-content: start center;
  display: flex;
  -webkit-box-pack: center;
  width: 1090px;
}
._1bah1h6o, ._1uc31h6o:active, ._12nc1h6o:focus, ._1dy61h6o:hover {
  justify-content: center;
}
._1bsb5o3v {
  width: 900px;
}
._1bah1h6o {
  justify-content: center;
}
._2lx21bp4 {
  flex-direction: column;
}
._1e0c1txw {
  display: flex;
}
._c71l1osq {
  max-height: 100%;
}
._1bah1yb4 {
  justify-content: space-between;
}
._4cvr1y6m {
  align-items: flex-start;
}
._1bsb1kdj {
  width: 25pc;
}
.kNJJyu {
  font-size: 2.07143em;
  font-style: inherit;
  line-height: 1.10345;
  color: #172B4D;
  font-weight: 600;
  letter-spacing: -0.01em;
  margin-top: 40px;
  margin-bottom: 16px;
}
._syazjydv {
  color: #091e42;
}
._otyrpxbi {
  margin-bottom: 1pc;
}
._otyrxy5q {
  margin-bottom: 2pc;
}
._syaz1l5o {
  color: #ff5630;
}
._1wyb1crf {
  font-size: 9pt;
}
._syazj3m3 {
  color: #091e42;
}
._kqswh2mm {
  position: relative;
}
input:not([type=checkbox]):not([type=radio]), select, textarea {
  outline: 0;
  border-bottom-right-radius: 3.01px;
}
.css-1cab8vv:placeholder-shown {
  text-overflow: ellipsis;
}
.css-1cab8vv:invalid {
  box-shadow: none;
}
.css-1cab8vv:not([data-compact]) {
  padding:  3px 6px;
  height: 2.57em;
}
.css-1cab8vv {
  background-color: transparent;
  border: 0px;
  box-sizing: border-box;
  color: inherit;
  cursor: inherit;
  font-size: 14px;
  min-width: 0px;
  outline: none;
  width: 100%;
  line-height: 1.42857;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
._1bsb1osq {
  width: 100%;
}
._94n51osq {
  bottom: 100%;
}
._1xi2idpf {
  right: 0;
}
._kqswstnw {
  position: absolute;
}
.htzfyM {
  background: none;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding: 0px;
  border: 0px;
  cursor: pointer;
  margin-top: 8px;
  border-radius: 8px;
}
.fpMARX {
  display: flex;
  overflow: hidden;
  height: 120px;
  background-color: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0px 1px 1px rgba(9,30,66,0.13),0px 0px 1px rgba(9,30,66,0.13);
}
._1bsb1x1l {
  width: 25%;
}
._1yt4s8vo {
  padding: 0 9pt;
}
._bfhk1s4m {
  background-color: #f4f5f7;
}
.ifkRfi {
  width: 75px;
  height: 50px;
  background-image: url(/assets/img/customer-service-management.svg);
  background-size: cover;
}
._1bsb1n8h {
    width: 70%;
}
._1yt41e2i {
    padding: 0 24px;
}
._k48pbfng {
  font-weight: 500;
}
._y3gn1e5h {
  text-align: left;
}
._2hwx12x7 {
  margin-right: 6px;
}
._19pk1b66 {
  margin-top: 4px;
}
._otyr1b66 {
  margin-bottom: 4px;
}
.css-5vjqu0 {
  display: inline-block;
  position: relative;
  color: var(--logo-color);
  fill: var(--logo-fill);
  line-height: 1;
  user-select: none;
  white-space: normal;
  height: 16px;
}
.css-5vjqu0 > svg {
  height: 100%;
  fill: inherit;
}
.iAoyYo {
  color: #6B778C;
  margin-top: 4px;
  text-align: left;
  font-size: 11px;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.css-gu2hl6 {
  display: inline-block;
  flex-shrink: 0;
  line-height: 1;
  width: 32px;
  height: 32px;
}
.css-gu2hl6 > svg {
  width: 32px;
  height: 32px;
}
.css-gu2hl6 > svg {
  overflow: hidden;
  pointer-events: none;
  max-width: 100%;
  max-height: 100%;
  color: var(--icon-primary-color);
  fill: #FFFFFF;
  vertical-align: bottom;
}
._4cvr1h6o, ._7yvl1h6o:active, ._1rdj1h6o:focus, ._el681h6o:hover {
  align-items: center;
}
._1e0c1txw, ._jcfo1txw:active, ._1d5x1txw:focus, ._hpcc1txw:hover {
  display: flex;
}
._2hwx1ejb {
  margin-right: 24px;
}
._1yt41bpf {
  padding: 8px 0;
}
.css-7pg0cj-a11yText {
  z-index: 9999;
  border: 0px;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
  position: absolute;
  overflow: hidden;
  padding: 0px;
  white-space: nowrap;
}
.css-l6rpfx-control {
  -webkit-box-align: center;
  align-items: center;
  cursor: default;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
  min-height: 40px;
  position: relative;
  transition: background-color 200ms ease-in-out 0s, border-color 200ms ease-in-out 0s;
  background-color:  #F4F5F7;
  border-color:  #F4F5F7;
  border-radius: 3px;
  border-style: solid;
  border-width:  2px;
  box-shadow: none;
  box-sizing: border-box;
  padding: 0px;
  outline: 0px !important;
}
._4t3i1tcg {
  height: 24px;
}
._1bsb1tcg {
  width: 24px;
}
._18u0u2gc {
  margin-left: 8px;
}
.css-19by3g5-singleValue {
  grid-area: 1 / 1 / 2 / 3;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color:  #172B4D;
  margin-left: 2px;
  margin-right: 2px;
  box-sizing: border-box;
  line-height:  16px;
}
.css-1tbvomj {
  visibility: visible;
  flex: 1 1 auto;
  display: inline-grid;
  grid-area: 1 / 1 / 2 / 3;
  grid-template-columns: 0px min-content;
  margin: 2px;
  padding-bottom: 2px;
  padding-top: 2px;
  color:  hsl(0, 0%, 20%);
  box-sizing: border-box;
}
.css-1tbvomj::after {
  content: attr(data-value) " ";
  visibility: hidden;
  white-space: pre;
  grid-area: 1 / 2;
  font: inherit;
  min-width: 2px;
  border: 0px;
  margin: 0px;
  outline: 0px;
  padding: 0px;
}
.css-ud5qw-indicatorContainer {
  display: flex;
  transition: color 150ms ease 0s;
  color:  #42526E;
  box-sizing: border-box;
  padding: 6px 2px;
}
.css-snhnyn {
  display: inline-block;
  flex-shrink: 0;
  line-height: 1;
}
.css-snhnyn > svg {
  overflow: hidden;
  pointer-events: none;
  max-width: 100%;
  max-height: 100%;
  color: var(--icon-primary-color);
  fill: #FFFFFF;
  vertical-align: bottom;
}
.dTiCjq {
  margin-bottom: 8px;
}
.dTiCjq > div:first-child {
  min-width: 400px;
}
._1bsb1j89 {
  width: 22pc;
}
.css-q5x77e {
  margin-top: 8px;
}
._1wybw1gv {
  font-size: 13px;
}
._syaz1o15 {
  color: #7a869a;
}
._18u01b66 {
  margin-left: 4px;
}
a {
  color:  #0052CC;
  text-decoration: none;
}
._2lx2vrvc {
  flex-direction: row;
}
.bAicgJ {
  padding-top: 0px;
}
.bAicgJ label {
  display: flex;
}
._2hwx1i6y {
  margin-right: -2px;
}
._18u0v77o {
  margin-left: 2px;
}
._1wybdlk8 {
  font-size: 14px;
}
._k48p1nn1 {
  font-weight: 400;
}
.css-137quks {
  -webkit-box-align: baseline;
  align-items: baseline;
  border-width: 0px;
  border-radius:  3px;
  box-sizing: border-box;
  display: inline-flex;
  font-size: inherit;
  font-style: normal;
  font-family: inherit;
  font-weight: 500;
  max-width: 100%;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background 0.1s ease-out 0s, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s;
  white-space: nowrap;
  background:  none;
  cursor: pointer;
  height: auto;
  line-height: inherit;
  padding: 0px;
  vertical-align: baseline;
  width: auto;
  -webkit-box-pack: center;
  justify-content: center;
  color:  #0052CC !important;
}
.css-1gd7hga {
  opacity: 1;
  transition: opacity 0.3s ease 0s;
  margin: 0px;
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.kiEhsR {
  color: #6554C0;
}
.css-1wits42 {
  display: inline-block;
  flex-shrink: 0;
  line-height: 1;
  width: 16px;
  height: 16px;
}
.css-1wits42 > svg {
  width: 16px;
  height: 16px;
}
.css-1wits42 > svg {
  overflow: hidden;
  pointer-events: none;
  max-width: 100%;
  max-height: 100%;
  color: var(--icon-primary-color);
  fill: #FFFFFF;
  vertical-align: bottom;
}
.css-twk84a {
  padding-left:  2px;
  color:  #DE350B;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
.css-1s25hsw {
  -webkit-box-align: center;
  align-items: center;
  background-color:  #FAFBFC;
  border-color:  #DFE1E6;
  color:  #091E42;
  cursor: text;
  border-radius: 3px;
  border-width: 2px;
  border-style: solid;
  box-sizing: border-box;
  display: flex;
  flex: 1 1 100%;
  font-size: 14px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  max-width: 100%;
  overflow: hidden;
  transition: background-color 0.2s ease-in-out 0s, border-color 0.2s ease-in-out 0s;
  overflow-wrap: break-word;
  vertical-align: top;
  pointer-events: auto;
}
input:not([type=checkbox]):not([type=radio]), select, textarea {
  outline: 0;
  border-bottom-right-radius: 3.01px;
}
._otyr1ejb {
  margin-bottom: 24px;
}
.css-1nzatiy {
  font-size: 0.857143em;
  font-style: inherit;
  line-height: 1.33333;
  font-weight:  600;
  display: inline-block;
  margin-top: 0px;
  margin-bottom:  4px;
  color:  #6B778C;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
.erfPlV {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  height: inherit;
  letter-spacing: normal;
}
.css-rq8zrp-container {
  pointer-events: all;
  position: relative;
  box-sizing: border-box;
  font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
.css-grh1zm {
  box-sizing: border-box;
  appearance: none;
  border: none;
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  -webkit-box-align: center;
  align-items: center;
}
.css-12fvguc-placeholder {
  grid-area: 1 / 1 / 2 / 3;
  color:  #5E6C84;
  margin-left: 2px;
  margin-right: 2px;
  box-sizing: border-box;
}
.css-dyni2z {
  visibility: visible;
  flex: 1 1 0%;
  display: flex;
  grid-area: 1 / 1 / 2 / 3;
  grid-template-columns: 0px min-content;
  margin: 2px;
  padding-bottom: 2px;
  padding-top: 2px;
  color: hsl(0, 0%, 20%);
  box-sizing: border-box;
}
.css-t5ibhw {
  -webkit-box-align: center;
  align-items: center;
  align-self: stretch;
  display: flex;
  flex-shrink: 0;
  box-sizing: border-box;
  padding-right: 4px;
}
._otyr1jfw {
  margin-bottom: 40px;
}
.css-1ysvh6x-container {
  pointer-events: all;
  position: relative;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  cursor: not-allowed;
}
.css-7lbqr7-control {
  -webkit-box-align: center;
  align-items: center;
  cursor: default;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
  min-height: 40px;
  position: relative;
  transition: background-color 200ms ease-in-out 0s, border-color 200ms ease-in-out 0s;
  background-color:  #F4F5F7;
  border-color:  #F4F5F7;
  border-radius:  3px;
  border-style: solid;
  border-width:  2px;
  box-shadow: none;
  box-sizing: border-box;
  pointer-events: none;
  padding: 0px;
  outline: 0px !important;
}
.css-gwngf9 {
    -webkit-box-align: center;
    align-items: center;
    display: grid;
    flex: 1 1 0%;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    padding: 2px 6px;
}
.css-1i3sopj-singleValue {
  grid-area: 1 / 1 / 2 / 3;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #A5ADBA;
  margin-left: 2px;
  margin-right: 2px;
  box-sizing: border-box;
  line-height:  16px;
}
.css-qg0f71 {
  visibility: hidden;
  flex: 1 1 auto;
  display: inline-grid;
  grid-area: 1 / 1 / 2 / 3;
  grid-template-columns: 0px min-content;
  margin: 2px;
  padding-bottom: 2px;
  padding-top: 2px;
  color:  hsl(0, 0%, 20%);
  box-sizing: border-box;
}
.css-13atcp7-indicatorContainer {
  display: flex;
  transition: color 150ms ease 0s;
  color:  #A5ADBA;
  box-sizing: border-box;
  padding: 6px 2px;
}
.jXarFs {
  display: flex;
  margin-top: 8px;
  margin-bottom: 64px;
  -webkit-box-pack: end;
  justify-content: flex-end;
}
.dumPyo {
  margin-left: 2px;
}
.css-1luyhz2 {
  -webkit-box-align: baseline;
  align-items: baseline;
  border-width: 0px;
  border-radius: 3px;
  box-sizing: border-box;
  display: inline-flex;
  font-size: inherit;
  font-style: normal;
  font-family: inherit;
  font-weight: 500;
  max-width: 100%;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background 0.1s ease-out 0s, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s;
  white-space: nowrap;
  background:  rgba(9, 30, 66, 0.04);
  cursor: pointer;
  height: 2.28571em;
  line-height: 2.28571em;
  padding: 0px 10px;
  vertical-align: middle;
  width: auto;
  -webkit-box-pack: center;
  justify-content: center;
  color:  #42526E !important;
}
.jXarFs > * + * {
  margin-left: 8px;
}
.css-1yeatxf {
  -webkit-box-align: baseline;
  align-items: baseline;
  border-width: 0px;
  border-radius:  3px;
  box-sizing: border-box;
  display: inline-flex;
  font-size: inherit;
  font-style: normal;
  font-family: inherit;
  font-weight: 500;
  max-width: 100%;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background 0.1s ease-out 0s, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s;
  white-space: nowrap;
  background:  #0052CC;
  cursor: pointer;
  height: 2.28571em;
  line-height: 2.28571em;
  padding: 0px 10px;
  vertical-align: middle;
  width: auto;
  -webkit-box-pack: center;
  justify-content: center;
  color:  #FFFFFF !important;
}
