._1yt4y22u {
  padding: 0px;
}
.css-1btht9s {
  display: flex;
  height: 100%;
  position: relative;
  grid-area: content;
  padding-top: 56px;
}
app-user-work-drapdrop{height: calc(100vh - 228px);}
._11q71j6p {
  background: #FFFFFF;
  width: 100%;
}
._154i14em {
  top: 95px;
}
._2d3f1oc1>:first-of-type {
  width: calc(98vw - 0px - 240px - 0px - 0px ) !important;
}
._japi1mcq>:first-of-type {
  height: calc(100vh - ( 56px + 0px ) - 95px);
}
._iu1g1fl4>:first-of-type {
  transition: width .3s cubic-bezier(.2,0,0,1) 0s;
}
._fok81wug>:first-of-type {
  overflow-x: auto;
}
._vchhusvi {
  box-sizing: border-box;
}
._1e0c1txw, ._jcfo1txw:active, ._1d5x1txw:focus, ._hpcc1txw:hover {
  display: flex;
}
._1e0c1txw {
  display: flex;
}
._1n261q9c {
  flex-wrap: nowrap;
}
._1bah1y6m {
  justify-content: flex-start;
}
._ca0qidpf {
  padding-top: 0;
}
._1tke1wug {
  min-height: auto;
}
._u5f31tcg {
  padding-right: 24px;
}
._n3td1tcg {
  padding-bottom: 24px;
}
._19bv1tcg {
  padding-left: 24px;
}
._1reo1wug {
  overflow-x: auto;
}
._i0dlf1ug {
  flex-basis: 0%;
}
._4cvr1fhb {
  align-items: stretch;
}
._80om73ad {
  cursor: default;
}
._syaz1c2q {
  color: #172B4D;
}
._19bvidpf {
  padding-left: 0;
}
._1bsb1osq {
  width: 100%;
}
._u5f3idpf {
  padding-right: 0;
}
._n3tdidpf {
  padding-bottom: 0;
  width: 100%;
}
._bfhk8q8z {
  background-color: unset;
}
._2rkolsi6 {
  border-radius: 0px;
}
._japi1e8k>:first-of-type {
  height: calc(100vh - ( 56px + 0px ) - 95px);
}

._2d3f1yz2>:first-of-type {
  width: calc(100vw - 0px - 240px - 0px - 0px ) !important;
}
._q7c11wug>:first-of-type {
  overflow-y: auto;
}
._iu1g1fl4>:first-of-type {
  transition: width .3s cubic-bezier(.2,0,0,1) 0s;
}
@media (prefers-reduced-motion: reduce){
  .css-7klh0i {
    animation: auto ease 0s 1 normal none running none;
    transition: none 0s ease 0s;
  }
}
.css-7klh0i {
  min-width: 0px;
  margin-left: 0px;
  -webkit-box-flex: 1;
  flex-grow: 1;
  transition: margin-left 300ms cubic-bezier(0.2, 0, 0, 1) 0s;
}
._18s8fkly {
  margin: 0 6pc;
}
._2lx21bp4 {
  flex-direction: column;
}
.css-cayjis {
  margin:  24px 0 16px 0;
}
._1tke1tcg {
  min-height: 24px;
}
.css-1h6m8iz {
  display: flex;
  margin:  0px;
  padding:  0px;
  flex-wrap: wrap;
}
.css-1ezvki8 {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
  height: 1.71429em;
  margin:  0px;
  padding:  0px;
  flex-direction: row;
  line-height: 1.71429em;
}
.css-1jng6we:visited {
  background:  none;
  color:  #6B778C !important;
}
.css-1jng6we {
  -webkit-box-align: baseline;
  align-items: baseline;
  border-width: 0px;
  border-radius: 3px;
  box-sizing: border-box;
  display: inline-flex;
  font-size: inherit;
  font-style: normal;
  font-family: inherit;
  max-width: 100%;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background 0.1s ease-out 0s, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s;
  white-space: nowrap;
  background:  none;
  cursor: pointer;
  height: auto;
  line-height: inherit;
  padding: 0px;
  vertical-align: baseline;
  width: auto;
  -webkit-box-pack: center;
  justify-content: center;
  min-width: 0px;
  flex-shrink: 1;
  font-weight: 400;
  color:  #6B778C !important;
}
.css-1gd7hga {
  opacity: 1;
  transition: opacity 0.3s ease 0s;
  margin: 0px;
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.css-1ezvki8:not(:last-child)::after {
  width: 8px;
  padding: 0px 8px;
  flex-shrink: 0;
  content: "/";
  text-align: center;
}

@media (prefers-reduced-motion: reduce){
  .jira-dialog, .jira-dialog *, :after, :before {
    transition-duration: 0ms !important;
  }
}
.css-1q06unx {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
.css-1w5y3m2 {
  min-width: 0px;
  max-width: 100%;
  margin-bottom:  8px;
  flex: 1 0 auto;
}
.css-qg0y9w {
  font-size: 1.71429em;
  font-style: inherit;
  color:  #172B4D;
  font-weight:  500;
  letter-spacing: -0.01em;
  margin-top: 0px;
  line-height:  32px;
  outline: none;
}
._1dyz1kw7 {
  letter-spacing: inherit;
}
._k48p1kw7 {
  font-weight: inherit;
}
._1wyb1kw7 {
  font-size: inherit;
}
._p12f1osq {
  max-width: 100%;
}
._1e0c116y {
  display: inline-flex;
}
._4t3izwfg {
  height: 2pc;
}
._4cvr1y6m {
  align-items: flex-start;
}
h1, h1>span {
  font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif;
  color: #172b4d;
  font-size: 29px;
  font-weight: 600;
  font-style: normal;
  line-height: 32px;
  letter-spacing: -.29px;
  margin-bottom: 0;
  margin-top: 0;
}
.css-8pvvsq {
  max-width: 100%;
  margin-bottom: 8px;
  margin-left: auto;
  padding-left: 32px;
  flex: 0 0 auto;
  white-space: nowrap;
}
._y3gn1e5h {
  text-align: left;
}
._2lx2vrvc {
  flex-direction: row;
}
._2hwxidpf {
  margin-right: 0;
}
._1n261q9c {
  flex-wrap: nowrap;
}
._18s8otz2 {
  margin: 0 4px;
}
._1ul9idpf {
  min-width: 0;
}
._kqswh2mm {
  position: relative;
}
.css-1luyhz2 {
  -webkit-box-align: baseline;
  align-items: baseline;
  border-width: 0px;
  border-radius: 3px;
  box-sizing: border-box;
  display: inline-flex;
  font-size: inherit;
  font-style: normal;
  font-family: inherit;
  font-weight: 500;
  max-width: 100%;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background 0.1s ease-out 0s, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s;
  white-space: nowrap;
  background: rgba(9, 30, 66, 0.04);
  cursor: pointer;
  height: 2.28571em;
  line-height: 2.28571em;
  padding: 0px 10px;
  vertical-align: middle;
  width: auto;
  -webkit-box-pack: center;
  justify-content: center;
  color:  #42526E !important;
}
.css-178ag6o {
  opacity: 1;
  transition: opacity 0.3s ease 0s;
  margin: 0px 2px;
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
._u5f31ou6 {
  padding-right: 26px;
}
._12ji1r31, ._1q5t1r31:active, ._nt751r31:focus, ._1dit1r31:hover {
  outline-color: currentColor;
}

._19pkxmi2 {
  margin-top: -9pt;
}
._11q7idpf {
  background: 0;
}
._vwz4kb7n {
  line-height: 1;
}
._154i1ssb {
  top: 50%;
}
._1xi2idpf {
  right: 0;
}
._kqswstnw {
  position: absolute;
}
._4t3i1tcg {
  height: 24px;
}
._1bsb1tcg {
  width: 24px;
}
._12y3idpf {
  outline-width: 0;
}
._1qu2glyw {
  outline-style: none;
}
._12ji1r31 {
  outline-color: currentColor;
}
._19itidpf {
  border: 0;
}
._19bvidpf {
  padding-left: 0;
}
._n3tdidpf {
  padding-bottom: 0;
}
._u5f3idpf {
  padding-right: 0;
}
._ca0qidpf {
  padding-top: 0;
}
._1qu2glyw, ._1ohyglyw:active, ._49pcglyw:focus, ._ksodglyw:hover {
  outline-style: none;
}
.css-snhnyn {
  display: inline-block;
  flex-shrink: 0;
  line-height: 1;
}
.css-snhnyn > svg {
  overflow: hidden;
  pointer-events: none;
  max-width: 100%;
  max-height: 100%;
  color: var(--icon-primary-color);
  fill: #FFFFFF;
  vertical-align: bottom;
}
._1xoqidpf:last-child {
  margin-right: 0;
}

._18s8otz2 {
  margin: 0 4px;
}
._1ul9idpf {
  min-width: 0;
}
.css-udno6l {
  -webkit-box-align: baseline;
  align-items: baseline;
  border-width: 0px;
  border-radius: 3px;
  box-sizing: border-box;
  display: inline-flex;
  font-size: inherit;
  font-style: normal;
  font-family: inherit;
  font-weight: 500;
  max-width: 100%;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background 0.1s ease-out 0s, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s;
  white-space: nowrap;
  background:  rgba(9, 30, 66, 0.04);
  cursor: pointer;
  height: 2.28571em;
  line-height: 2.28571em;
  padding: 0px 2px;
  vertical-align: middle;
  width: auto;
  -webkit-box-pack: center;
  justify-content: center;
  color: #42526E !important;
}
.css-bwxjrz {
  opacity: 1;
  transition: opacity 0.3s ease 0s;
  display: flex;
  margin: 0px 2px;
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
  align-self: center;
  font-size: 0px;
  line-height: 0;
  user-select: none;
}
.css-1afrefi {
  display: inline-block;
  flex-shrink: 0;
  line-height: 1;
  width: 24px;
  height: 24px;
}
.css-1afrefi > svg {
  width: 24px;
  height: 24px;
}
.css-1afrefi > svg {
  overflow: hidden;
  pointer-events: none;
  max-width: 100%;
  max-height: 100%;
  color: var(--icon-primary-color);
  fill: #FFFFFF;
  vertical-align: bottom;
}
._vwz41clk {
  line-height: 1.3333333333333333;
}

._p12f1osq {
  max-width: 100%;
}
._syazaj1x {
  color: #253858;
}
._1bsb1ris {
  width: max-content;
}
._1n261g80 {
  flex-wrap: wrap;
}
._bfhk1s4m {
  background-color: #f4f5f7;
}
._19bv14y2 {
  padding-left: 5px;
}
._n3td14y2 {
  padding-bottom: 5px;
}
._u5f314y2 {
  padding-right: 5px;
}
._ca0q14y2 {
  padding-top: 5px;
}
._1p1dangw {
  text-transform: uppercase;
}
._1wyb1crf {
  font-size: 9pt;
}
._2rko1l7b {
  border-radius: 3px;
}
._kfgt1d85:before {
  height: 22px;
}

._1mp412nj:before {
  width: 101px;
}
._1auk1nuc:before {
  top: 5px;
}
._qnecejz7:before {
  left: 95px;
}
._mlfedkwg:before {
  transition-timing-function: cubic-bezier(.2,0,0,1);
}
._1cg61yx9:before {
  transition-duration: .1s;
}
._qs2z1l1k:before {
  transition-property: left,top,width,height;
}
._rfx31wa3:before {
  border-radius: 3px!important;
}
._1rus1tag:before {
  background-color: #fff !important;
}
._cfu11ule:before {
  display: block;
}
._1ywu1ule:after, ._cfu11ule:before {
  display: block;
}
._18postnw:after, ._1cs8stnw:before {
  position: absolute;
}
._aetrb3bt:after, ._1kt9b3bt:before {
  content: "";
}
._1cs8stnw:before {
  position: absolute;
}
._1kt9b3bt:before {
  content: "";
}
._1jhnstnw legend {
  position: absolute;
}

._1ob8idpf legend {
  padding-left: 0;
}
._19mbidpf legend {
  padding-bottom: 0;
}
._12o6idpf legend {
  padding-right: 0;
}
._1qiiidpf legend {
  padding-top: 0;
}
._b4u715vq legend {
  overflow-y: hidden;
}
._p8t715vq legend {
  overflow-x: hidden;
}
._irrs1n1a legend {
  margin-left: -1px;
}
._1o5t1n1a legend {
  margin-bottom: -1px;
}
._z71v1n1a legend {
  margin-right: -1px;
}
._1jdg1n1a legend {
  margin-top: -1px;
}
._1se6t94y legend {
  width: 1px;
}
._soiet94y legend {
  height: 1px;
}
._ho6m1wmp legend {
  clip-path: inset(50%);
}
._1r9t7mnp legend {
  clip: rect(1px,1px,1px,1px);
}

._bmksidpf>* {
  margin-left: 0;
}

._rt2pidpf>* {
  margin-bottom: 0;
}
._1nei14y2>* {
  margin-right: 5px;
}
._1nvfidpf>* {
  margin-top: 0;
}
._10bvh2mm>* {
  position: relative;
}
._khufstnw input {
  position: absolute;
}

._n9z4idpf input {
  padding-left: 0;
}
._1qtqidpf input {
  padding-bottom: 0;
}
._ogxmidpf input {
  padding-right: 0;
}
._v69yidpf input {
  padding-top: 0;
}
._bgrh15vq input {
  overflow-y: hidden;
}
._1yzy15vq input {
  overflow-x: hidden;
}
._1rgf1n1a input {
  margin-left: -1px;
}
._x5bd1n1a input {
  margin-bottom: -1px;
}
._12hv1n1a input {
  margin-right: -1px;
}
._2x4g1n1a input {
  margin-top: -1px;
}
._5hv9t94y input {
  width: 1px;
}
._pytkt94y input {
  height: 1px;
}
._1q091wmp input {
  clip-path: inset(50%);
}
._11127mnp input {
  clip: rect(1px,1px,1px,1px);
}
._1hhy73ad input:checked+label, ._1emz73ad input:disabled+label {
  cursor: default;
}

._1ioh1l7b label {
  border-radius: 3px;
}
._1vzltlke label {
  cursor: pointer;
}
._4yng14y2 label {
  padding-left: 5px;
}
._1qrc1l7b label {
  padding-bottom: 3px;
}
._1j8614y2 label {
  padding-right: 5px;
}
._d7ff1l7b label {
  padding-top: 3px;
}
._15pj1ule label {
  display: block;
}
._4cvr1h6o, ._7yvl1h6o:active, ._1rdj1h6o:focus, ._el681h6o:hover {
  align-items: center;
}
._10cu1b66 * {
  margin-right: 4px;
}
._2t30idpf :last-child {
  margin-right: 0;
}
._10cu1b66 * {
  margin-right: 4px;
}
.css-1wits42 {
  display: inline-block;
  flex-shrink: 0;
  line-height: 1;
  width: 16px;
  height: 16px;
}
._2t30idpf :last-child {
  margin-right: 0;
}

.css-1wits42 > svg {
  width: 16px;
  height: 16px;
}
.css-1wits42 > svg {
  overflow: hidden;
  pointer-events: none;
  max-width: 100%;
  max-height: 100%;
  color: var(--icon-primary-color);
  fill: #FFFFFF;
  vertical-align: bottom;
}
._fhioidpf>:last-child {
  margin-right: 0;
}
._bmksidpf>* {
  margin-left: 0;
}
._rt2pidpf>* {
  margin-bottom: 0;
}
._1nei14y2>* {
  margin-right: 5px;
}
._1nvfidpf>* {
  margin-top: 0;
}
._10bvh2mm>* {
  position: relative;
}
._bgrh15vq input {
  overflow-y: hidden;
}

._1yzy15vq input {
  overflow-x: hidden;
}
._1rgf1n1a input {
  margin-left: -1px;
}
._x5bd1n1a input {
  margin-bottom: -1px;
}
._12hv1n1a input {
  margin-right: -1px;
}
._2x4g1n1a input {
  margin-top: -1px;
}
._5hv9t94y input {
  width: 1px;
}
._pytkt94y input {
  height: 1px;
}
._1q091wmp input {
  clip-path: inset(50%);
}
._11127mnp input {
  clip: rect(1px,1px,1px,1px);
}
._d7ff1l7b label {
  padding-top: 3px;
}

._15pj1ule label {
  display: block;
}
._otyrpxbi {
  margin-bottom: 1pc;
}
.css-1l5nwgj {
  box-sizing: border-box;
  appearance: none;
  border: none;
  min-height: 52px;
}
._18s8xc9a {
  margin: -4px -4px 1pc;
}
._18s81b66 {
  margin: 4px;
}
._1bsb1ns9 {
  width: -moz-fit-content;
  width: fit-content;
}
._1yt4v77o {
  padding: 2px;
}
._16qs1ifw {
  box-shadow: 0 0 8px #dfe1e6;
}
._1ltvidpf {
  left: 0;
}
._2rkoftgi {
  border-radius: 8px;
}
._kqswstnw {
  position: absolute;
}
._154iidpf {
  top: 0;
}
._1bsb1osq {
  width: 100%;
}
._1pbyzb2o {
  z-index: 100;
}
._2rkoi2wt {
  border-radius: 6px;
}

._11q7vuon {
  background: #fff;
}
._1bsb1osq {
  width: 100%;
}
.css-8vysra {
  -webkit-box-align: baseline;
  align-items: baseline;
  border-width: 0px;
  border-radius:  3px;
  box-sizing: border-box;
  display: inline-flex;
  font-size: inherit;
  font-style: normal;
  font-family: inherit;
  font-weight: 500;
  max-width: 100%;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background 0.1s ease-out 0s, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s;
  white-space: nowrap;
  background: none;
  cursor: pointer;
  height: auto;
  line-height: inherit;
  padding: 0px;
  vertical-align: baseline;
  width: auto;
  -webkit-box-pack: center;
  justify-content: center;
  color:  #42526E !important;
}
.css-1gd7hga {
  opacity: 1;
  transition: opacity 0.3s ease 0s;
  margin: 0px;
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
._syaz1ldt {
  color: #0052cc;
}

._1yt418iy {
  padding: 4px 8px;
}
.css-dbvtg5 {
  display: flex;
  box-sizing: border-box;
  gap:  4px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.css-1s7n6uk {
  overflow: hidden;
  pointer-events: none;
  width: 16px;
  height: 16px;
}
._18s81b66 {
  margin: 4px;
}
._1ul9idpf {
  min-width: 0;
}
.jexNtp {
  display: flex;
}
.lbhKCW {
  display: flex;
  width: 184px;
  transition: all 0.3s cubic-bezier(0.15, 1, 0.3, 1) 0s;
}
.css-w9huf {
  -webkit-box-align: center;
  align-items: center;
  background-color: #FAFBFC;
  border-color:  #DFE1E6;
  color:  #091E42;
  cursor: text;
  height: 34px;
  border-radius: 3px;
  border-width: 2px;
  border-style: solid;
  box-sizing: border-box;
  display: flex;
  flex: 1 1 100%;
  font-size: 14px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  overflow: hidden;
  transition: background-color 0.2s ease-in-out 0s, border-color 0.2s ease-in-out 0s;
  overflow-wrap: break-word;
  vertical-align: top;
  pointer-events: auto;
}
input:not([type=checkbox]):not([type=radio]), select, textarea {
  outline: 0;
  border-bottom-right-radius: 3.01px;
}
.css-1cab8vv:placeholder-shown {
  text-overflow: ellipsis;
}
.css-1cab8vv[data-compact] {
  padding:  4px 6px;
  height: 2em;
}
.css-1cab8vv {
  background-color: transparent;
  border: 0px;
  box-sizing: border-box;
  color: inherit;
  cursor: inherit;
  font-size: 14px;
  min-width: 0px;
  outline: none;
  width: 100%;
  line-height: 1.42857;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
._18s81c8u {
  margin: 0 8px 0 0;
}
._syazqjbk {
  color: #5e6c84;
}
.css-1wits42 {
  display: inline-block;
  flex-shrink: 0;
  line-height: 1;
  width: 16px;
  height: 16px;
}
.css-1wits42 > svg {
  width: 16px;
  height: 16px;
}
.css-1wits42 > svg {
  overflow: hidden;
  pointer-events: none;
  max-width: 100%;
  max-height: 100%;
  color: var(--icon-primary-color);
  fill: #FFFFFF;
  vertical-align: bottom;
}
.css-dg3gvv {
  -webkit-box-align: baseline;
  align-items: baseline;
  border-width: 0px;
  border-radius: 3px;
  box-sizing: border-box;
  display: inline-flex;
  font-size: inherit;
  font-style: normal;
  font-family: inherit;
  font-weight: 500;
  max-width: 100%;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background 0.1s ease-out 0s, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s;
  white-space: nowrap;
  background: #E9F2FF;
  cursor: pointer;
  height: 2.28571em;
  line-height: 2.28571em;
  padding: 0px 10px;
  vertical-align: middle;
  width: auto;
  -webkit-box-pack: center;
  justify-content: center;
  color: #0C66E4 !important;
}
.css-178ag6o {
  opacity: 1;
  transition: opacity 0.3s ease 0s;
  margin: 0px 2px;
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.css-1q91qu1 {
  opacity: 1;
  transition: opacity 0.3s ease 0s;
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 2px;
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
  align-self: center;
  font-size: 0px;
  line-height: 0;
  user-select: none;
  margin-right:  -2px;
}
._1o9zidpf {
  flex-shrink: 0;
}

._16jlidpf {
  flex-grow: 0;
}
._1kl7h6cr {
  border-left: 1px solid #dfe1e6;
}
._1yt4x7n9 {
  padding: 2px 0;
}
._18u01b66 {
  margin-left: 4px;
}
._19pk1b66 {
  margin-top: 4px;
}
._4t3izwfg {
  height: 2pc;
}
._4cvr1h6o {
  align-items: center;
}
._vchhusvi {
  box-sizing: border-box;
}


.css-16evetn {
  -webkit-box-align: baseline;
  align-items: baseline;
  border-width: 0px;
  border-radius: 3px;
  box-sizing: border-box;
  display: inline-flex;
  font-size: inherit;
  font-style: normal;
  font-family: inherit;
  font-weight: 500;
  max-width: 100%;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background 0.1s ease-out 0s, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s;
  white-space: nowrap;
  background: none;
  cursor: pointer;
  height: 2.28571em;
  line-height: 2.28571em;
  padding: 0px 10px;
  vertical-align: middle;
  width: auto;
  -webkit-box-pack: center;
  justify-content: center;
  color: #0C66E4 !important;
}
.css-178ag6o {
  opacity: 1;
  transition: opacity 0.3s ease 0s;
  margin: 0px 2px;
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
._1wpzv2br {
  align-self: start;
}

._1tkexy5q {
  min-height: 2pc;
}
._18u0u2gc {
  margin-left: 8px;
}
._vwz41clk {
  line-height: 1.3333333333333333;
}
._p12f1osq {
  max-width: 100%;
}
._syazaj1x {
  color: #253858;
}
._1bsb1ris {
  width: max-content;
}
._bfhk1s4m {
  background-color: #f4f5f7;
}
._19bv14y2 {
  padding-left: 5px;
}
._n3td14y2 {
  padding-bottom: 5px;
}
._u5f314y2 {
  padding-right: 5px;
}
._ca0q14y2 {
  padding-top: 5px;
}
._1p1dangw {
  text-transform: uppercase;
}
._1wyb1crf {
  font-size: 9pt;
}
._2rko1l7b {
  border-radius: 3px;
}
._1reo1wug {
  overflow-x: auto;
}

._1n261q9c {
  flex-wrap: nowrap;
}
._18m91wug {
  overflow-y: auto;
}
._4t3i1osq {
  height: 100%;
}
._n3tdxncg {
  padding-bottom: 4pc;
}
._i0dlf1ug {
  flex-basis: 0%;
}
.css-131e90u {
  margin:  48px auto;
  text-align: center;
  max-width: 464px;
}
._mezj18pt img {
  width: 228px;
}
.css-trx3i8 {
  display: block;
  max-width: 160px;
  max-height: 160px;
  margin: 0 auto 24px;
}
.css-9f2ouj {
  font-size: 1.42857em;
  font-style: inherit;
  line-height: 1.2;
  color:  #172B4D;
  font-weight: 500;
  letter-spacing: -0.008em;
  margin-top:  0px;
  margin-bottom:  16px;
}
._1yt4w688 {
  padding: 1pc 2px;
}
._kqsw1if8 {
  position: sticky;
}
._1ltvidpf {
  left: 0;
}
._2lx2vrvc {
  flex-direction: row;
}
._x3do1on0 {
  border-top: 2px solid #dfe1e6;
}
._1n261q9c {
  flex-wrap: nowrap;
}
._1o9zkb7n {
  flex-shrink: 1;
}
._16jlkb7n {
  flex-grow: 1;
}
.css-48ccbj {
  -webkit-box-align: baseline;
  align-items: baseline;
  border-width: 0px;
  border-radius: 3px;
  box-sizing: border-box;
  display: inline-flex;
  font-size: inherit;
  font-style: normal;
  font-family: inherit;
  font-weight: 500;
  max-width: 100%;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background 0.1s ease-out 0s, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s;
  white-space: nowrap;
  background:  none;
  cursor: pointer;
  height: 2.28571em;
  line-height: 2.28571em;
  padding: 0px 10px;
  vertical-align: middle;
  width: auto;
  -webkit-box-pack: center;
  justify-content: center;
  color: #172B4D !important;
}
.css-4h66kx {
  opacity: 1;
  transition: opacity 0.3s ease 0s;
  display: flex;
  margin-top: 0px;
  margin-right: 2px;
  margin-bottom: 0px;
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
  align-self: center;
  font-size: 0px;
  line-height: 0;
  user-select: none;
  margin-left:  -2px;
}
._k48pni7l {
  font-weight: 600;
}
._19pkyh40 {
  margin-top: 2px;
}
