<app-user-layout></app-user-layout>

<div class="css-1btht9s">

  <app-sidebar></app-sidebar>

  <div class="_11q71j6p">

    <app-heading></app-heading>

    <div class="_kqswh2mm _154i14em _1yt4y22u">
      <div class="_2d3f1yz2 _japi1e8k _iu1g1fl4 _fok81wug _q7c11wug _2rkolsi6 _bfhk8q8z">
        <div class="css-7klh0i" id="ak-main-content">
          <div class="_1e0c1txw _2lx21bp4 _4t3i1osq _18s8fkly">
            <div class="css-cayjis">
              <div class="_1tke1tcg">
                <nav aria-label="vụn bánh mì" tabindex="-1">
                  <ol class="css-1h6m8iz">
                    <li class="css-1ezvki8">
                      <a class="css-1jng6we" tabindex="0" href="#" target="_self">
                        <span class="css-1gd7hga">
                          <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Dự án</font>
                          </font>
                        </span>
                      </a>
                    </li>
                    <li class="css-1ezvki8">
                      <a class="css-1jng6we" tabindex="0" href="#" target="_self">
                        <span class="css-1gd7hga">
                          <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">QLNS</font>
                          </font>
                        </span>
                      </a>
                    </li>
                  </ol>
                </nav>
              </div>
              <div class="css-1q06unx">
                <div class="css-1w5y3m2">
                  <h1 tabindex="-1" class="css-qg0y9w">
                    <span class="_1e0c116y _4cvr1y6m _4t3izwfg _1wyb1kw7 _k48p1kw7 _1dyz1kw7 _p12f1osq">
                      <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Vấn đề</font>
                      </font>
                    </span>
                  </h1>
                </div>
                <div class="css-8pvvsq">
                  <div class="_y3gn1e5h">
                    <div class="_1e0c1txw _2lx2vrvc _1n261q9c _2hwxidpf">
                      <div class="_18s8otz2 _1ul9idpf _1xoqidpf">
                        <div class="_kqswh2mm">
                          <button class="css-1luyhz2" tabindex="0" type="button">
                            <span class="css-178ag6o">
                              <div class="_u5f31ou6">
                                <font style="vertical-align: inherit;">
                                  <font style="vertical-align: inherit;">Chia sẻ</font>
                                </font>
                              </div>
                              <div class="_11q7idpf _19itidpf _4t3i1tcg _vwz4kb7n _12ji1r31 _1qu2glyw _12y3idpf _ca0qidpf _u5f3idpf _n3tdidpf _19bvidpf _kqswstnw _1xi2idpf _154i1ssb _19pkxmi2 _1bsb1tcg">
                                <span role="img" aria-label="Mở hộp thoại chia sẻ" class="css-snhnyn" >
                                  <svg width="24" height="24" viewBox="0 0 24 24" role="presentation">
                                    <path d="M8.292 10.293a1.009 1.009 0 000 1.419l2.939 2.965c.218.215.5.322.779.322s.556-.107.769-.322l2.93-2.955a1.01 1.01 0 000-1.419.987.987 0 00-1.406 0l-2.298 2.317-2.307-2.327a.99.99 0 00-1.406 0z" fill="currentColor" fill-rule="evenodd"></path>
                                  </svg>
                                </span>
                              </div>
                            </span>
                          </button>
                        </div>
                      </div>
                      <div class="_18s8otz2 _1ul9idpf _1xoqidpf">
                        <div class="_kqswh2mm">
                          <button class="css-1luyhz2" type="button">
                            <span class="css-178ag6o">
                              <div class="_u5f31ou6">
                                <font style="vertical-align: inherit;">
                                  <font style="vertical-align: inherit;">Vấn đề xuất khẩu</font>
                                </font>
                              </div>
                              <div class="_11q7idpf _19itidpf _4t3i1tcg _vwz4kb7n _12ji1r31 _1qu2glyw _12y3idpf _ca0qidpf _u5f3idpf _n3tdidpf _19bvidpf _kqswstnw _1xi2idpf _154i1ssb _19pkxmi2 _1bsb1tcg">
                                <span role="img" aria-label="Mở menu thả xuống vấn đề xuất khẩu" class="css-snhnyn">
                                  <svg width="24" height="24" viewBox="0 0 24 24" role="presentation">
                                    <path d="M8.292 10.293a1.009 1.009 0 000 1.419l2.939 2.965c.218.215.5.322.779.322s.556-.107.769-.322l2.93-2.955a1.01 1.01 0 000-1.419.987.987 0 00-1.406 0l-2.298 2.317-2.307-2.327a.99.99 0 00-1.406 0z" fill="currentColor" fill-rule="evenodd"></path>
                                  </svg>
                                </span>
                              </div>
                            </span>
                          </button>
                        </div>
                      </div>
                      <div class="_18s8otz2 _1ul9idpf _1xoqidpf">
                        <a class="css-1luyhz2" href="#" tabindex="0">
                          <span class="css-178ag6o">
                            <font style="vertical-align: inherit;">
                              <font style="vertical-align: inherit;">Đi đến tất cả các vấn đề</font>
                            </font>
                          </span>
                        </a>
                      </div>
                      <div class="_18s8otz2 _1ul9idpf _1xoqidpf">
                        <fieldset class="_1e0c1txw _1n261g80 _1bsb1ris _p12f1osq _kqswh2mm _bfhk1s4m _2rko1l7b _ca0q14y2 _u5f314y2 _n3td14y2 _19bv14y2 _1wyb1crf _vwz41clk _1p1dangw _k48pni7l _syazaj1x _1r9t7mnp _ho6m1wmp _soiet94y _1se6t94y _1jdg1n1a _z71v1n1a _1o5t1n1a _irrs1n1a _p8t715vq _b4u715vq _1qiiidpf _12o6idpf _19mbidpf _1ob8idpf _1jhnstnw _10bvh2mm _1nvfidpf _1nei14y2 _rt2pidpf _bmksidpf _fhioidpf _1kt9b3bt _1cs8stnw _1rus1tag _rfx31wa3 _qs2z1l1k _1cg61yx9 _mlfedkwg _cfu11ule _qnecejz7 _1auk1nuc _1mp412nj _kfgt1d85">
                          <legend>
                            <font style="vertical-align: inherit;">
                              <font style="vertical-align: inherit;">Chọn chế độ xem</font>
                            </font>
                          </legend>
                          <p class="_11127mnp _1q091wmp _pytkt94y _5hv9t94y _2x4g1n1a _12hv1n1a _x5bd1n1a _1rgf1n1a _1yzy15vq _bgrh15vq _v69yidpf _ogxmidpf _1qtqidpf _n9z4idpf _khufstnw _15pj1ule _d7ff1l7b _1j8614y2 _1qrc1l7b _4yng14y2 _1vzltlke _1ioh1l7b _vrjh14ae _1hhy73ad _1emz73ad _1efl8q0r _c2fy18uv _ynfu18uv _7el91vt6 _15pqglyw">
                            <input type="radio" id="toggle-buttons-0-list-view" name="toggle-buttons-0" value="list-view">
                            <label for="toggle-buttons-0-list-view">
                              <span class="_1e0c1txw _4cvr1h6o _10cu1b66 _2t30idpf">
                                <span>
                                  <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Chế độ xem danh sách</font>
                                  </font>
                                </span>
                                <span aria-hidden="true" class="css-1wits42">
                                  <svg  width="24" height="24" viewBox="0 0 24 24" role="presentation">
                                    <g fill="currentColor" fill-rule="evenodd">
                                      <rect x="10" y="15" width="8" height="2" rx="1"></rect>
                                      <rect x="6" y="15" width="2" height="2" rx="1"></rect>
                                      <rect x="10" y="11" width="8" height="2" rx="1"></rect>
                                      <rect x="6" y="11" width="2" height="2" rx="1"></rect>
                                      <rect x="10" y="7" width="8" height="2" rx="1"></rect>
                                      <rect x="6" y="7" width="2" height="2" rx="1"></rect>
                                    </g>
                                  </svg>
                                </span>
                              </span>
                            </label>
                          </p>
                          <p class="_11127mnp _1q091wmp _pytkt94y _5hv9t94y _2x4g1n1a _12hv1n1a _x5bd1n1a _1rgf1n1a _1yzy15vq _bgrh15vq _v69yidpf _ogxmidpf _1qtqidpf _n9z4idpf _khufstnw _15pj1ule _d7ff1l7b _1j8614y2 _1qrc1l7b _4yng14y2 _1vzltlke _1ioh1l7b _vrjh14ae _1hhy73ad _1emz73ad _1efl8q0r _c2fy18uv _ynfu18uv _7el91vt6 _15pqglyw">
                            <input type="radio" id="toggle-buttons-0-split-view" name="toggle-buttons-0" value="split-view" checked="">
                            <label for="toggle-buttons-0-split-view">
                              <span class="_1e0c1txw _4cvr1h6o _10cu1b66 _2t30idpf">
                                <span>
                                  <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Góc nhìn chi tiết</font>
                                  </font>
                                </span>
                                <span aria-hidden="true" class="css-1wits42">
                                  <svg width="24" height="24" viewBox="0 0 24 24" role="presentation">
                                    <path d="M14 17h6c.003 0 0-9.994 0-9.994C20 7 14 7 14 7v10zM12 5h8c1.105 0 2 .897 2 2.006v9.988A1.998 1.998 0 0120 19h-8V5zM2 7h8V5H2.997A.996.996 0 002 6v1zm0 4h8V9H2zm0 7c0 .552.453 1 .997 1H10v-2H2v1zm0-3h8v-2H2z" fill="currentColor"></path>
                                  </svg>
                                </span>
                              </span>
                            </label>
                          </p>
                        </fieldset>
                      </div>
                      <div class="_18s8otz2 _1ul9idpf _1xoqidpf">
                        <button class="css-udno6l" tabindex="0" type="button">
                          <span class="css-bwxjrz">
                            <span role="img" aria-label="Các vấn đề về nhập và thay đổi hàng loạt" class="css-1afrefi">
                              <svg width="24" height="24" viewBox="0 0 24 24" role="presentation">
                                <g fill="currentColor" fill-rule="evenodd">
                                  <circle cx="5" cy="12" r="2"></circle>
                                  <circle cx="12" cy="12" r="2"></circle>
                                  <circle cx="19" cy="12" r="2"></circle>
                                </g>
                              </svg>
                            </span>
                          </span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="_otyrpxbi">
              <div class="css-1l5nwgj">
                <div class="_1e0c1txw _16jlkb7n">
                  <div class="_1e0c1txw _16jlkb7n _1n261g80 _18s8xc9a">
                    <div class="_18s81b66">
                      <div class="_1e0c1txw _kqswh2mm _1yt4v77o _1pbyzb2o _1bsb1ns9">
                        <svg viewBox="0 0 24 24" preserveAspectRatio="none" class="_kqswstnw _2rkoftgi _16qs1ifw _1ltvidpf _154iidpf _1bsb1osq _4t3i1osq">
                          <defs>
                            <linearGradient id="2_lg1" gradientUnits="userSpaceOnUse" x1="0%" y1="0" x2="400%" y2="0" spreadMethod="reflect">
                              <animate begin="indefinite" attributeName="x1" from="0%" to="400%" repeatCount="indefinite" dur="3s"></animate>
                              <animate begin="indefinite" attributeName="x2" from="400%" to="800%" repeatCount="indefinite" dur="3s"></animate>
                              <stop offset="0" stop-color="#1D7AFC"></stop>
                              <stop offset="0.25" stop-color="#8BDBE5"></stop>
                              <stop offset="0.5" stop-color="#F8E6A0"></stop>
                              <stop offset="0.75" stop-color="#8BDBE5"></stop>
                              <stop offset="1" stop-color="#1D7AFC"></stop>
                            </linearGradient>
                            <linearGradient id="2_lg2" gradientUnits="userSpaceOnUse" x1="0" y1="-100%" x2="0" y2="300%" spreadMethod="reflect">
                              <animate begin="indefinite" attributeName="y1" from="-100%" to="300%" repeatCount="indefinite" dur="3s"></animate>
                              <animate begin="indefinite" attributeName="y2" from="300%" to="700%" repeatCount="indefinite" dur="3s"></animate>
                              <stop offset="0" stop-color="#1D7AFC"></stop>
                              <stop offset="0.25" stop-color="#8BDBE5"></stop>
                              <stop offset="0.5" stop-color="#F8E6A0"></stop>
                              <stop offset="0.75" stop-color="#8BDBE5"></stop>
                              <stop offset="1" stop-color="#1D7AFC"></stop>
                            </linearGradient>
                            <linearGradient id="2_lg3" gradientUnits="userSpaceOnUse" x1="300%" y1="0" x2="700%" y2="0" spreadMethod="reflect">
                              <animate begin="indefinite" attributeName="x1" from="300%" to="-100%" repeatCount="indefinite" dur="3s"></animate>
                              <animate begin="indefinite" attributeName="x2" from="700%" to="300%" repeatCount="indefinite" dur="3s"></animate>
                              <stop offset="0" stop-color="#1D7AFC"></stop>
                              <stop offset="0.25" stop-color="#8BDBE5"></stop>
                              <stop offset="0.5" stop-color="#F8E6A0"></stop>
                              <stop offset="0.75" stop-color="#8BDBE5"></stop>
                              <stop offset="1" stop-color="#1D7AFC"></stop>
                            </linearGradient>
                            <linearGradient id="2_lg4" gradientUnits="userSpaceOnUse" x1="0" y1="0" x2="0" y2="400%" spreadMethod="reflect">
                              <animate begin="indefinite" attributeName="y1" from="0%" to="-400%" repeatCount="indefinite" dur="3s"></animate>
                              <animate begin="indefinite" attributeName="y2" from="400%" to="0%" repeatCount="indefinite" dur="3s"></animate>
                              <stop offset="0" stop-color="#1D7AFC"></stop>
                              <stop offset="0.25" stop-color="#8BDBE5"></stop>
                              <stop offset="0.5" stop-color="#F8E6A0"></stop>
                              <stop offset="0.75" stop-color="#8BDBE5"></stop>
                              <stop offset="1" stop-color="#1D7AFC"></stop>
                            </linearGradient>
                          </defs>
                          <g stroke-width="16">
                            <path stroke="url(#2_lg1)" d="M0 0h24" vector-effect="non-scaling-stroke"></path>
                            <path stroke="url(#2_lg2)" d="M24 0v24" vector-effect="non-scaling-stroke"></path>
                            <path stroke="url(#2_lg3)" d="M24 24H0" vector-effect="non-scaling-stroke"></path>
                            <path stroke="url(#2_lg4)" d="M0 24V0" vector-effect="non-scaling-stroke"></path>
                          </g>
                        </svg>
                        <div spacing="none" class="_11q7vuon _2rkoi2wt _16jlkb7n _1pbyzb2o _1bsb1osq">
                          <button class="css-8vysra" tabindex="0" type="button">
                            <span class="css-1gd7hga">
                              <div class="_syaz1ldt _1yt418iy">
                                <div class="css-dbvtg5">
                                  <svg viewBox="0 0 24 24" role="presentation" class="css-1s7n6uk">
                                    <defs>
                                      <linearGradient id="ai_icon_lg0" x1="21" y1="12" x2="17.5" y2="12" gradientUnits="userSpaceOnUse">
                                        <stop offset="0.270833" stop-color="var(--ds-icon-accent-blue, #2684FF)"color="var(--ds-icon-accent-blue, #2684FF)"></stop>
                                        <stop offset="1" stop-color="var(--ds-text-accent-blue, #0052CC)" color="var(--ds-text-accent-blue, #0052CC)"></stop>
                                      </linearGradient>
                                      <linearGradient id="ai_icon_lg1" x1="12.5" y1="3" x2="12.5" y2="6.5" gradientUnits="userSpaceOnUse">
                                        <stop offset="0.1875" stop-color="var(--ds-icon-accent-blue, #2684FF)" color="var(--ds-icon-accent-blue, #2684FF)"></stop>
                                        <stop offset="1" stop-color="var(--ds-text-accent-blue, #0052CC)" color="var(--ds-text-accent-blue, #0052CC)"></stop>
                                      </linearGradient>
                                      <linearGradient id="ai_icon_lg2" x1="6.82996" y1="12" x2="3.32996" y2="12" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="var(--ds-text-accent-blue, #0052CC)" color="var(--ds-text-accent-blue, #0052CC)"></stop>
                                        <stop offset="0.791667" stop-color="var(--ds-icon-accent-blue, #2684FF)" color="var(--ds-icon-accent-blue, #2684FF)"></stop>
                                      </linearGradient>
                                      <linearGradient id="ai_icon_lg3" x1="12.5" y1="17" x2="12.5" y2="21" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="var(--ds-text-accent-blue, #0052CC)" color="var(--ds-text-accent-blue, #0052CC)"></stop>
                                        <stop offset="0.802083" stop-color="var(--ds-icon-accent-blue, #2684FF)" color="var(--ds-icon-accent-blue, #2684FF)"></stop>
                                      </linearGradient>
                                    </defs>
                                    <g>
                                      <path fill-rule="evenodd" clip-rule="evenodd" d="M17.17 12C17.17 11.4477 17.6177 11 18.17 11H20C20.5523 11 21 11.4477 21 12C21 12.5523 20.5523 13 20 13H18.17C17.6177 13 17.17 12.5523 17.17 12Z"  fill="url(#ai_icon_lg0)"></path>
                                      <path fill-rule="evenodd" clip-rule="evenodd" d="M12 3C12.5523 3 13 3.44772 13 4V5.83C13 6.38228 12.5523 6.83 12 6.83C11.4477 6.83 11 6.38228 11 5.83V4C11 3.44772 11.4477 3 12 3Z" fill="url(#ai_icon_lg1)"></path>
                                      <path fill-rule="evenodd" clip-rule="evenodd" d="M3 12C3 11.4477 3.44772 11 4 11H5.83C6.38228 11 6.83 11.4477 6.83 12C6.83 12.5523 6.38228 13 5.83 13H4C3.44772 13 3 12.5523 3 12Z" fill="url(#ai_icon_lg2)"></path>
                                      <path fill-rule="evenodd" clip-rule="evenodd" d="M12 17.17C12.5523 17.17 13 17.6177 13 18.17V20C13 20.5523 12.5523 21 12 21C11.4477 21 11 20.5523 11 20V18.17C11 17.6177 11.4477 17.17 12 17.17Z" fill="url(#ai_icon_lg3)"></path>
                                      <path fill-rule="evenodd" clip-rule="evenodd" d="M14.2929 14.2929C14.6835 13.9024 15.3166 13.9024 15.7071 14.2929L19.7071 18.2929C20.0977 18.6834 20.0977 19.3166 19.7071 19.7071C19.3166 20.0976 18.6835 20.0976 18.2929 19.7071L14.2929 15.7071C13.9024 15.3166 13.9024 14.6834 14.2929 14.2929Z" fill="var(--ds-icon-accent-blue, #2684FF)"></path>
                                      <path fill-rule="evenodd" clip-rule="evenodd" d="M19.7071 4.29289C20.0977 4.68342 20.0977 5.31658 19.7071 5.70711L15.7071 9.70711C15.3166 10.0976 14.6835 10.0976 14.2929 9.70711C13.9024 9.31658 13.9024 8.68342 14.2929 8.29289L18.2929 4.29289C18.6835 3.90237 19.3166 3.90237 19.7071 4.29289Z" fill="var(--ds-icon-accent-blue, #2684FF)"></path>
                                      <path fill-rule="evenodd" clip-rule="evenodd" d="M4.29289 4.29289C4.68342 3.90237 5.31658 3.90237 5.70711 4.29289L9.70711 8.29289C10.0976 8.68342 10.0976 9.31658 9.70711 9.70711C9.31658 10.0976 8.68342 10.0976 8.29289 9.70711L4.29289 5.70711C3.90237 5.31658 3.90237 4.68342 4.29289 4.29289Z" fill="var(--ds-icon-accent-blue, #2684FF)"></path>
                                      <path fill-rule="evenodd" clip-rule="evenodd" d="M9.70711 14.2929C10.0976 14.6834 10.0976 15.3166 9.70711 15.7071L5.70711 19.7071C5.31658 20.0976 4.68342 20.0976 4.29289 19.7071C3.90237 19.3166 3.90237 18.6834 4.29289 18.2929L8.29289 14.2929C8.68342 13.9024 9.31658 13.9024 9.70711 14.2929Z" fill="var(--ds-icon-accent-blue, #2684FF)"></path>
                                    </g>
                                  </svg>
                                  <span>
                                    <font style="vertical-align: inherit;">
                                      <font style="vertical-align: inherit;">trí tuệ nhân tạo</font>
                                    </font>
                                  </span>
                                </div>
                              </div>
                            </span>
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="_18s81b66 _1ul9idpf">
                      <div class="_kqswh2mm">
                        <div class="sc-1xfxsty-0 jexNtp">
                          <div class="sc-1xfxsty-1 lbhKCW">
                            <div role="presentation" class="ajs-dirty-warning-exempt css-w9huf">
                              <input aria-label="Vấn đề tìm kiếm" aria-describedby="" type="text" name="search" placeholder="Vấn đề tìm kiếm" class="css-1cab8vv" value="">
                              <div class="_syazqjbk _18s81c8u _1e0c1txw">
                                <span aria-hidden="true" class="css-1wits42">
                                  <svg width="24" height="24" viewBox="0 0 24 24" role="presentation">
                                    <path d="M16.436 15.085l3.94 4.01a1 1 0 01-1.425 1.402l-3.938-4.006a7.5 7.5 0 111.423-1.406zM10.5 16a5.5 5.5 0 100-11 5.5 5.5 0 000 11z" fill="currentColor" fill-rule="evenodd"></path>
                                  </svg>
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="_18s81b66 _1ul9idpf">
                      <button aria-expanded="false" class="css-dg3gvv" type="button">
                        <span class="css-178ag6o">
                          <span class="_1e0c116y">
                            <span
                              class="_1e0c116y _4cvr1h6o">
                              <span class="_p12fo812 _1reo15vq _18m915vq _1bto1l2s">
                                <span class="_k48p8n31 _2hwx1b66">
                                  <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Dự án </font>
                                  </font>
                                  <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">:</font>
                                  </font>
                                </span>
                                <font style="vertical-align: inherit;">
                                  <font style="vertical-align: inherit;"> QLNS</font>
                                </font>
                              </span>
                            </span>
                          </span>
                        </span>
                        <span class="css-1q91qu1">
                          <span class="_1e0c116y _4cvr1h6o _2hwx196n">
                            <span aria-hidden="true" class="css-snhnyn" >
                              <svg width="24" height="24" viewBox="0 0 24 24" role="presentation">
                                <path d="M8.292 10.293a1.009 1.009 0 000 1.419l2.939 2.965c.218.215.5.322.779.322s.556-.107.769-.322l2.93-2.955a1.01 1.01 0 000-1.419.987.987 0 00-1.406 0l-2.298 2.317-2.307-2.327a.99.99 0 00-1.406 0z" fill="currentColor" fill-rule="evenodd"></path>
                              </svg>
                            </span>
                          </span>
                        </span>
                      </button>
                    </div>
                    <div class="_18s81b66 _1ul9idpf">
                      <button aria-expanded="false" class="css-1luyhz2" type="button">
                        <span class="css-178ag6o">
                          <span class="_1e0c116y">
                            <span class="_1e0c116y _4cvr1h6o">
                              <span class="_p12fo812 _1reo15vq _18m915vq _1bto1l2s">
                                <font style="vertical-align: inherit;">
                                  <font style="vertical-align: inherit;">Kiểu</font>
                                </font>
                              </span>
                            </span>
                          </span>
                        </span>
                        <span class="css-1q91qu1">
                          <span class="_1e0c116y _4cvr1h6o _2hwx196n">
                            <span aria-hidden="true" class="css-snhnyn">
                              <svg width="24" height="24" viewBox="0 0 24 24" role="presentation">
                                <path d="M8.292 10.293a1.009 1.009 0 000 1.419l2.939 2.965c.218.215.5.322.779.322s.556-.107.769-.322l2.93-2.955a1.01 1.01 0 000-1.419.987.987 0 00-1.406 0l-2.298 2.317-2.307-2.327a.99.99 0 00-1.406 0z" fill="currentColor" fill-rule="evenodd"></path>
                              </svg>
                            </span>
                          </span>
                        </span>
                      </button>
                    </div>
                    <div class="_18s81b66 _1ul9idpf">
                      <button aria-expanded="false" class="css-1luyhz2" type="button">
                        <span class="css-178ag6o">
                          <span class="_1e0c116y">
                            <span class="_1e0c116y _4cvr1h6o">
                              <span class="_p12fo812 _1reo15vq _18m915vq _1bto1l2s">
                                <font style="vertical-align: inherit;">
                                  <font style="vertical-align: inherit;">Trạng thái</font>
                                </font>
                              </span>
                            </span>
                          </span>
                        </span>
                        <span class="css-1q91qu1">
                          <span class="_1e0c116y _4cvr1h6o _2hwx196n">
                            <span aria-hidden="true" class="css-snhnyn">
                              <svg width="24" height="24" viewBox="0 0 24 24" role="presentation">
                                <path d="M8.292 10.293a1.009 1.009 0 000 1.419l2.939 2.965c.218.215.5.322.779.322s.556-.107.769-.322l2.93-2.955a1.01 1.01 0 000-1.419.987.987 0 00-1.406 0l-2.298 2.317-2.307-2.327a.99.99 0 00-1.406 0z" fill="currentColor" fill-rule="evenodd"></path>
                              </svg>
                            </span>
                          </span>
                        </span>
                      </button>
                    </div>
                    <div class="_18s81b66 _1ul9idpf">
                      <button aria-expanded="false" class="css-1luyhz2" type="button">
                        <span class="css-178ag6o">
                          <span class="_1e0c116y">
                            <span class="_1e0c116y _4cvr1h6o">
                              <span class="_p12fo812 _1reo15vq _18m915vq _1bto1l2s">
                                <font style="vertical-align: inherit;">
                                  <font style="vertical-align: inherit;">Người được chuyển nhượng</font>
                                </font>
                              </span>
                            </span>
                          </span>
                        </span>
                        <span class="css-1q91qu1">
                          <span class="_1e0c116y _4cvr1h6o _2hwx196n">
                            <span aria-hidden="true" class="css-snhnyn">
                              <svg width="24" height="24" viewBox="0 0 24 24" role="presentation">
                                <path d="M8.292 10.293a1.009 1.009 0 000 1.419l2.939 2.965c.218.215.5.322.779.322s.556-.107.769-.322l2.93-2.955a1.01 1.01 0 000-1.419.987.987 0 00-1.406 0l-2.298 2.317-2.307-2.327a.99.99 0 00-1.406 0z" fill="currentColor" fill-rule="evenodd"></path>
                              </svg>
                            </span>
                          </span>
                        </span>
                      </button>
                    </div>
                    <div class="_18s81b66 _1ul9idpf">
                      <button aria-expanded="false" label="addButton" class="css-1luyhz2" type="button">
                        <span class="css-178ag6o">
                          <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Hơn</font>
                          </font>
                        </span>
                        <span class="css-1q91qu1">
                          <span role="img" aria-label="thêmIcon" class="css-1wits42">
                            <svg width="24" height="24" viewBox="0 0 24 24" role="presentation">
                              <path d="M13 11V3.993A.997.997 0 0012 3c-.556 0-1 .445-1 .993V11H3.993A.997.997 0 003 12c0 .557.445 1 .993 1H11v7.007c0 .548.448.993 1 .993.556 0 1-.445 1-.993V13h7.007A.997.997 0 0021 12c0-.556-.445-1-.993-1H13z" fill="currentColor" fill-rule="evenodd"></path>
                            </svg>
                          </span>
                        </span>
                      </button>
                    </div>
                    <div class="_1e0c1txw _16jlidpf _1o9zidpf">
                      <div class="_1e0c1txw _4cvr1h6o _4t3izwfg _19pk1b66 _18u01b66 _1yt4x7n9 _vchhusvi _1kl7h6cr"></div>
                      <div>
                        <button class="css-16evetn" tabindex="0" type="button">
                          <span class="css-178ag6o">
                            <font style="vertical-align: inherit;">
                              <font style="vertical-align: inherit;">Lưu bộ lọc</font>
                            </font>
                          </span>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="_18u0u2gc _1wpzv2br _1tkexy5q _1e0c1txw">
                    <fieldset class="_1e0c1txw _1n261g80 _1bsb1ris _p12f1osq _kqswh2mm _bfhk1s4m _2rko1l7b _ca0q14y2 _u5f314y2 _n3td14y2 _19bv14y2 _1wyb1crf _vwz41clk _1p1dangw _k48pni7l _syazaj1x _1r9t7mnp _ho6m1wmp _soiet94y _1se6t94y _1jdg1n1a _z71v1n1a _1o5t1n1a _irrs1n1a _p8t715vq _b4u715vq _1qiiidpf _12o6idpf _19mbidpf _1ob8idpf _1jhnstnw _10bvh2mm _1nvfidpf _1nei14y2 _rt2pidpf _bmksidpf _fhioidpf _1kt9b3bt _1cs8stnw _1rus1tag _rfx31wa3 _qs2z1l1k _1cg61yx9 _mlfedkwg _cfu11ule _qnecejz7 _1auk1nuc _1mp412nj _kfgt1d85">
                      <legend>
                        <font style="vertical-align: inherit;">
                          <font style="vertical-align: inherit;">Chọn chế độ tìm kiếm</font>
                        </font>
                      </legend>
                      <p class="_11127mnp _1q091wmp _pytkt94y _5hv9t94y _2x4g1n1a _12hv1n1a _x5bd1n1a _1rgf1n1a _1yzy15vq _bgrh15vq _v69yidpf _ogxmidpf _1qtqidpf _n9z4idpf _khufstnw _15pj1ule _d7ff1l7b _1j8614y2 _1qrc1l7b _4yng14y2 _1vzltlke _1ioh1l7b _vrjh14ae _1hhy73ad _1emz73ad _1efl8q0r _c2fy18uv _ynfu18uv _7el91vt6 _15pqglyw">
                        <input type="radio" id="toggle-buttons-3-basic" name="toggle-buttons-3" value="basic" checked="">
                        <label for="toggle-buttons-3-basic">
                          <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Nền tảng</font>
                          </font>
                        </label>
                      </p>
                      <p class="_11127mnp _1q091wmp _pytkt94y _5hv9t94y _2x4g1n1a _12hv1n1a _x5bd1n1a _1rgf1n1a _1yzy15vq _bgrh15vq _v69yidpf _ogxmidpf _1qtqidpf _n9z4idpf _khufstnw _15pj1ule _d7ff1l7b _1j8614y2 _1qrc1l7b _4yng14y2 _1vzltlke _1ioh1l7b _vrjh14ae _1hhy73ad _1emz73ad _1efl8q0r _c2fy18uv _ynfu18uv _7el91vt6 _15pqglyw">
                        <input type="radio" id="toggle-buttons-3-advanced" name="toggle-buttons-3" value="advanced">
                        <label for="toggle-buttons-3-advanced">
                          <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">JQL</font>
                          </font>
                        </label>
                      </p>
                    </fieldset>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div class="sc-1wqp2jw-0 kOjind" role="status" aria-live="polite" aria-relevant="additions" aria-atomic="true">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">0 vấn đề phù hợp với tìm kiếm của bạn.</font>
                </font>
              </div>
              <div class="sc-1wqp2jw-0 kOjind" role="status" aria-atomic="true"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
