
<app-user-layout></app-user-layout>

<div class="css-1btht9s">

  <app-sidebar></app-sidebar>

  <div class="_11q71j6p">

    <app-heading></app-heading>

    <div class="_kqswh2mm _154i14em _1yt4y22u">
      <div class="_2d3f1yz2 _japi1e8k _iu1g1fl4 _fok81wug _q7c11wug _2rkolsi6 _bfhk8q8z">
        <div class="css-7klh0i">
          <div class="sc-1384a0r-0 iVgoIh">
            <div class="css-px4efj">
              <div class="css-1427chj">
                <div class="sc-1384a0r-1 kMvPAv">
                  <div class="_1tke1tcg">
                    <nav aria-label="Breadcrumbs" tabindex="-1">
                      <ol class="css-1h6m8iz">
                        <li class="css-1ezvki8">
                          <a class="css-1jng6we" tabindex="0" href="#"target="_self">
                            <span class="css-1gd7hga">Projects</span>
                          </a>
                        </li>
                        <li class="css-1ezvki8">
                          <a class="css-1jng6we" tabindex="0" href="#"target="_self">
                            <span class="css-1gd7hga">QLNS</span>
                          </a>
                        </li>
                        <li class="css-1ezvki8">
                          <a class="css-1jng6we" tabindex="0" href="#" target="_self">
                            <span class="css-1gd7hga">Project settings</span>
                          </a>
                        </li>
                      </ol>
                    </nav>
                  </div>
                </div>
                <div class="h5xpn2-0 erfPlV">
                  <div class="_1tkeufrr">
                    <div class="css-cayjis">
                      <div class="css-1eekove">
                        <div class="css-13emw79">
                          <h1 class="sc-1j82sj-0 dNvFqZ">Details</h1>
                        </div>
                        <div class="css-8pvvsq">
                          <div class="_y3gn1e5h">
                            <button class="css-9snh2d"type="button" nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
                              <span class="css-bwxjrz">
                                <span role="img" aria-label="More" class="css-snhnyn">
                                  <svg width="24" height="24" viewBox="0 0 24 24" role="presentation">
                                    <g fill="currentColor" fill-rule="evenodd">
                                      <circle cx="5" cy="12" r="2"></circle>
                                      <circle cx="12" cy="12" r="2"></circle>
                                      <circle cx="19" cy="12" r="2"></circle>
                                    </g>
                                  </svg>
                                </span>
                              </span>
                            </button>
                            <nz-dropdown-menu #menu="nzDropdownMenu">
                              <ul nz-menu>
                                <li nz-menu-item>Di chuyển vào thùng rác</li>
                              </ul>
                            </nz-dropdown-menu>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="_1e0c1txw _1bah1h6o">
                      <div class="sc-3tjnzy-0 fNDVAG">
                        <form class="">
                          <div>
                            <div class="_1e0c1txw _2lx21bp4 _1bah1h6o _n3td1b66">
                              <svg class="_2rko1l7b _1bsb1qr7 _4t3i1qr7 _19pkidpf _2hwx1wug _otyridpf _18u01wug" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="128px" height="128px" viewBox="0 0 128 128" version="1.1" style="background: #FFFFFF;">
                                <defs>
                                    <rect id="path-1" x="0" y="0" width="128" height="128"/>
                                </defs>
                                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="project_avatar_refresh">
                                        <g id="Refresh">
                                            <g>
                                                <mask id="mask-2" fill="white">
                                                    <use xlink:href="#path-1"/>
                                                </mask>
                                                <use id="Rectangle" fill="#6555C0" xlink:href="#path-1"/>
                                                <circle id="Oval" fill="#8777D9" fill-rule="nonzero" cx="80.078" cy="90.901" r="15.576"/>
                                                <circle id="Oval" fill="#8777D9" fill-rule="nonzero" cx="47.719" cy="35.189" r="15.576"/>
                                                <path d="M28.744,77.102 C26.275,77.75 23.848,78.394 21.416,79.021 C19.764,79.447 18.771,78.496 19.196,76.824 C21.493,67.787 23.809,58.755 26.143,49.728 C26.628,47.852 27.858,47.541 29.236,48.942 C34.385,54.177 39.513,59.434 44.647,64.684 C46,66.067 47.359,67.444 48.697,68.841 C49.954,70.155 49.625,71.436 47.894,71.928 C45.556,72.592 43.207,73.219 40.494,73.963 C41.816,75.94 42.882,77.874 44.268,79.542 C48.864,85.077 54.771,88.195 61.979,88.861 C67.472,89.368 72.51,88.047 77.305,85.452 C81.493,83.185 86.418,86.166 86.309,90.887 C86.258,93.096 85.226,94.857 83.315,95.955 C76.196,100.042 68.529,101.829 60.362,100.828 C45.693,99.029 35.305,91.29 29.142,77.866 C29.029,77.621 28.893,77.387 28.744,77.102 Z" id="Shape" fill="#00C7E6" fill-rule="nonzero"/>
                                                <path d="M87.743,52.194 C85.932,48.382 83.531,45.305 80.411,42.793 C75.825,39.1 70.536,37.226 64.692,37.09 C60.04,36.982 55.634,38.137 51.56,40.433 C49.865,41.388 48.107,41.753 46.232,41.079 C43.804,40.206 42.401,38.43 42.155,35.904 C41.912,33.415 42.956,31.404 45.122,30.131 C50.128,27.189 55.554,25.433 61.344,25.106 C73.508,24.42 83.875,28.458 92.276,37.342 C95.176,40.408 97.399,43.938 99.1,47.798 C99.272,48.187 99.45,48.573 99.646,49.005 C102.119,48.349 104.506,47.708 106.898,47.084 C108.736,46.605 109.663,47.579 109.176,49.491 C107.691,55.325 106.19,61.155 104.701,66.988 C103.932,70 103.177,73.015 102.408,76.027 C102.202,76.834 102.009,77.849 101.046,77.878 C100.384,77.898 99.547,77.461 99.056,76.964 C92.588,70.422 86.164,63.837 79.739,57.253 C78.441,55.923 78.808,54.639 80.638,54.122 C82.941,53.471 85.256,52.866 87.743,52.194 Z" id="Shape" fill="#FFFFFF" fill-rule="nonzero"/>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                          </div>
                            <div class="_1e0c1txw _1bah1h6o _1yt4uxx2">
                              <button class="css-1luyhz2" tabindex="0" type="button">
                                <span class="css-178ag6o">Change icon</span>
                              </button>
                            </div>
                          </div>
                          <div class="_1bsb1j89 _19pkv47k">
                            <p class="_1wyb1crf _syaz1n3s">Required fields are marked with an asterisk
                              <span aria-hidden="true" title="required" class="css-twk84a">*</span>
                            </p>
                          </div>
                          <div class="_1bsb1j89 _19pkv47k">
                            <div class="css-q5x77e">
                              <label id="projectName-uid60-label" for="projectName-uid60" class="css-1nzatiy">Name
                                <span aria-hidden="true" title="required"class="css-twk84a">*</span>
                                </label>
                              <div role="presentation" class="css-1s25hsw">
                                <input id="projectName-uid60" name="projectName" required="" class="css-1cab8vv" value="QLNS">
                              </div>
                            </div>
                          </div>
                          <div class="_1bsb1j89 _19pkv47k">
                            <div class="css-q5x77e">
                              <label id="projectKey-uid61-label" for="projectKey-uid61" class="css-1nzatiy">Key
                                <span aria-hidden="true" title="required" class="css-twk84a">*</span>
                                </label>
                              <div role="presentation" class="css-1s25hsw">
                                <input id="projectKey-uid61" name="projectKey" required="" class="css-1cab8vv" value="FIRST">
                              </div>
                            </div>
                          </div>
                          <div class="_1bsb1j89 _19pkv47k">
                            <div class="css-q5x77e">
                              <label id="project-category-uid64-label" for="project-category-uid64" class="css-1nzatiy">Category</label>
                              <div class=" css-rq8zrp-container">
                                <span id="react-select-6-live-region" class="css-7pg0cj-a11yText"></span>
                                <span class="css-7pg0cj-a11yText"></span>
                                <div class=" css-l6rpfx-control">
                                  <div class=" css-gwngf9">
                                    <div class=" css-12fvguc-placeholder" id="react-select-6-placeholder">Choose a category
                                    </div>
                                    <div class=" css-1tbvomj">
                                      <input class="" id="project-category-uid64" spellcheck="false" tabindex="0" type="text" aria-autocomplete="list" aria-expanded="false" aria-haspopup="true" role="combobox" aria-describedby="react-select-6-placeholder" value="" style="color: inherit; background: 0px center; opacity: 1; width: 100%; grid-area: 1 / 2; font: inherit; min-width: 2px; border: 0px; margin: 0px; outline: 0px; padding: 0px;">
                                    </div>
                                  </div>
                                  <div class=" css-t5ibhw">
                                    <div class=" css-ud5qw-indicatorContainer" aria-hidden="true">
                                      <span role="img" aria-label="open" class="css-snhnyn">
                                        <svg width="24" height="24" viewBox="0 0 24 24" role="presentation">
                                          <path d="M8.292 10.293a1.009 1.009 0 000 1.419l2.939 2.965c.218.215.5.322.779.322s.556-.107.769-.322l2.93-2.955a1.01 1.01 0 000-1.419.987.987 0 00-1.406 0l-2.298 2.317-2.307-2.327a.99.99 0 00-1.406 0z" fill="currentColor" fill-rule="evenodd"></path>
                                        </svg>
                                      </span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="_1bsb1j89 _19pkv47k">
                            <div class="css-q5x77e">
                              <label id="project-lead-user-picker-label" for="project-lead-user-picker" class="css-1nzatiy">Project lead</label>
                              <div class=" css-rq8zrp-container">
                                <span class="css-7pg0cj-a11yText"></span>
                                <span class="css-7pg0cj-a11yText"></span>
                                <div class="fabric-user-picker__control css-1whq50c-control">
                                  <div class="fabric-user-picker__value-container fabric-user-picker__value-container--has-value css-wy6q2c">
                                    <div class="css-1foclkr"></div>
                                    <div class="fabric-user-picker__single-value css-1szrol4-singleValue">
                                      <div class="css-17em17c">
                                        <div style="display: inline-block; position: relative; outline: 0px;">
                                          <span class="css-vnrk9l">
                                            <img src="https://secure.gravatar.com/avatar/38b446d3d303d026338579fb257ab637?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FCV-5.png"  alt="Công Đồng Văn" class="css-13ep12v" style="border-radius: 50%;">
                                          </span>
                                        </div>
                                        <div class="css-t58y3o">
                                          <span class="css-1318b45">Công Đồng Văn</span>
                                          <span class="css-6ne31f"></span>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="fabric-user-picker__input-container css-n6hwrb">
                                      <input class="fabric-user-picker__input" autocapitalize="none" autocomplete="off" autocorrect="off" id="react-select-project-lead-user-picker-input" spellcheck="false" tabindex="0" type="text" aria-autocomplete="list" aria-expanded="false" aria-haspopup="true" aria-invalid="false" aria-labelledby="project-lead-user-picker-label" aria-required="false" role="combobox" aria-describedby="project-lead-user-picker-helper" value="" style="color: inherit; background: 0px center; opacity: 1; width: 100%; grid-area: 1 / 2; font: inherit; min-width: 2px; border: 0px; margin: 0px; outline: 0px; padding: 0px;">
                                    </div>
                                  </div>
                                  <div class="fabric-user-picker__indicators css-2egbai"></div>
                                </div>
                                <input name="jira-user-picker" type="hidden">
                              </div>
                            </div>
                            <div aria-live="polite" class="css-1v38ife">Make sure your project lead has access to issues in the project.</div>
                          </div>
                          <div class="_1bsb1j89 _19pkv47k">
                            <div class="css-q5x77e">
                              <label id="default-assignee-uid66-label" for="default-assignee-uid66" class="css-1nzatiy">Default assignee</label>
                              <div role="presentation">
                                <div class=" css-rq8zrp-container">
                                  <span id="react-select-7-live-region" class="css-7pg0cj-a11yText"></span>
                                    <span aria-live="assertive" aria-atomic="false" aria-relevant="additions text" class="css-7pg0cj-a11yText"></span>
                                  <div class="atlaskit-select__control css-l6rpfx-control">
                                    <div class="atlaskit-select__value-container atlaskit-select__value-container--has-value css-gwngf9">
                                      <div class="atlaskit-select__single-value css-19by3g5-singleValue">Unassigned</div>
                                      <div class="atlaskit-select__input-container css-1tbvomj" data-value="">
                                        <input class="atlaskit-select__input" autocapitalize="none" autocomplete="off" autocorrect="off" id="default-assignee-uid66" spellcheck="false" tabindex="0" type="text" aria-autocomplete="list" aria-expanded="false" aria-haspopup="true" role="combobox" value="" style="color: inherit; background: 0px center; opacity: 1; width: 100%; grid-area: 1 / 2; font: inherit; min-width: 2px; border: 0px; margin: 0px; outline: 0px; padding: 0px;">
                                      </div>
                                    </div>
                                    <div class="atlaskit-select__indicators css-t5ibhw">
                                      <div class="atlaskit-select__indicator atlaskit-select__dropdown-indicator css-ud5qw-indicatorContainer" aria-hidden="true">
                                        <span role="img" aria-label="open" class="css-snhnyn">
                                          <svg width="24" height="24" viewBox="0 0 24 24" role="presentation">
                                            <path d="M8.292 10.293a1.009 1.009 0 000 1.419l2.939 2.965c.218.215.5.322.779.322s.556-.107.769-.322l2.93-2.955a1.01 1.01 0 000-1.419.987.987 0 00-1.406 0l-2.298 2.317-2.307-2.327a.99.99 0 00-1.406 0z" fill="currentColor" fill-rule="evenodd"></path>
                                          </svg>
                                        </span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="_19pkpxbi">
                            <button class="css-1dr8h68" disabled="" tabindex="-1" type="submit">
                              <span class="css-178ag6o">Save</span>
                            </button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
