<div id="trello-root" class="chrome chrome-120 windows">
  <div id="chrome-container">
    <div class="gRz5T7UPIdkhxr">
      <div id="surface" class="IhOp6hdgoCyaah">
        <main id="popover-boundary" class="O1u5lZUUgXVadi">
          <div style="display: flex; flex-direction: row; flex: 1 1 0%; position: relative; overflow-y: auto;">
            <nav class="oiarmSAgGVRpKl JnOFnU1isxYh3O I7hLrv9M_11Tox">
              <div class="sOooUS3xvGJgJi kn56WLcptjh4Z8"></div>
              <div class="pCEkBQkauR_BfD"></div>
            </nav>
            <div id="content-wrapper" style="display: flex; flex-direction: column; flex: 1 1 0%; overflow-y: auto;">
              <div>
                <div class="js-react-root"></div>
                <div id="banners"></div>
              </div>
              <div id="content">
                <div class="js-react-root">
                  <main class="nvfJSf_0WwLXsm">
                    <header class="Q0xBcDM208jt_Q bgsXwvK059QYQW">
                      <img alt="Trello" src="/assets/img/c8b7bafdbc02d4015366.svg" class="ttOWyS1tO7O5b_">
                    </header>
                    <div role="complementary" class="FyBagWF4ZZxiQC J4cKtsHJCnCDnz">
                      <div class="rvjopdlfzXYsMh" style="height: 669px;">
                        <div class="GIrJV_pUPjcTln">
                          <div class="leftFormContent">
                            <h1>Chào mừng đến với Snap!</h1>
                            <p>Chúng tôi rất vui vì bạn đã làm được. Hãy bắt đầu tổ chức các dự án của bạn để bạn có thể
                              hoàn thành công việc.
                            </p>
                              <button routerLink="/user/project" class="bxgKMAm3lq5BpA SdamsUKjxSBwGb SEj5vUdI3VvxDc" type="button">Xây dựng bảng đầu tiên của bạn</button>
                          </div>
                          <button class="AFpizOdxDMPHLk bxgKMAm3lq5BpA V_9lMAQOdk_AYt SEj5vUdI3VvxDc" routerLink="/user/doashboard-home" type="button" d>Bỏ qua</button>
                        </div>
                        <div class="PRRGjutsKKvknL" style="height: 669px;">
                          <div class="pP73X9uYLf8Nsy">
                            <div class="dxiXF8eUq86eHc">
                              <svg viewBox="0 0 594 463" height="463" width="594" xmlns="http://www.w3.org/2000/svg">
                                <defs>
                                  <linearGradient id="grad2" x1="50%" y1="0%" x2="0%" y2="100%">
                                    <stop offset="0%" style="stop-color: rgb(252, 198, 235); stop-opacity: 1;"></stop>
                                    <stop offset="100%" style="stop-color: rgb(192, 182, 242); stop-opacity: 1;"></stop>
                                  </linearGradient>
                                </defs>
                                <path fill="url(#grad2)"
                                  d="M532 160.739C556 217 630.697 274.586 571 337.586C511.303 400.586 436 408 352 452C268 496 197.915 390.469 151 326C115.876 277.735 0 221.034 0 160.739C0 75.7133 92.1323 7.13798 151 0.739296C197 -4.26072 235.975 17.7392 292 17.7392C371.224 17.7392 418.042 -11.3217 465 32C506 69.8251 508 104.479 532 160.739Z">
                                </path>
                              </svg>
                            </div>
                          </div>
                          <div class="TsQMHmVtQA_3Cp">
                            <div class="iq7GdHjfPq3bGy">
                              <div class="lB02038omIOdVe">
                                <img class="y0A3RMCrtARYeE" alt="Chào mừng đến với Trello!" src="/assets/img/a7fb768ffd0181cbfc63.svg"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="rZTjpibrsGsfDV rTcijZXHMfOsEE"></div>
                  </main>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
  </div>
</div>
