#trello-root, #chrome-container {
  height: 100%;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
#nocss {
  display: none;
}
.big-message {
  display: block;
  margin: 75px auto;
  max-width: 600px;
  text-align: center;
}
.gRz5T7UPIdkhxr {
  height: 100%;
  position: relative;
  z-index: 0;
}
.IhOp6hdgoCyaah {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.O1u5lZUUgXVadi {
  position: relative;
  overflow-y: auto;
  outline: none;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.I7hLrv9M_11Tox {
  display: none;
}
.JnOFnU1isxYh3O {
  width: 260px;
}
.oiarmSAgGVRpKl {
  position: relative;
  box-shadow: 1px 0px 0px 0px hsla(218,54%,19.6%,0.16);
  width: 16px;
  height: 100%;
  min-height: 100%;
  z-index: 5;
}
.sTxn_60NHwOoDY, .kn56WLcptjh4Z8 {
  transform: translate3d(0%, 0, 0);
}
.pCEkBQkauR_BfD, .sOooUS3xvGJgJi {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  transform: translate3d(-100%, 0, 0);
  transition: transform 100ms ease-in;
}
.sOooUS3xvGJgJi {
  width: 260px;
}
.pCEkBQkauR_BfD, .sOooUS3xvGJgJi {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  transform: translate3d(-100%, 0, 0);
  transition: transform 100ms ease-in;
}
.pCEkBQkauR_BfD {
  width: 16px;
}
.IhOp6hdgoCyaah #content {
  flex-grow: 1;
}
#content {
  outline: none;
  overflow-y: auto;
  position: relative;
}
.nvfJSf_0WwLXsm {
  display: flex;
  flex-direction: column;
}
.Q0xBcDM208jt_Q.bgsXwvK059QYQW {
  background: #0C66E4;
}
.Q0xBcDM208jt_Q {
  background: #091e4224;
  display: flex;
  box-sizing: border-box;
  padding: 12px 0 12px 44px;
  height: 70px;
  z-index: 1;
}
.ttOWyS1tO7O5b_ {
  width: 120px;
}

img {
  border: 0;
}
.FyBagWF4ZZxiQC.J4cKtsHJCnCDnz {
  margin: 0;
}
.FyBagWF4ZZxiQC {
  margin: 80px auto;
}
.rvjopdlfzXYsMh {
  display: flex;
  flex-wrap: nowrap;
}
.rvjopdlfzXYsMh .GIrJV_pUPjcTln {
  display: grid;
  width: 45vw;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  overflow: auto;
}
.rvjopdlfzXYsMh .GIrJV_pUPjcTln .leftFormContent {
  grid-row: 2;
  grid-column: 2;
  max-width: 340px;
  margin: auto;
  padding: 60px 0;
}
.rvjopdlfzXYsMh .GIrJV_pUPjcTln .leftFormContent h1 {
  font-size: 34px;
  font-weight: 500;
  line-height: 40px;
  margin-bottom: 24px;
}
.rvjopdlfzXYsMh .GIrJV_pUPjcTln .leftFormContent p {
  margin-bottom: 20px;
}
p {
  margin: 0 0 8px;
}
.SdamsUKjxSBwGb {
  background-color:  #0c66e4;
  box-shadow: none;
  border: none;
  color: #ffffff;
}
.bxgKMAm3lq5BpA {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Noto Sans', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  font-display: swap;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  cursor: pointer;
  padding: 6px 12px;
  text-decoration: none;
  white-space: normal;
  background-color: #091e420f;
  box-shadow: none;
  border: none;
  color:  #172b4d;
  font-weight: 500;
  transition-property: background-color, border-color, box-shadow;
  transition-duration: 85ms;
  transition-timing-function: ease;
}
.AFpizOdxDMPHLk {
  grid-row: 3;
  grid-column: 3;
  justify-self: end;
  align-self: end;
  margin-bottom: 20px;
  margin-right: 44px;
  color: #626f86;
}
.V_9lMAQOdk_AYt {
  border: none;
  box-shadow: none;
  background-color: transparent;
  text-decoration: none;
  color:#0c66e4;
  padding: 0;
}
.bxgKMAm3lq5BpA {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Noto Sans', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  font-display: swap;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  cursor: pointer;
  padding: 6px 12px;
  text-decoration: none;
  white-space: normal;
  background-color: #091e420f;
  box-shadow: none;
  border: none;
  color: #172b4d;
  font-weight: 500;
  transition-property: background-color, border-color, box-shadow;
  transition-duration: 85ms;
  transition-timing-function: ease;
}
.rvjopdlfzXYsMh .PRRGjutsKKvknL {
  position: fixed;
  right: 0;
  height: 100%;
  width: 55vw;
  background: linear-gradient(209.9deg,  #00000000 6.69%,  #e9f2ff 91.18%);
}
.pP73X9uYLf8Nsy {
  margin: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pP73X9uYLf8Nsy .dxiXF8eUq86eHc {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 900px;
  padding: 2em 0;
  height: calc(100% - 4em);
}
.pP73X9uYLf8Nsy .dxiXF8eUq86eHc svg {
  margin: 0 5em;
  width: 100%;
  height: 100%;
}

svg:not(:root) {
  overflow: hidden;
}
@media only screen and (min-width: 1281px) and (max-width: 1550px){
  .pP73X9uYLf8Nsy .dxiXF8eUq86eHc svg {
    margin: 0 4.25em;
}
}
.rvjopdlfzXYsMh .PRRGjutsKKvknL .TsQMHmVtQA_3Cp {
  height: 100%;
  width: 55vw;
  position: absolute;
  top: 0;
  right: 0;
}
.iq7GdHjfPq3bGy {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.iq7GdHjfPq3bGy .lB02038omIOdVe {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 70%;
  max-height: 70%;
}
.iq7GdHjfPq3bGy .lB02038omIOdVe .y0A3RMCrtARYeE {
  height: 250vh;
  width: 250vw;
  max-height: 450%;
  max-width: 450%;
  transform: scale(0.23);
}

img {
  border: 0;
}
.rZTjpibrsGsfDV.rTcijZXHMfOsEE {
  background:  #ffffff;
}
.rZTjpibrsGsfDV {
  background: linear-gradient(60deg, #6e5dc6, #e774bb);
  display: flex;
  z-index: -900;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}
#clipboard-container {
  display: none;
  height: 0;
  left: 0;
  max-height: 1px;
  max-width: 1px;
  opacity: 0;
  position: fixed;
  top: 0;
  width: 0;
  z-index: 100;
}
.tooltip-container {
    display: block;
    margin: 4px 0;
    max-width: 200px;
    position: absolute;
    z-index: 100;
}
.SdamsUKjxSBwGb {
  background-color: #0c66e4;
  box-shadow: none;
  border: none;
  color: #ffffff;
}
