.app-root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.app-root > :not(main) {
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
}
.app-root > div, .app-root > header, .app-root > main, .app-root > footer {
  width: 100%;
}
.BYsQb #skip-to-content {
  display: inline-block;
  padding: 0.5rem 1.25rem;
  background: rgb(23, 43, 77);
  color: rgb(255, 255, 255);
  font-size: 1rem;
  border: 1px solid rgb(23, 43, 77);
  border-radius: 0.3rem;
  text-decoration: none;
  cursor: pointer;
  transition: all 250ms ease-out 0s;
  position: fixed;
  top: 0.5rem;
  left: 0.5rem;
  z-index: 1000;
}
.BYsQb .visually-hidden:not(:focus):not(:active) {
  clip: rect(0px, 0px, 0px, 0px);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
a {
  color: rgb(0, 82, 204);
}
.hNNfeR {
  background-color: rgba(9, 30, 66, 0);
  display: none;
  height: 0px;
  left: 0px;
  position: fixed;
  right: 0px;
  top: 0px;
  transition: background-color 0.6s ease 0s, height 0s linear 0.6s;
  z-index: 90;
}
@media (min-width: 992px){
  .hNNfeR {
    display: block;
}
}
.kuxyBF {
  background-color: rgb(255, 255, 255);
  cursor: default;
  position: fixed;
  top: 0px;
  transition: background-color 0.5s ease 0s, box-shadow 0.5s ease 0s;
  width: 100vw;
  z-index: 100;
}
.caTbTe {
  -webkit-box-align: stretch;
  align-items: stretch;
  display: flex;
  height: 60px;
  margin: 0px auto;
  max-width: 1320px;
}
.hHvFIJ {
  -webkit-box-align: center;
  align-items: center;
  align-self: stretch;
  display: flex;
  padding: 1rem;
}
body a {
  color: rgb(0, 82, 204);
}
a {
  color: rgb(0, 82, 204);
}
.gguOta {
  display: block;
  height: auto;
  max-width: 100%;
  width: auto;
}
svg {
  overflow: hidden;
  vertical-align: middle;
}
.hniXih {
  display: flex;
  position: relative;
}
*, ::before, ::after {
  box-sizing: border-box;
}
button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled) {
  cursor: pointer;
}
.fvBJJk {
  -webkit-box-align: center;
  align-items: center;
  align-self: stretch;
  color: rgb(23, 43, 77);
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  padding: 1.25rem 1rem 1rem;
  user-select: none;
  border: 0px;
  background-color: transparent;
  gap: 0.25rem;
}
button, [type="button"], [type="reset"], [type="submit"] {
  appearance: button;
}
button, select {
  text-transform: none;
}
button, input {
  overflow: visible;
}
.fvBJJk svg {
  width: 0.5rem;
  height: auto;
}
.ILpDE {
  -webkit-box-align: center;
  align-items: center;
  align-self: stretch;
  color: rgb(23, 43, 77);
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  padding: 1.25rem 1rem 1rem;
  user-select: none;
  text-decoration: none;
}
.jnMZCI {
  -webkit-box-align: stretch;
  align-items: stretch;
  display: flex;
  margin-left: auto;
}
.kTwZBr {
  -webkit-box-align: center;
  align-items: center;
  align-self: stretch;
  color: rgb(23, 43, 77);
  display: flex;
  font-size: 1.2rem;
  height: 100%;
  padding: 0.5rem 1.5rem;
  text-decoration: none;
}
.lhSFdZ {
  background-color: rgb(0, 101, 255);
  color: rgb(255, 255, 255);
}
.giGyPu {
  background-color: rgb(222, 235, 255);
  color: rgb(9, 30, 66);
  scroll-margin-top: 72px;
}
.ctsbPE {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
}
@media (min-width: 1200px){
  .ctsbPE {
    max-width: 1140px;
}
}
.eFxVbw {
  padding: 5rem 1rem 1rem;
  position: relative;
  scroll-margin-top: 72px;
  text-align: center;
  background-color: rgb(222, 235, 255);
  color: rgb(9, 30, 66);
  display: block;
  flex: 0 0 auto;
  width: 100%;
  margin-top: 0px;
}
.eFxVbw > :last-child {
  margin-bottom: 0px;
}
.hEevuu {
  font-size: 1rem;
}
.eFxVbw > :last-child > :last-child {
  margin-bottom: 0px;
}
p {
  margin-top: 0px;
  margin-bottom: 1rem;
}
.giGyPu a {
  color: rgb(0, 82, 204);
}
.cDvxpF {
    scroll-margin-top: 72px;
}
@media (min-width: 1200px){
  .cDvxpF {
    background: url(//images.ctfassets.net/rz1oowkt5gyp/7lTGeXbBRNRLaVk2MdBjtJ/99c266e…/white-wave-bg.svg) center bottom -0.5px / 100% 14% no-repeat scroll padding-box border-box, linear-gradient(60deg, rgb(82, 67, 170), rgb(237, 80, 180)) 0% 0% / auto repeat scroll padding-box border-box rgb(82, 67, 170);
    background-blend-mode: normal, normal;
    color: rgb(255, 255, 255);
}
}
@media (min-width: 992px){
  .cDvxpF {
    overflow-x: hidden;
}
}
.ctsbPE {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
}
@media (min-width: 1200px){
  .ctsbPE {
    max-width: 1140px;
}
}
.esQJBv {
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: start;
  justify-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  margin-left: -1rem;
  margin-right: -1rem;
}
.eXMZwc {
  padding: 8rem 1rem 1rem;
  position: relative;
  scroll-margin-top: 72px;
  text-align: center;
  width: 100%;
  margin-top: 0px;
}
@media (min-width: 992px){
  .eXMZwc {
    text-align: left;
    display: block;
    flex: 0 0 auto;
    width: 50%;
    margin-bottom: 0px;
    padding-bottom: 8rem;
}
}
h1, .h1 {
  font-family: 'Charlie Display',sans-serif;
  font-weight: 500;
  margin-bottom: 0.5rem;
  margin-top: 0px;
  font-size: 2rem;
  line-height: 1.25;
}
@media (min-width: 992px){
  h1, .h1 {
    font-size: 3rem;
    line-height: 1.25;
}
}
p {
  margin-bottom: 1.5rem;
}
@media (min-width: 768px){
  .emazsG {
    height: 0.5rem;
}
}
.HlPFN {
  display: flex;
  gap: 1rem;
  -webkit-box-pack: center;
  justify-content: center;
}
@media (min-width: 768px){
  .HlPFN {
    flex-wrap: wrap;
}
}
@media (min-width: 992px){
  .lg-text-left .UiEmailSignupstyles__Form-sc-9nggyw-0 {
    -webkit-box-pack: start;
    justify-content: start;
}
}
.ZIPtJ {
  display: none;
  font-size: 1rem;
  padding: 0.7rem 0.75rem 0.8rem;
  border: 1px solid rgb(223, 225, 230);
  border-radius: 0.3rem;
  max-width: 300px;
  transition: all 250ms ease-out 0s;
  width: 376px;
}
button, input {
  overflow: visible;
}
input, button, select, optgroup, textarea {
  margin: 0px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
@media (min-width: 768px){
  .ZIPtJ {
    display: block;
}
}
.inwKxu {
  display: inline-block;
}
button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled) {
  cursor: pointer;
}
.inwKxu button {
  appearance: none;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 0.3rem;
  cursor: pointer;
  display: inline-flex;
  text-align: center;
  transition: all 250ms ease-out 0s;
  text-decoration: none;
  background-color: rgb(0, 101, 255);
  border: 1px solid rgb(0, 101, 255);
  font-size: 1rem;
  padding: 0.7rem 1rem 0.8rem;
  color: rgb(255, 255, 255) !important;
}
@media (min-width: 768px){
  .jAuYNL {
    height: 1.5rem;
}
}
.eXMZwc > :last-child {
  margin-bottom: 0px;
}
.oKpLa {
  cursor: pointer;
}
.eXMZwc > :last-child > :last-child {
  margin-bottom: 0px;
}
.ldaPGy {
  display: inline-block;
}
.ldaPGy a, .ldaPGy > span {
  user-select: none;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 0.3rem;
  cursor: pointer;
  display: inline-flex;
  text-align: center;
  transition: all 250ms ease-out 0s;
  font-size: 1rem;
}
@media (min-width: 1200px){
  .cDvxpF a {
    color: rgba(255, 255, 255, 0.8);
}
}
.ldaPGy a span, .ldaPGy > span span {
  display: inline-block;
}
.ldaPGy a svg, .ldaPGy > span svg {
  display: inline-block;
  margin-left: 0.5rem;
  margin-top: 2px;
  transform: translate3d(0px, 0px, 0px);
  transition: transform 250ms ease-out 0s;
}
.iokEFl {
  padding: 1rem;
  position: relative;
  scroll-margin-top: 72px;
  text-align: center;
  width: 100%;
  margin-bottom: -1rem;
  z-index: 1;
}
@media (min-width: 768px){
  .iokEFl {
    margin-bottom: -0.5rem;
    padding-bottom: 1rem;
    z-index: 1;
}
}
@media (min-width: 992px){
  .iokEFl {
    margin-left: -16.6667%;
    left: 16.6667%;
    display: block;
    flex: 0 0 auto;
    width: 58.3333%;
    margin-top: 0px;
    padding-top: 8rem;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
}
.iokEFl > :last-child {
  margin-bottom: 0px;
}
.iokEFl > :last-child > :last-child {
  margin-bottom: 0px;
}
.eYmxm {
  max-width: 100%;
  height: auto;
}
img {
  vertical-align: middle;
}
@media (min-width: 1200px){
  .bnHhDv {
    background: linear-gradient(0deg, rgb(230, 252, 255), rgb(255, 255, 255)) 0% 0% / auto repeat scroll padding-box border-box rgb(178, 212, 255);
    background-blend-mode: normal;
    color: rgb(9, 30, 66);
}
}
.ctsbPE {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
}
@media (min-width: 1200px){
  .ctsbPE {
    max-width: 1140px;
}
}
.xFbia {
  align-items: flex-start;
  -webkit-box-pack: start;
  justify-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  margin-left: -1rem;
  margin-right: -1rem;
}
.EjHGg {
  padding: 1rem;
  position: relative;
  scroll-margin-top: 72px;
  text-align: center;
  width: 100%;
  order: 3;
}
@media (min-width: 768px){
  .EjHGg {
    text-align: left;
    order: 1;
    display: block;
    flex: 0 0 auto;
    width: 58.3333%;
}
}
.dAHVNT {
  font-weight: 500;
  margin-bottom: 0.5rem;
  margin-top: 0px;
  font-size: 1rem;
  line-height: 1.25;
  text-transform: uppercase;
}
.eqdYUU {
  padding-bottom: 1rem;
}
h2, .h2 {
  font-family: 'Charlie Display',sans-serif;
  font-weight: 500;
  margin-bottom: 0.5rem;
  margin-top: 0px;
  font-size: 1.5rem;
  line-height: 1.33333;
}
@media (min-width: 768px){
  h2, .h2 {
    font-size: 2.25rem;
    line-height: 1.33333;
}
}
.EjHGg > :last-child {
  margin-bottom: 0px;
}
.EjHGg > :last-child > :last-child {
  margin-bottom: 0px;
}
@media (min-width: 1200px){
  .cDvxpF {
    background: url(/assets/img/white-wave-bg.svg) center bottom -0.5px / 100% 14% no-repeat scroll padding-box border-box, linear-gradient(60deg, rgb(82, 67, 170), rgb(237, 80, 180)) 0% 0% / auto repeat scroll padding-box border-box rgb(82, 67, 170);
    background-blend-mode: normal, normal;
    color: rgb(255, 255, 255);
}
}
.EjHGg > :last-child > :last-child > :last-child {
  margin-bottom: 0px;
}

@media (min-width: 1200px){
  .bnHhDv a {
    color: rgb(0, 82, 204);
}
}
.dupAVh {
  scroll-margin-top: 72px;
}
.ctsbPE {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
}
@media (min-width: 576px){
  .ctsbPE {
    max-width: 540px;
}
}
@media (min-width: 768px){
  .ctsbPE {
    max-width: 720px;
}
}
@media (min-width: 992px){
  .ctsbPE {
    max-width: 960px;
}
}
@media (min-width: 1200px){
  .ctsbPE {
    max-width: 1140px;
}
}
.ggdMbf {
  padding: 1rem 1rem 5rem;
  position: relative;
  scroll-margin-top: 72px;
  text-align: center;
  width: 100%;
  margin-bottom: 0px;
}
.ggdMbf > :last-child {
  margin-bottom: 0px;
}
.eJbdQc {
  padding: 0px 1rem;
  position: relative;
  scroll-margin-top: 72px;
  text-align: center;
  width: 100%;
  display: none;
  margin-top: 0px;
  margin-bottom: 0px;
}
@media (min-width: 992px){
  .eJbdQc {
    order: 1;
    display: block;
    flex: 0 0 auto;
    width: 33.3333%;
}
}
.eJbdQc > :last-child {
  margin-bottom: 0px;
}
.gdYPRl {
  padding: 1rem 0px;
}
.eJbdQc > :last-child > :last-child {
  margin-bottom: 0px;
}
.gQBPsj {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.ccNjxt {
  background-color: rgb(255, 255, 255);
  color: rgb(9, 30, 66);
  box-shadow: rgba(9, 30, 66, 0.15) 0px 0.5rem 1rem 0px;
  border-radius: 0.3rem;
  border: 0px;
  height: 100%;
  padding: 1rem 1rem 1rem 1.5rem;
  position: relative;
  text-align: left;
}
.ccNjxt > div {
  height: 100%;
}
h3, .h3 {
  font-weight: 500;
  margin-bottom: 0.5rem;
  margin-top: 0px;
  font-size: 1.25rem;
  line-height: 1.2;
}
.ccNjxt h1, .ccNjxt h2, .ccNjxt h3, .ccNjxt p {
  font-size: 1rem;
}
.ccNjxt::after {
  background-color: rgb(0, 199, 229);
  border-radius: 0.3rem 0px 0px 0.3rem;
  bottom: 0px;
  content: "";
  left: 0px;
  position: absolute;
  top: 0px;
  width: 0.5rem;
}
.dplfCp {
  background-color: transparent;
  color: inherit;
  border-radius: 0.3rem;
  border: 0px;
  height: 100%;
  padding: 1rem 1rem 1rem 1.5rem;
  position: relative;
  text-align: left;
}
.dplfCp :last-child {
  margin-bottom: 0px;
}
.dplfCp > div {
  height: 100%;
}
.iaIrPs {
  padding: 0px 1rem 1rem;
  position: relative;
  scroll-margin-top: 72px;
  text-align: center;
  width: 100%;
  margin-top: 0px;
}
@media (min-width: 992px){
  .iaIrPs {
    order: 2;
    display: block;
    flex: 0 0 auto;
    width: 66.6667%;
    margin-top: 0px;
    padding-top: 1rem;
}
}
.iaIrPs > :last-child {
  margin-bottom: 0px;
}
.haFEVv {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.iaIrPs > :last-child > :last-child {
  margin-bottom: 0px;
}
.ctVlwv {
  overflow: hidden;
}
.iaIrPs > :last-child > :last-child > :last-child {
  margin-bottom: 0px;
}
.hbIFpB {
  -webkit-box-align: stretch;
  align-items: stretch;
  display: flex;
}
.oQtLv {
  box-sizing: content-box;
  user-select: none;
  width: 100%;
}
.envePj :last-child {
  margin-bottom: 0px;
}
.envePj > * {
  -webkit-box-flex: 1;
  flex-grow: 1;
}
.fhfTgY {
  display: flex;
  flex-direction: column;
  gap: 0px;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.envePj :last-child {
  margin-bottom: 0px;
}
.envePj :last-child {
  margin-bottom: 0px;
}
.oQtLv img {
  pointer-events: none;
}
.eYmxm {
  max-width: 100%;
  height: auto;
}
.ccNjxt h1, .ccNjxt h2, .ccNjxt h3, .ccNjxt p {
  font-size: 1rem;
}
.kWJXJe {
  padding: 0px 1rem;
  position: relative;
  scroll-margin-top: 72px;
  text-align: center;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
}
@media (min-width: 992px){
  .kWJXJe {
    display: none;
}
}
.ggdMbf > :last-child > :last-child > :last-child {
  margin-bottom: 0px;
}
.kWJXJe > :last-child {
  margin-bottom: 0px;
}
.haFEVv {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.ctVlwv {
  overflow: hidden;
}
.hbIFpB {
  -webkit-box-align: stretch;
  align-items: stretch;
  display: flex;
}
.oQtLv {
  box-sizing: content-box;
  user-select: none;
  width: 100%;
}
.ccNjxt {
  background-color: rgb(255, 255, 255);
  color: rgb(9, 30, 66);
  box-shadow: rgba(9, 30, 66, 0.15) 0px 0.5rem 1rem 0px;
  border-radius: 0.3rem;
  border: 0px;
  height: 100%;
  padding: 1rem 1rem 1rem 1.5rem;
  position: relative;
  text-align: left;
}
.ccNjxt :last-child {
  margin-bottom: 0px;
}
.ccNjxt > div {
  height: 100%;
}
.htNxVV {
    height: 2rem;
}
@media (min-width: 768px){
  .htNxVV {
    height: 3rem;
}
}
.ctsbPE {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
}
@media (min-width: 1200px){
  .ctsbPE {
    max-width: 1140px;
}
}
.xFbia {
  align-items: flex-start;
  -webkit-box-pack: start;
  justify-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  margin-left: -1rem;
  margin-right: -1rem;
}
.EjHGg {
  padding: 1rem;
  position: relative;
  scroll-margin-top: 72px;
  text-align: center;
  width: 100%;
  order: 3;
}
@media (min-width: 768px){
  .EjHGg {
    text-align: left;
    order: 1;
    display: block;
    flex: 0 0 auto;
    width: 58.3333%;
}
}
.EjHGg > :last-child {
    margin-bottom: 0px;
}
.dAHVNT {
  font-weight: 500;
  margin-bottom: 0.5rem;
  margin-top: 0px;
  font-size: 1rem;
  line-height: 1.25;
  text-transform: uppercase;
}
h2, .h2 {
  font-weight: 500;
  margin-bottom: 0.5rem;
  margin-top: 0px;
  font-size: 1.5rem;
  line-height: 1.33333;
}
@media (min-width: 768px){
  h2, .h2 {
    font-size: 2.25rem;
    line-height: 1.33333;
}
}
.eqdYUU {
  padding-bottom: 1rem;
}
.EjHGg > :last-child > :last-child {
  margin-bottom: 0px;
}
.hkvOqv {
  padding-bottom: 2rem;
}
.ctsbPE {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
}
@media (min-width: 1200px){
  .ctsbPE {
    max-width: 1140px;
}
}
.itOKSq {
    -webkit-box-align: center;
    align-items: center;
    justify-content: space-around;
    display: none;
    gap: 1.5rem;
}
@media (min-width: 992px){
  .itOKSq {
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
}
}
.bROdbN {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 0px;
}
.bROdbN svg {
  fill: rgb(244, 245, 247);
}
.bROdbN svg path {
  stroke: rgb(122, 134, 154);
}
.fwSgiY {
  overflow-x: hidden;
}
.ctsbPE {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
}
@media (min-width: 1200px){
  .ctsbPE {
    max-width: 1140px;
}
}
.fwSgiY .grid__Row-sc-p40pqe-1 {
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  width: calc(100% + 2rem);
}
.cJzWlo {
  padding: 1rem;
  position: relative;
  scroll-margin-top: 72px;
  text-align: center;
  display: block;
  flex: 0 0 auto;
  width: 83.3333%;
}
@media (min-width: 992px){
  .cJzWlo {
    display: block;
    flex: 0 0 auto;
    width: 33.3333%;
}
}
.cJzWlo > :last-child {
  margin-bottom: 0px;
}
.rogGT {
  border-radius: 0.5rem;
  box-shadow: rgba(9, 30, 66, 0.15) 0px 0.5rem 1rem 0px;
  color: inherit;
  display: block;
  height: 100%;
  margin: 0px;
  overflow: hidden;
  text-align: left;
  text-decoration: none;
  user-select: none;
  white-space: normal;
  width: auto;
}
.hNWOlT {
    height: 2rem;
    background: rgb(255, 116, 82);
}
@media (min-width: 576px){
  .hNWOlT {
    height: 3rem;
}
}
.cJzWlo > :last-child > :last-child {
  margin-bottom: 0px;
}
.fzULwq {
  padding: 2.25rem 1.5rem 1.5rem;
  position: relative;
}
.bgvUWO {
  background-color: rgb(255, 255, 255);
  background-image: url(/assets/img/icon-content-folder_2x.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  border-color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  border-style: solid;
  border-width: 8px;
  height: 3rem;
  left: 1rem;
  position: absolute;
  top: -1.5rem;
  width: 3rem;
}
.fzULwq p.muted {
  color: rgb(94, 108, 132);
}
.fzULwq p {
  font-size: 1rem;
  margin: 0px;
}
.fzULwq p + p {
  margin-top: 0.5rem;
}
.fzULwq p {
  font-size: 1rem;
  margin: 0px;
}
.grqWLk {
    height: 2rem;
    background: rgb(38, 132, 255);
}
@media (min-width: 576px){
  .grqWLk {
    height: 3rem;
}
}
.eUOZOn {
  background-color: rgb(255, 255, 255);
  background-image: url(/assets/img/icon-object-megaphone_2x.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  border-color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  border-style: solid;
  border-width: 8px;
  height: 3rem;
  left: 1rem;
  position: absolute;
  top: -1.5rem;
  width: 3rem;
}
.cELStS {
    height: 2rem;
    background: rgb(87, 217, 163);
}
@media (min-width: 576px){
  .cELStS {
    height: 3rem;
}
}
.gRxMAA {
  background-color: rgb(255, 255, 255);
  background-image: url(/assets/img/icon-object-leaf_2x.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  border-color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  border-style: solid;
  border-width: 8px;
  height: 3rem;
  left: 1rem;
  position: absolute;
  top: -1.5rem;
  width: 3rem;
}
.bxLzQJ {
    height: 2rem;
    background: rgb(255, 196, 0);
}
@media (min-width: 576px){
  .bxLzQJ {
    height: 3rem;
}
}
.iRWtjz {
  background-color: rgb(255, 255, 255);
  background-image: url(/assets/img/icon-content-checklists_2x.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  border-color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  border-style: solid;
  border-width: 8px;
  height: 3rem;
  left: 1rem;
  position: absolute;
  top: -1.5rem;
  width: 3rem;
}
.ctsbPE {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
}
@media (min-width: 1200px){
  .ctsbPE {
    max-width: 1140px;
}
}
.hQDEpm {
  background-color: rgb(244, 245, 247);
  border-radius: 0.5rem;
  height: 1rem;
  margin-top: 1rem;
  position: relative;
}
@media (min-width: 992px){
  .hQDEpm {
    display: none;
}
}
.dVEYRI {
  background-color: rgb(151, 160, 175);
  border-radius: 0.5rem;
  height: 1rem;
  position: absolute;
  transition: left 0.6s ease 0s;
}
.dupAVh {
  scroll-margin-top: 72px;
}
.oFuOf {
  -webkit-box-align: stretch;
  align-items: stretch;
  -webkit-box-pack: start;
  justify-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  margin-left: -1rem;
  margin-right: -1rem;
}
.bKsnan {
  padding: 1rem;
  position: relative;
  scroll-margin-top: 72px;
  width: 100%;
  text-align: left;
}
@media (min-width: 992px){
  .bKsnan {
    text-align: left;
    display: block;
    flex: 0 0 auto;
    width: 75%;
    margin-bottom: 0px;
    padding-bottom: 5rem;
}
}
.bKsnan > :last-child {
  margin-bottom: 0px;
}
.bKsnan > :last-child > :last-child {
  margin-bottom: 0px;
}
.lbYOkK {
  padding: 1rem 1rem 5rem;
  position: relative;
  scroll-margin-top: 72px;
  width: 100%;
  text-align: left;
  margin-bottom: 0px;
}
@media (min-width: 992px){
  .lbYOkK {
    text-align: right;
    display: block;
    flex: 0 0 auto;
    width: 25%;
}
}
@media (min-width: 1200px){
  .lbYOkK {
    text-align: right;
}
}
.lbYOkK > :last-child {
  margin-bottom: 0px;
}
.fdvhjb {
  display: inline-block;
}
.lbYOkK > :last-child > :last-child {
  margin-bottom: 0px;
}
.fdvhjb a, .fdvhjb > span {
  user-select: none;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 0.3rem;
  cursor: pointer;
  display: inline-flex;
  text-align: center;
  transition: all 250ms ease-out 0s;
  text-decoration: none;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 101, 255);
  font-size: 1rem;
  padding: 0.7rem 1rem 0.8rem;
  color: rgb(23, 43, 77) !important;
}
.lbYOkK > :last-child > :last-child > :last-child {
  margin-bottom: 0px;
}
.fdvhjb a span, .fdvhjb > span span {
  display: inline-block;
}
@media (min-width: 1200px)
{
  .cysMEE {
    background-blend-mode: normal, normal, normal;
    color: rgb(255, 255, 255);
}
}
.cysMEE {
    scroll-margin-top: 72px;
}
.ctsbPE {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
}
@media (min-width: 576px){
  .ctsbPE {
    max-width: 540px;
}
}
@media (min-width: 768px){
  .ctsbPE {
    max-width: 720px;
}
}
@media (min-width: 992px){
  .ctsbPE {
    max-width: 960px;
}
}
@media (min-width: 1200px){
  .ctsbPE {
    max-width: 1140px;
}
}
.esQJBv {
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: start;
  justify-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  margin-left: -1rem;
  margin-right: -1rem;
}
.grXjIC {
  padding: 3rem 1rem 1rem;
  position: relative;
  scroll-margin-top: 72px;
  text-align: center;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
}
@media (min-width: 768px){
  .grXjIC {
    margin-bottom: 0px;
    padding-bottom: 3rem;
}
}
@media (min-width: 992px){
  .grXjIC {
    margin-left: 16.6667%;
    display: block;
    flex: 0 0 auto;
    width: 66.6667%;
}
}
h2, .h2 {
  font-family: var(--font-family-display,'Charlie Display',sans-serif);
  font-weight: 500;
  margin-bottom: 0.5rem;
  margin-top: 0px;
  font-size: 1.5rem;
  line-height: 1.33333;
}
@media (min-width: 768px){
  h2, .h2 {
    font-size: 2.25rem;
    line-height: 1.33333;
}
}
.fdvhjb a, .fdvhjb > span {
  user-select: none;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 0.3rem;
  cursor: pointer;
  display: inline-flex;
  text-align: center;
  transition: all 250ms ease-out 0s;
  text-decoration: none;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 101, 255);
  font-size: 1rem;
  padding: 0.7rem 1rem 0.8rem;
  color: rgb(23, 43, 77) !important;
}
@media (min-width: 1200px){
  .cysMEE a {
    color: rgba(255, 255, 255, 0.8);
  }
}
.grXjIC > :last-child > :last-child {
  margin-bottom: 0px;
}
.efveLe {
  padding: 1rem;
  position: relative;
  scroll-margin-top: 72px;
  text-align: center;
  width: 100%;
  margin-bottom: 0px;
}
@media (min-width: 768px){
  .efveLe {
    margin-bottom: 0px;
    padding-bottom: 3rem;
}
}
.dfJOzH {
  background-color: rgb(255, 255, 255);
  color: rgb(9, 30, 66);
  -webkit-box-align: center;
  align-items: center;
  border-radius: 0.5rem;
  box-shadow: rgba(9, 30, 66, 0.15) 0px 0.5rem 1rem 0px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1.5rem;
  text-align: left;
}
@media (min-width: 992px){
  .dfJOzH {
    flex-direction: row;
    padding: 2rem;
}
}
.efveLe > :last-child {
  margin-bottom: 0px;
}
@media (min-width: 992px){
  .hdEKPe {
    width: 55%;
}
}
.eYmxm {
  max-width: 100%;
  height: auto;
}
@media (min-width: 992px){
  .fwfPWX {
    padding: 0px 2rem;
    width: 45%;
}
}
.efveLe > :last-child > :last-child {
  margin-bottom: 0px;
}
@media (min-width: 992px){
  .fwfPWX {
    padding: 0px 2rem;
    width: 45%;
}
}
.bCPqeC {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
}
@media (min-width: 992px){
  .goUWGk {
    color: rgb(135, 119, 217);
    display: block;
}
}
.bCPqeC svg {
  display: block;
  height: auto;
  width: 2rem;
}
.bCPqeC h3 {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25;
  text-transform: uppercase;
  margin: 0px;
}
.dfJOzH a {
  color: rgb(0, 82, 204);
}
.jonvgj {
  padding: 1rem;
  position: relative;
  scroll-margin-top: 72px;
  text-align: center;
  width: 100%;
  margin-bottom: -8rem;
  z-index: 1;
}
.cDDCse {
  background-color: rgb(255, 255, 255);
  color: rgb(9, 30, 66);
  -webkit-box-align: center;
  align-items: center;
  border-radius: 0.5rem;
  box-shadow: rgba(9, 30, 66, 0.15) 0px 0.5rem 1rem 0px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1.5rem;
  text-align: left;
}
@media (min-width: 992px){
  .cDDCse {
    padding: 2rem;
    flex-direction: row-reverse;
}
}
.jonvgj > :last-child {
  margin-bottom: 0px;
}
@media (min-width: 992px){
  .hdEKPe {
    width: 55%;
}
}
@media (min-width: 992px){
  .fwfPWX {
    padding: 0px 2rem;
    width: 45%;
}
}
.jonvgj > :last-child > :last-child {
  margin-bottom: 0px;
}
.bCPqeC {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
}
@media (min-width: 992px){
  .iBAnpS {
    color: rgb(0, 199, 229);
    display: block;
}
}
.jonvgj > :last-child > :last-child > :last-child {
  margin-bottom: 0px;
}
.cDDCse a {
  color: rgb(0, 82, 204);
}
@media (min-width: 768px){
  .kccKGe {
    height: 8rem;
}
}
@media (min-width: 768px){
  .htNxVV {
    height: 3rem;
}
}
.ctsbPE {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
}
@media (min-width: 576px){
  .ctsbPE {
    max-width: 540px;
}
}
@media (min-width: 768px){
  .ctsbPE {
    max-width: 720px;
}
}
@media (min-width: 992px){
  .ctsbPE {
    max-width: 960px;
}
}
@media (min-width: 1200px){
  .ctsbPE {
    max-width: 1140px;
}
}
.xFbia {
  align-items: flex-start;
  -webkit-box-pack: start;
  justify-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  margin-left: -1rem;
  margin-right: -1rem;
}
.EjHGg {
  padding: 1rem;
  position: relative;
  scroll-margin-top: 72px;
  text-align: center;
  width: 100%;
  order: 3;
}
@media (min-width: 768px){
  .EjHGg {
    text-align: left;
    order: 1;
    display: block;
    flex: 0 0 auto;
    width: 58.3333%;
}
}
.dAHVNT {
  font-weight: 500;
  margin-bottom: 0.5rem;
  margin-top: 0px;
  font-size: 1rem;
  line-height: 1.25;
  text-transform: uppercase;
}
.eqdYUU {
  padding-bottom: 1rem;
}
@media (min-width: 768px){
  h2, .h2 {
    font-size: 2.25rem;
    line-height: 1.33333;
}
}
.EjHGg > :last-child {
  margin-bottom: 0px;
}
.EjHGg > :last-child > :last-child {
  margin-bottom: 0px;
}
.dupAVh {
  scroll-margin-top: 72px;
}
.ctsbPE {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
}
@media (min-width: 576px){
  .ctsbPE {
    max-width: 540px;
}
}
@media (min-width: 768px){
  .ctsbPE {
    max-width: 720px;
}
}
@media (min-width: 992px){
  .ctsbPE {
    max-width: 960px;
}
}
@media (min-width: 1200px){
  .ctsbPE {
    max-width: 1140px;
}
}
.cRLxjt {
  padding: 1rem;
  position: relative;
  scroll-margin-top: 72px;
  width: 100%;
  text-align: left;
}
@media (min-width: 768px){
  .cRLxjt {
    display: block;
    flex: 0 0 auto;
    width: 50%;
}
}
@media (min-width: 992px){
  .cRLxjt {
    display: block;
    flex: 0 0 auto;
    width: 33.3333%;
}
}
.cRLxjt > :last-child {
  margin-bottom: 0px;
}
.ePkMgG {
  padding: 1.5rem;
  height: 100%;
  background-color: rgb(250, 251, 252);
  color: rgb(9, 30, 66);
  border-radius: 0.5rem;
  overflow: hidden;
}
.cRLxjt > :last-child > :last-child {
  margin-bottom: 0px;
}
.ePkMgG :last-child {
  margin-bottom: 0px;
}
.ePkMgG > * {
  -webkit-box-flex: 1;
  flex-grow: 1;
}
.dBwIbP {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.eYmxm {
  max-width: 100%;
  height: auto;
}
.hEevuu {
  font-size: 1rem;
}
.ePkMgG :last-child {
  margin-bottom: 0px;
}
.ePkMgG h3 {
  border: none !important;
}
@media (min-width: 768px){
  h3, .h3 {
    font-size: 1.5rem;
    line-height: 1.33333;
  }
}
h3, .h3 {
  font-family: var(--font-family-display,'Charlie Display',sans-serif);
  font-weight: 500;
  margin-bottom: 0.5rem;
  margin-top: 0px;
  font-size: 1.25rem;
  line-height: 1.2;
}
.ePkMgG :last-child {
  margin-bottom: 0px;
}
.cRLxjt > :last-child > :last-child > :last-child {
  margin-bottom: 0px;
}
.dBwIbP > .link-buttonstyles__BxpButton-sc-1utqn26-1:last-child, .dBwIbP > .link-buttonstyles__BxpLink-sc-1utqn26-0:last-child {
  margin-top: auto;
  padding-top: 1rem;
}
.ePkMgG :last-child {
  margin-bottom: 0px;
}
.fdvhjb {
  display: inline-block;
}
.ePkMgG :last-child {
  margin-bottom: 0px;
}
.ePkMgG a {
  color: rgb(0, 82, 204);
}
.fdvhjb a, .fdvhjb > span {
  user-select: none;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 0.3rem;
  cursor: pointer;
  display: inline-flex;
  text-align: center;
  transition: all 250ms ease-out 0s;
  text-decoration: none;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 101, 255);
  font-size: 1rem;
  padding: 0.7rem 1rem 0.8rem;
  color: rgb(23, 43, 77) !important;
}
.ePkMgG :last-child {
  margin-bottom: 0px;
}
.fdvhjb a span, .fdvhjb > span span {
  display: inline-block;
}
.eUShmG {
  padding: 1rem;
  position: relative;
  scroll-margin-top: 72px;
  width: 100%;
  text-align: left;
}
@media (min-width: 768px){
  .eUShmG {
    margin-left: 25%;
    display: block;
    flex: 0 0 auto;
    width: 50%;
}
}
@media (min-width: 992px){
  .eUShmG {
    margin-left: 0%;
    display: block;
    flex: 0 0 auto;
    width: 33.3333%;
}
}
.eUShmG > :last-child {
  margin-bottom: 0px;
}
.eDeYK {
  padding: 1.5rem;
  height: 100%;
  background-color: rgb(250, 251, 252);
  color: rgb(9, 30, 66);
}
.eUShmG > :last-child > :last-child {
  margin-bottom: 0px;
}
.eDeYK :last-child {
  margin-bottom: 0px;
}
.eDeYK > * {
  -webkit-box-flex: 1;
  flex-grow: 1;
}
.dBwIbP {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.hEevuu {
  font-size: 1rem;
}
.eDeYK :last-child {
  margin-bottom: 0px;
}
.eDeYK h3 {
  border: none !important;
}
@media (min-width: 768px){
  h3, .h3 {
    font-size: 1.5rem;
    line-height: 1.33333;
  }
}
h3, .h3 {
  font-family: var(--font-family-display,'Charlie Display',sans-serif);
  font-weight: 500;
  margin-bottom: 0.5rem;
  margin-top: 0px;
  font-size: 1.25rem;
  line-height: 1.2;
}
.eDeYK :last-child {
  margin-bottom: 0px;
}
.eDeYK a {
  color: rgb(0, 82, 204);
}
.fdvhjb a, .fdvhjb > span {
  user-select: none;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 0.3rem;
  cursor: pointer;
  display: inline-flex;
  text-align: center;
  transition: all 250ms ease-out 0s;
  text-decoration: none;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 101, 255);
  font-size: 1rem;
  padding: 0.7rem 1rem 0.8rem;
  color: rgb(23, 43, 77) !important;
}
.eDeYK :last-child {
  margin-bottom: 0px;
}
.fdvhjb a span, .fdvhjb > span span {
  display: inline-block;
}
.COCim {
  scroll-margin-top: 72px;
}
@media (min-width: 1200px){
  .COCim {
    background: linear-gradient(0deg, rgb(230, 252, 255), rgb(255, 255, 255)) 0% 0% / auto no-repeat scroll padding-box border-box transparent;
    background-blend-mode: normal;
}
}
.ctsbPE {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
}
@media (min-width: 576px){
  .ctsbPE {
    max-width: 540px;
}
}
@media (min-width: 768px){
  .ctsbPE {
    max-width: 720px;
}
}
@media (min-width: 992px){
  .ctsbPE {
    max-width: 960px;
}
}
@media (min-width: 1200px){
  .ctsbPE {
    max-width: 1140px;
}
}
.dmvlwB {
  padding: 1rem;
  position: relative;
  scroll-margin-top: 72px;
  text-align: center;
  width: 100%;
}
.dmvlwB > :last-child {
  margin-bottom: 0px;
}
.haFEVv {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.htfiii {
    -webkit-box-align: center;
    align-items: center;
    justify-content: space-around;
    gap: 1.5rem;
}
.cDXZEw {
  display: none;
}
@media (min-width: 992px){
  .htfiii {
    -webkit-box-pack: end;
    justify-content: flex-end;
}
}
@media (min-width: 992px){
  .cDXZEw {
    display: flex;
}
}
.ikMFNv {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  gap: 0.5rem;
}
@media (min-width: 992px){
  .ikMFNv {
    display: flex;
}
}
.foFyjH[data-selected="true"] {
  width: 3.75rem;
}
.foFyjH:hover, .foFyjH:focus, .foFyjH[data-selected="true"] {
  background-color: currentcolor;
  opacity: 0.5;
}
.foFyjH {
  background-color: currentcolor;
  border: 0px;
  border-radius: 0.25rem;
  color: inherit;
  cursor: pointer;
  display: block;
  height: 0.5rem;
  padding: 0px;
  transition: all 0.3s ease 0s;
  width: 0.5rem;
}
button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled) {
  cursor: pointer;
}
.bROdbN {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 0px;
}
.bROdbN svg {
  fill: rgb(244, 245, 247);
}
.ctVlwv {
  overflow: hidden;
}
.hbIFpB {
  -webkit-box-align: stretch;
  align-items: stretch;
  display: flex;
}
.oQtLv {
  box-sizing: content-box;
  user-select: none;
  width: 100%;
}
.icRVlm {
  height: 100%;
  padding: 1px 0.5rem 0.5rem;
}
@media (min-width: 992px){
  .iUJVel {
    flex-direction: row;
}
}
.iUJVel {
  background-color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  box-shadow: rgba(9, 30, 66, 0.2) 0px 3px 5px, rgba(9, 30, 66, 0.31) 0px 0px 1px;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  height: 100%;
  -webkit-box-pack: justify;
  justify-content: space-between;
  overflow: hidden;
  text-align: left;
}
.gZpdPi {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0px;
  padding: 2rem;
  background-image: url(/assets/img/BCnone.svg);
  background-repeat: no-repeat;
}
figure {
    margin: 0px 0px 1rem;
}
@media (min-width: 992px){
  .gZpdPi {
    padding: 2.5rem 2rem;
}
}
@media (min-width: 992px){
  .gZpdPi {
    width: 66.6666%;
}
}
.bvDpov {
  font-size: 1.5rem;
  margin: 0px;
}
.bvDpov > div p:last-child {
  margin-bottom: 0px;
}
.enZpLY::before {
  background-color: currentcolor;
  content: "";
  display: block;
  height: 1px;
  margin-bottom: 1rem;
  max-width: 9rem;
}
.enZpLY p {
  margin: 0px;
}
.enZpLY {
  margin-top: auto;
  padding-top: 1rem;
}
@media (min-width: 992px){
  .enZpLY {
    padding-top: 3.25rem;
}
}
@media (min-width: 992px){
  .dbZHYD {
    -webkit-box-align: baseline;
    align-items: baseline;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
}
.dbZHYD {
    margin-top: auto;
}
.dbZHYD img {
    max-height: 2.25rem;
    max-width: 100%;
    width: auto;
}
.dbZHYD a, .dbZHYD img {
    display: block;
    margin-top: 1rem;
}
.oQtLv img {
    pointer-events: none;
}
@media (min-width: 992px){
  .dbZHYD a, .dbZHYD img {
    margin-top: 1.5rem;
}
}

@media (min-width: 992px){
  .bSQGqD {
    padding: 2.5rem 2rem;
}
}
.bSQGqD {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0px;
    padding: 2rem;
}
@media (min-width: 1200px){
  .bSQGqD {
    background: linear-gradient(60deg, rgb(101, 84, 192), rgb(249, 156, 219)) 0% 0% / auto repeat scroll padding-box border-box rgb(101, 84, 192);
    background-blend-mode: normal;
    color: rgb(255, 255, 255);
}
}
@media (min-width: 992px){
  .bSQGqD {
    width: 33.3333%;
}
}
@media (min-width: 768px){
  .bSQGqD h3 {
    font-size: 2.25rem;
    line-height: 1.33333;
}
}
.cwasVy {
    margin-top: auto;
    padding-top: 1rem;
}
@media (min-width: 992px){
  .cwasVy {
    padding-top: 2rem;
}
}
@media (min-width: 1200px){
  .bSQGqD a {
    color: rgba(255, 255, 255, 0.8);
}
}
.oQtLv {
  box-sizing: content-box;
  user-select: none;
  width: 100%;
}
.icRVlm {
  height: 100%;
  padding: 1px 0.5rem 0.5rem;
}
.iUJVel {
    background-color: rgb(255, 255, 255);
    border-radius: 0.5rem;
    box-shadow: rgba(9, 30, 66, 0.2) 0px 3px 5px, rgba(9, 30, 66, 0.31) 0px 0px 1px;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    height: 100%;
    -webkit-box-pack: justify;
    justify-content: space-between;
    overflow: hidden;
    text-align: left;
}
@media (min-width: 992px){
  .iUJVel {
    flex-direction: row;
}
}
@media (min-width: 992px){
  .gZpdPi {
    width: 66.6666%;
}
}
@media (min-width: 992px){
  .gZpdPi {
    padding: 2.5rem 2rem;
}
}
.gZpdPi {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0px;
    padding: 2rem;
    background-image: url(/assets/img/BCnone.svg);
    background-repeat: no-repeat;
}
.bvDpov {
  font-size: 1.5rem;
  margin: 0px;
}
@media (min-width: 992px){
  .bSQGqD {
    width: 33.3333%;
}
}
@media (min-width: 1200px){
  .bSQGqD {
    background: linear-gradient(60deg, rgb(101, 84, 192), rgb(249, 156, 219)) 0% 0% / auto repeat scroll padding-box border-box rgb(101, 84, 192);
    background-blend-mode: normal;
    color: rgb(255, 255, 255);
}
}
@media (min-width: 992px){
  .bSQGqD {
    padding: 2.5rem 2rem;
}
}
.bSQGqD {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0px;
    padding: 2rem;
}
.oQpFP {
  scroll-margin-top: 72px;
}
@media (min-width: 1200px){
  .oQpFP {
    background: linear-gradient(rgb(230, 252, 255), rgb(255, 255, 255)) 0% 0% / auto no-repeat scroll padding-box border-box transparent;
    background-blend-mode: normal;
}
}
.ctsbPE {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
}
@media (min-width: 576px){
  .ctsbPE {
    max-width: 540px;
}
}
@media (min-width: 768px){
  .ctsbPE {
    max-width: 720px;
}
}
@media (min-width: 992px){
  .ctsbPE {
    max-width: 960px;
}
}
@media (min-width: 1200px){
  .ctsbPE {
    max-width: 1140px;
}
}
.bBJaAq {
    padding: 3rem 1rem 1rem;
    position: relative;
    scroll-margin-top: 72px;
    text-align: center;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
}
@media (min-width: 768px){
  .bBJaAq {
    margin-left: 8.33333%;
    display: block;
    flex: 0 0 auto;
    width: 83.3333%;
    margin-top: 0px;
    padding-top: 5rem;
    margin-bottom: 0px;
    padding-bottom: 3rem;
}
}
@media (min-width: 992px){
  .bBJaAq {
    margin-left: 16.6667%;
    display: block;
    flex: 0 0 auto;
    width: 66.6667%;
}
}
.bBJaAq > :last-child {
  margin-bottom: 0px;
}
.hzgNTJ {
  display: inline-block;
}
.bBJaAq > :last-child > :last-child {
  margin-bottom: 0px;
}
.hzgNTJ a, .hzgNTJ > span {
  user-select: none;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 0.3rem;
  cursor: pointer;
  display: inline-flex;
  text-align: center;
  transition: all 250ms ease-out 0s;
  text-decoration: none;
  background-color: rgb(0, 101, 255);
  border: 1px solid rgb(0, 101, 255);
  font-size: 1rem;
  padding: 0.7rem 1rem 0.8rem;
  color: rgb(255, 255, 255) !important;
}
.bBJaAq > :last-child > :last-child > :last-child {
  margin-bottom: 0px;
}
.hzgNTJ a span, .hzgNTJ > span span {
  display: inline-block;
}
.dBxtNW {
    padding: 1rem 1rem 3rem;
    position: relative;
    scroll-margin-top: 72px;
    text-align: center;
    width: 100%;
    margin-bottom: 0px;
}
@media (min-width: 768px){
  .dBxtNW {
    margin-bottom: 0px;
    padding-bottom: 5rem;
}
}
.imZYgE {
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 992px){
  .imZYgE {
    grid-template-columns: repeat(4, minmax(0px, 1fr));
  }
}
.dBxtNW > :last-child {
  margin-bottom: 0px;
}
.fgKJDM {
    background-color: rgb(255, 255, 255);
    padding: 1.5rem 1rem 0px;
    text-align: left;
    border-left: 1px solid rgb(223, 225, 230);
    border-right: 1px solid rgb(223, 225, 230);
    border-top: 1px solid rgb(223, 225, 230);
}
@media (min-width: 992px){
  .fgKJDM {
    margin-bottom: 0px;
    order: 1;
}
}
.cNVWyU {
  font-size: 1rem;
  text-transform: uppercase;
  margin: 0px;
}
.ekisZW {
  background-color: rgb(255, 255, 255);
  padding: 1.5rem 1rem 0px;
  text-align: left;
  border-left: 1px solid rgb(223, 225, 230);
  border-right: 1px solid rgb(223, 225, 230);
}
@media (min-width: 992px){
  .ekisZW {
    margin-bottom: 0px;
    order: 5;
}
}
.dkqzUB {
  font-size: 3rem;
  line-height: 1;
  margin-bottom: 0.5rem;
}
.ggkZLA {
  font-size: 1rem;
}
.ggkZLA {
  font-size: 1rem;
}
.tOUDm {
  color: rgb(80, 95, 121);
  font-size: 0.75rem;
  margin: 0px;
}
.jqYxxe {
  background-color: rgb(255, 255, 255);
  padding: 1.5rem 1rem 0px;
  text-align: left;
  border-left: 1px solid rgb(223, 225, 230);
  border-right: 1px solid rgb(223, 225, 230);
}

@media (min-width: 992px){
  .jqYxxe {
    margin-bottom: 0px;
    order: 9;
}
}
.flOKMi {
  font-size: 1rem;
  margin-bottom: 0px;
}
.kUqhtV {
  background-color: rgb(255, 255, 255);
  padding: 1.5rem 1rem 0px;
  text-align: left;
  border-left: 1px solid rgb(223, 225, 230);
  border-right: 1px solid rgb(223, 225, 230);
}
@media (min-width: 992px){
  .kUqhtV {
    margin-bottom: 0px;
    order: 13;
}
}
.bkYMCu {
  display: block;
}
.bkYMCu a, .bkYMCu > span {
  user-select: none;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 0.3rem;
  cursor: pointer;
  display: inline-flex;
  text-align: center;
  transition: all 250ms ease-out 0s;
  text-decoration: none;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 184, 217);
  font-size: 1rem;
  padding: 0.7rem 1rem 0.8rem;
  color: rgb(23, 43, 77) !important;
}
.bkYMCu a span, .bkYMCu > span span {
  display: inline-block;
}
.hGhOSQ {
  background-color: rgb(255, 255, 255);
  padding: 1rem 1rem 2rem;
  text-align: left;
  border-left: 1px solid rgb(223, 225, 230);
  border-right: 1px solid rgb(223, 225, 230);
  border-bottom: 1px solid rgb(223, 225, 230);
  margin-bottom: 1rem;
}
@media (min-width: 992px){
  .hGhOSQ {
    margin-bottom: 0px;
    order: 21;
}
}
.oOjOc {
  background-color: rgb(255, 255, 255);
  padding: 1.5rem 1rem 0px;
  text-align: left;
  border-left: 1px solid rgb(223, 225, 230);
  border-right: 1px solid rgb(223, 225, 230);
  border-top: 1px solid rgb(223, 225, 230);
}
@media (min-width: 992px){
  .oOjOc {
    margin-bottom: 0px;
    border-left: 0px;
    order: 2;
}
}
.gErUgm {
  background-color: rgb(255, 255, 255);
  padding: 1.5rem 1rem 0px;
  text-align: left;
  border-left: 1px solid rgb(223, 225, 230);
  border-right: 1px solid rgb(223, 225, 230);
}
@media (min-width: 992px){
  .gErUgm {
    margin-bottom: 0px;
    border-left: 0px;
    order: 6;
}
}
.jXwZWI {
  background-color: rgb(255, 255, 255);
  padding: 1rem 1rem 2rem;
  text-align: left;
  border-left: 1px solid rgb(223, 225, 230);
  border-right: 1px solid rgb(223, 225, 230);
  border-bottom: 1px solid rgb(223, 225, 230);
  margin-bottom: 1rem;
}
@media (min-width: 992px){
  .jXwZWI {
    margin-bottom: 0px;
    border-left: 0px;
    order: 22;
}
}
.dpPTPy {
  display: inline-block;
}
.jXwZWI a {
  padding: 0px;
}
.dpPTPy a, .dpPTPy > span {
  user-select: none;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 0.3rem;
  cursor: pointer;
  display: inline-flex;
  text-align: center;
  transition: all 250ms ease-out 0s;
  font-size: 1rem;
  padding: 0.7rem 1rem 0.8rem;
}
.dpPTPy a span, .dpPTPy > span span {
  display: inline-block;
}
.dupAVh {
  scroll-margin-top: 72px;
}
.ctsbPE {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
}
@media (min-width: 1200px){
  .ctsbPE {
    max-width: 1140px;
}
}
.dQTyPK {
  padding: 1rem 1rem 5rem;
  position: relative;
  scroll-margin-top: 72px;
  text-align: center;
  width: 100%;
  display: none;
  margin-bottom: 0px;
}
@media (min-width: 992px){
  .dQTyPK {
    margin-left: 8.33333%;
    display: block;
    flex: 0 0 auto;
    width: 83.3333%;
}
}
.eYmxm {
  max-width: 100%;
  height: auto;
}
.dQTyPK > :last-child {
  margin-bottom: 0px;
}
.ezWEiN {
  padding: 1rem 1rem 3rem;
  position: relative;
  scroll-margin-top: 72px;
  text-align: center;
  width: 100%;
  margin-bottom: 0px;
}
@media (min-width: 768px){
  .ezWEiN {
    display: none;
}
}
.ezWEiN > :last-child {
  margin-bottom: 0px;
}
.bgAnDe {
  scroll-margin-top: 72px;
}
@media (min-width: 1200px){
  .bgAnDe {
    background: url(/assets/img/BigSwingFooterHeroGraphic__Left.svg) left center / contain no-repeat scroll padding-box border-box, url(/assets/img/BigSwingFooterHeroGraphic__Right.svg) right center / contain no-repeat scroll padding-box border-box, linear-gradient(60deg, rgb(82, 67, 170), rgb(237, 80, 180)) 0% 0% / auto repeat scroll padding-box border-box rgb(82, 67, 170);
    background-blend-mode: normal, normal, normal;
    color: rgb(255, 255, 255);
}
}
.ctsbPE {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
}
@media (min-width: 576px){
  .ctsbPE {
    max-width: 540px;
}
}
@media (min-width: 768px){
  .ctsbPE {
    max-width: 720px;
}
}
@media (min-width: 992px){
  .ctsbPE {
    max-width: 960px;
}
}
@media (min-width: 1200px){
  .ctsbPE {
    max-width: 1140px;
}
}
.bMZHry {
  padding: 3rem 1rem;
  position: relative;
  scroll-margin-top: 72px;
  text-align: center;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
}
@media (min-width: 768px){
  .bMZHry {
    margin-left: 8.33333%;
    display: block;
    flex: 0 0 auto;
    width: 83.3333%;
}
}
@media (min-width: 992px){
  .bMZHry {
    margin-left: 16.6667%;
    display: block;
    flex: 0 0 auto;
    width: 66.6667%;
    margin-top: 0px;
    padding-top: 5rem;
    margin-bottom: 0px;
    padding-bottom: 5rem;
}
}
.HlPFN {
  display: flex;
  gap: 1rem;
  -webkit-box-pack: center;
  justify-content: center;
}
@media (min-width: 768px){
  .HlPFN {
    flex-wrap: wrap;
}
}
.bMZHry > :last-child {
  margin-bottom: 0px;
}
input, button, select, optgroup, textarea {
  margin: 0px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button, input {
  overflow: visible;
}
.ZIOGU {
  display: none;
  font-size: 1rem;
  padding: 0.7rem 0.75rem 0.8rem;
  border: 1px solid rgb(223, 225, 230);
  border-radius: 0.3rem;
  max-width: 376px;
  transition: all 250ms ease-out 0s;
  width: 376px;
}
@media (min-width: 768px){
  .ZIOGU {
    display: block;
}
}
.bMZHry > :last-child > :last-child {
  margin-bottom: 0px;
}
.inwKxu {
  display: inline-block;
}
.inwKxu button {
  appearance: none;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 0.3rem;
  cursor: pointer;
  display: inline-flex;
  text-align: center;
  transition: all 250ms ease-out 0s;
  text-decoration: none;
  background-color: rgb(0, 101, 255);
  border: 1px solid rgb(0, 101, 255);
  font-size: 1rem;
  padding: 0.7rem 1rem 0.8rem;
  color: rgb(255, 255, 255) !important;
}
.bMZHry > :last-child > :last-child > :last-child {
  margin-bottom: 0px;
}
button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled) {
  cursor: pointer;
}
.bLomOy {
  background-color: rgb(23, 43, 77);
  color: rgb(255, 255, 255);
}
.app-root > div, .app-root > header, .app-root > main, .app-root > footer {
  width: 100%;
}
.bLomOy section {
  color: rgb(255, 255, 255);
}
.ctsbPE {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
}
@media (min-width: 576px){
  .ctsbPE {
    max-width: 540px;
}
}
@media (min-width: 768px){
  .ctsbPE {
    max-width: 720px;
}
}
@media (min-width: 992px)
{
  .ctsbPE {
    max-width: 960px;
}
}
@media (min-width: 1200px){
  .ctsbPE {
    max-width: 1140px;
}
}
.xFbia {
  align-items: flex-start;
  -webkit-box-pack: start;
  justify-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  margin-left: -1rem;
  margin-right: -1rem;
}
.ggxbtP {
  padding: 1rem 1rem 0px;
  position: relative;
  scroll-margin-top: 72px;
  width: 100%;
  text-align: left;
  margin-bottom: 0px;
}
@media (min-width: 992px){
  .ggxbtP {
    display: block;
    flex: 0 0 auto;
    width: 16.6667%;
}
}
.hvzEcp {
  margin: 1.5rem 1rem 0px;
  display: flex;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
  gap: 1.75rem;
}
@media (min-width: 992px){
  .hvzEcp {
    flex-direction: column;
    -webkit-box-align: stretch;
    align-items: stretch;
    margin: 1rem 1rem 0px 0px;
    gap: 1rem;
}
}
.ggxbtP > :last-child {
  margin-bottom: 0px;
}
.gguOta {
  display: block;
  height: auto;
  max-width: 100%;
  width: auto;
}
.bLomOy section svg {
  max-width: 125px;
}

.ggxbtP > :last-child > :last-child {
  margin-bottom: 0px;
}
.dpPTPy {
  display: inline-block;
}
.ggxbtP > :last-child > :last-child > :last-child {
  margin-bottom: 0px;
}
.bLomOy section a, .bLomOy section button {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.hvzEcp a {
  padding: 0px;
  margin: 0px;
}
.bLomOy a {
  color: rgba(255, 255, 255, 0.8);
}
.dpPTPy a, .dpPTPy > span {
  user-select: none;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 0.3rem;
  cursor: pointer;
  display: inline-flex;
  text-align: center;
  transition: all 250ms ease-out 0s;
  font-size: 1rem;
  padding: 0.7rem 1rem 0.8rem;
}
.bLomOy section span {
  font-size: 1rem;
}
.dpPTPy a span, .dpPTPy > span span {
  display: inline-block;
}
.isGdyo {
  padding: 1rem;
  position: relative;
  scroll-margin-top: 72px;
  text-align: center;
  width: 100%;
}
@media (min-width: 992px){
  .isGdyo {
    display: block;
    flex: 0 0 auto;
    width: 83.3333%;
}
}
.fbsRKz {
  margin: 0px 0px 0px 1rem;
}
.isGdyo > :last-child {
  margin-bottom: 0px;
}
.bLomOy section ul {
  text-align: left;
  list-style-type: none;
  padding: 0px;
}
@media (min-width: 992px){
  .fbsRKz {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
  }
}
.fbsRKz li:first-child {
  border-top: 1px solid rgb(80, 95, 121);
  margin-top: 1rem;
  padding: 1rem 0px;
}
.fbsRKz li {
  border-bottom: 1px solid rgb(80, 95, 121);
  padding: 0px 0px 1rem;
  margin: 0px 0px 1rem;
}
@media (min-width: 992px){
  .fbsRKz li:first-child {
    border: none;
    padding: 0px;
    margin: 0px;
}
}
.fbsRKz a {
  margin: 0px;
  padding: 0px;
}
.bLomOy a {
  color: rgba(255, 255, 255, 0.8);
}
.ePREoP {
  display: block;
  padding: 1rem;
  text-align: left;
  text-decoration: none;
}
@media (min-width: 992px){
  .fbsRKz a {
    padding: 1rem;
    gap: 0.25rem;
    height: 100%;
}
}
.bLomOy section a, .bLomOy section button {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.iyeREo {
  display: flex;
  line-height: 1rem;
  padding-bottom: 0.6rem;
}
.dpNvjT {
  color: rgb(23, 43, 77);
  font-family: var(--font-family-text,'Charlie Text',sans-serif);
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5rem;
  padding-right: 0.3rem;
  margin: 0px !important;
}
@media (min-width: 992px){
  .fbsRKz h4, .fbsRKz p {
    width: 100%;
}
}
.fbsRKz div > p {
  color: rgb(255, 255, 255);
}
.bSzYmp p {
  color: rgb(80, 95, 121);
  font-size: 0.75rem;
  line-height: 1rem;
  margin: 0px !important;
}
@media (min-width: 992px){
  .fbsRKz h4, .fbsRKz p {
    width: 100%;
}
}
.fbsRKz div > p {
  color: rgb(255, 255, 255);
}
@media (min-width: 992px){
  .kiNAmQ {
    border-top: 1px solid rgb(80, 95, 121);
    width: 98%;
    margin: 0px auto;
}
}
.bLomOy section {
  color: rgb(255, 255, 255);
}
.ctsbPE {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
}
@media (min-width: 992px){
  .ctsbPE {
    max-width: 960px;
}
}
@media (min-width: 1200px){
  .ctsbPE {
    max-width: 1140px;
}
}
.esQJBv {
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: start;
  justify-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  margin-left: -1rem;
  margin-right: -1rem;
}
.gcuqtV {
  padding: 0px 1rem 1rem;
  position: relative;
  scroll-margin-top: 72px;
  width: 100%;
  text-align: left;
  margin-top: 0px;
}
@media (min-width: 992px){
  .gcuqtV {
    display: block;
    flex: 0 0 auto;
    width: 16.6667%;
    margin-top: 0px;
    padding-top: 1rem;
}
}
.gcuqtV > :last-child {
  margin-bottom: 0px;
}
.eSGOHD {
  display: inline-block;
  max-width: 100%;
  min-height: 20px;
  padding-left: 2rem;
  position: relative;
}
.eSGOHD::before {
  background-image: url(/src/assets/img/tải\ xuống.svg);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 20px;
  bottom: 0px;
  content: "";
  left: 0px;
  min-height: 20px;
  min-width: 20px;
  position: absolute;
  top: 0px;
}
