._2d3f16n6>:first-of-type {
  width: calc(100vw - 0px - 0px - 0px)!important;
}
._iu1g1fl4>:first-of-type {
  transition: width .3s cubic-bezier(.2,0,0,1) 0s;
}
[data-ds--page-layout--slot="main"] {
  height: calc(100vh - ( 0px) +  0px);
}

@media (prefers-reduced-motion: reduce){
  .css-7klh0i {
    animation: auto ease 0s 1 normal none running none;
    transition: none 0s ease 0s;
  }
}
.css-7klh0i {
  min-width: 0px;
  margin-left: 0px;
  -webkit-box-flex: 1;
  flex-grow: 1;
  transition: margin-left 300ms cubic-bezier(0.2, 0, 0, 1) 0s;
}
.erfPlV {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  height: inherit;
  letter-spacing: normal;
}
._1e0c1txw, ._jcfo1txw:active, ._1d5x1txw:focus, ._hpcc1txw:hover {
  display: flex;
}
._1bsb1osq {
  width: 100%;
}
._4t3i1osq {
  height: 100%;
}
._1e0c1txw {
  display: flex;
}
._1bsb101u {
  width: calc(100% - 392px);
}
._1ul91fdn {
  min-width: 40pc;
}
._1yt4zdiv {
  padding: 0 40px;
}
._1e0c1ule {
  display: block;
}
._vchhusvi {
  box-sizing: border-box;
}
._18s81r1l {
  margin: 6px 8px 2pc;
}
._1ul91nk9 {
  min-width: 329px;
}
.css-q0b2qn {
  display: flex;
  width: 100%;
  min-height: 100%;
  flex-direction: column;
}
.css-xxwux {
  display: flex;
  flex: 1 1 auto;
}
.css-tw4vmx {
  position: relative;
  z-index: 2;
}
.css-auqgo3 {
  min-width: 0px;
  position: relative;
  z-index: 1;
  flex: 1 1 auto;
}
.css-cayjis {
  margin:  24px 0 16px 0;
}
.css-1eekove {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
}
.css-13emw79 {
  min-width: 0px;
  max-width: 100%;
  margin-bottom:  8px;
  flex: 1 1 auto;
}
.css-4g1bp3 {
  font-size: 1.71429em;
  font-style: inherit;
  color:  #172B4D;
  font-weight:  500;
  letter-spacing: -0.01em;
  margin-top: 0px;
  line-height: 32px;
  outline: none;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
._1bah1yb4 {
  justify-content: space-between;
}
.eqtFbW {
  font-size: 1.14286em;
  font-style: inherit;
  line-height: 1.25;
  color: #172B4D;
  letter-spacing: -0.006em;
  font-weight: 500;
}
.izznYQ {
  font-size: 1em;
  font-style: inherit;
  line-height: 1.14286;
  letter-spacing: -0.003em;
  font-weight: normal;
  display: inline-flex;
  text-decoration: none;
  color: #0065FF;
  margin: 0px;
}
.iTjhUU {
  display: block;
  position: relative;
  padding: 14px 0px 0px;
  background-color: transparent;
  margin: 0px -40px 27px;
  height: auto;
}
._1reo1wug {
  overflow-x: auto;
  height: auto;
}
.daPNYp {
  font-size: 11px;
  padding-top: 13px !important;
  padding-bottom: 3px !important;
  padding-left: 4px !important;
}
._1yt41a7l {
  padding: 1em 3pc 1em 40px;
}
._4t3i93m8 {
  height: 168px;
}
._1e0c116y {
  display: inline-flex;
}
._o5721q9c {
  white-space: nowrap;
  height: auto;
}
._16r21198:after {
  background: linear-gradient(90deg,#0000 0,#fff) 25%;
}
._z0ai1wqb:after {
  width: 60px;
}
._15l2xy5q:after {
  top: 2pc;
}
._1x88idpf:after {
  bottom: 0;
}
._32rxidpf:after {
  right: 0;
}
._1ywu1ule:after {
  display: block;
}
._1ywu1ule:after, ._cfu11ule:before {
  display: block;
}
._18postnw:after, ._1cs8stnw:before {
  position: absolute;
}
._aetrb3bt:after, ._1kt9b3bt:before {
  content: "";
}
.iCeFPj {
  display: flex;
  height: 180px;
  width: 240px;
  padding-top: 16px;
  flex-direction: column;
  color: inherit;
  background: white;
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-image: initial;
  border-radius: 3px;
  border-left: 20px solid #C0B6F2;
  box-sizing: border-box;
  box-shadow: 0 1px 1px rgba(9,30,66,0.25), 0 0 1px rgba(9,30,66,0.31);
  transition: box-shadow 0.3s ease-in-out 0s, border-color 0.6s ease-in 0s;
  margin: 10px;
}
.ktRddP {
  text-align: left;
  color: inherit;
  width: 100%;
  margin-bottom: 12px;
  margin-left: -12px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
.gKKmlt {
  display: inline-flex;
}
.gKKmlt > img {
  border-radius: 3px;
}
._syaz1fxt, ._30l31fxt:hover {
  color: #172b4d;
}
._syaz1fxt {
  color: #172b4d;
}
.kqFRrR {
  display: flex;
  padding-left: 16px;
  padding-right: 12px;
  margin-bottom: 2px;
}
.kBaqcC {
  font-style: inherit;
  line-height: 1.33333;
  font-weight: 600;
  text-transform: uppercase;
  color: #6B778C;
  padding-left: 4px;
  padding-bottom: 4px;
  font-size: 11px;
}
.VYfbg {
  flex: 1 1 0%;
  display: flex;
  max-width: 100%;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 3px;
  padding: 0px;
  font-size: 11px;
  text-decoration: none !important;
}
a {
  color: #172B4D;
  text-decoration: none;
}
.fSOZlH {
  border-top: 1px solid #EBECF0;
  margin: 0px;
  height: 28px;
  -webkit-box-align: center;
  align-items: center;
  padding-right: 12px;
}
.css-8vysra {
  -webkit-box-align: baseline;
  align-items: baseline;
  border-width: 0px;
  border-radius:  3px;
  box-sizing: border-box;
  display: inline-flex;
  font-size: inherit;
  font-style: normal;
  font-family: inherit;
  font-weight: 500;
  max-width: 100%;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background 0.1s ease-out 0s, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s;
  white-space: nowrap;
  background:  none;
  cursor: pointer;
  height: auto;
  line-height: inherit;
  padding: 0px;
  vertical-align: baseline;
  width: auto;
  -webkit-box-pack: center;
  justify-content: center;
  color: #42526E !important;
}
.css-1gd7hga {
  opacity: 1;
  transition: opacity 0.3s ease 0s;
  margin: 0px;
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.bgxHlt {
  display: flex;
  text-transform: none;
  font-weight: normal;
  font-size: 11px;
}
.css-1wits42 {
  display: inline-block;
  flex-shrink: 0;
  line-height: 1;
  width: 16px;
  height: 16px;
  margin-top: -9px;
}
.css-1wits42 > svg {
  width: 16px;
  height: 16px;
}
.css-1wits42 > svg {
  overflow: hidden;
  pointer-events: none;
  max-width: 100%;
  max-height: 100%;
  color: var(--icon-primary-color);
  fill: #FFFFFF;
  vertical-align: bottom;
}
.dyVmnH:not(:first-of-type) {
  margin-left: 12px;
}
.dyVmnH {
  display: flex;
  height: 180px;
  width: 240px;
  padding-top: 16px;
  flex-direction: column;
  color: inherit;
  background: white;
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-image: initial;
  border-radius: 3px;
  border-left: 20px solid #FFBDAD;
  box-sizing: border-box;
  box-shadow: 0 1px 1px rgba(9,30,66,0.25), 0 0 1px rgba(9,30,66,0.31);
  transition: box-shadow 0.3s ease-in-out 0s, border-color 0.6s ease-in 0s;
}
._i0dl1wug {
  flex-basis: auto;
}
._1o9zidpf {
  flex-shrink: 0;
}
._16jlidpf {
  flex-grow: 0;
}
.cEvSzd {
  display: inline-block;
  vertical-align: top;
  flex: 1 1 0%;
  margin-left: 8px;
  margin-right: 4px;
  overflow: hidden;
}
.hVfRVu {
  font-size: 1em;
  font-style: inherit;
  letter-spacing: -0.003em;
  color: #172B4D;
  white-space: nowrap;
  font-weight: 600;
  line-height: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0px;
  height: 16px;
}
._1dyziaom {
  letter-spacing: -.08px;
}
._1p1dglyw {
  text-transform: none;
}
._vwz4dlk8 {
  line-height: 14px;
}
._k48p4jg8 {
  font-weight: normal;
}
._1wyb1skh {
  font-size: 11px;
}
._1bto1l2s {
  text-overflow: ellipsis;
}
._18m915vq {
  overflow-y: hidden;
}
._1reo15vq {
  overflow-x: hidden;
}
._i0dlf1ug {
  flex-basis: 0%;
}
._1o9zkb7n {
  flex-shrink: 1;
}
._16jlkb7n {
  flex-grow: 1;
}
._18u0idpf {
  margin-left: 0;
}
._2hwxidpf {
  margin-right: 0;
}
._otyridpf {
  margin-bottom: 0;
}
._19pkidpf {
  margin-top: 0;
}
._19bvidpf {
  padding-left: 0;
}
._n3tdidpf {
  padding-bottom: 0;
}
._u5f3idpf {
  padding-right: 0;
}
._ca0qidpf {
  padding-top: 0;
}
._18u0x0bf {
  margin-left: -8px;
}
.css-xfp5fq {
  display: flex;
  max-width: 100%;
  min-height: 0%;
  flex-basis: 100%;
  flex-direction: column;
  -webkit-box-flex: 1;
  flex-grow: 1;
}
.css-1o3ve72 {
  display: flex;
  padding:  0px;
  position: relative;
  font-weight:  500;
}
.css-1o3ve72 [role="tab"][aria-selected="true"] {
  color:  #0052CC;
}
.css-1o3ve72 [role="tab"] {
  color:  #42526E;
  cursor: pointer;
  line-height: 1.8;
  margin: 0px;
  padding:  4px  8px;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@supports (overflow-x: clip){
  .css-1yrqasy {
    overflow-x: clip;
}
}
.css-1yrqasy {
    box-sizing: border-box;
    margin:  0px;
    padding:  0px;
    font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.css-1o3ve72 [role="tab"][aria-selected="true"]::after {
  content: "";
  border-radius: 2px;
  bottom: 0px;
  margin: 0px;
  position: absolute;
  width: inherit;
  left:  8px;
  right: 8px;
  border-bottom: 2px solid  #0052CC;
  height: 0px;
}
.css-xfp5fq [role="tabpanel"] {
  -webkit-box-flex: 1;
  flex-grow: 1;
  min-height: 0%;
  display: flex;
  padding: 0 8px;
}

.css-k5cxwk {
  box-sizing: border-box;
  appearance: none;
  border: none;
}
.css-10dsogl {
  opacity: 1;
  transition: opacity 0.3s ease 0s;
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
  align-self: center;
  font-size: 0px;
  line-height: 0;
  user-select: none;
  margin-right:  -2px;
}
._1yt41b41 {
  padding: 0 3pc 0 40px;
}
.iTjhUU::before {
  display: block;
  content: "";
  border-radius: 2px;
  top: -3px;
  margin: 0px;
  position: absolute;
  width: inherit;
  left: 40px;
  right: 40px;
  height: 2px;
  background-color: #EBECF0;
}
.boGiHC {
  font-weight: 600;
  font-size: 0.857143em;
  line-height: 1.33333;
  text-transform: uppercase;
  letter-spacing: normal;
  color: #6B778C !important;
  margin-top: 8px !important;
}
.css-6jr8tc {
  box-sizing: border-box;
  appearance: none;
  border: none;
  background-color:  #DFE1E6;
  padding-inline:  6px;
  border-radius:  8px;
  display: inline-flex;
  block-size: min-content;
}
._18u01i43 {
  margin-left: 0.4em!important;
}
app-layout{
  height: 100px;

}
._4t3i1osq._1e0c1ule._1yt4zdiv._vchhusvi._1bsb101u._16jlkb7n._1ul91fdn._18m915zi {
  padding-top: 50px;
}
.css-1o3ve72 {
  color:  #42526E;
  cursor: pointer;
  line-height: 1.8;
  margin: 0px;
  padding:  4px  8px;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
}
.ant-modal.ng-tns-c98-3 {
  width: 90rem !important;
}
.sc-1p2gpiw-0:hover {
  box-shadow: 6px 6px 12px -6px rgba(0, 0, 0, 0.5);
}
.sc-1p2gpiw-5:hover {
  background-color: #c0c0c0;
}
