._1e0c1txw, ._jcfo1txw:active, ._1d5x1txw:focus, ._hpcc1txw:hover {
  display: flex;
}
._1e0c1txw {
  display: flex;
}
._1e0c1txw._4cvr1h6o._zulpu2gc._16jlkb7n._1o9zkb7n._i0dlf1ug {
  margin-top: 20px;
}
._1e0c1txw._4cvr1h6o._zulpu2gc {
  margin-top: 20px;
}
._4cvr1h6o {
  align-items: center;
}
._4cvr1h6o, ._7yvl1h6o:active, ._1rdj1h6o:focus, ._el681h6o:hover {
  align-items: center;
}
._zulpu2gc {
  gap:8px;
}
._1tke1ylp {
  min-height: 40px;
}
._18s8r2fv {
  margin: 20px 0;
}
._1n261g80 {
  flex-wrap: wrap;
}
._16jlkb7n {
  flex-grow: 1;
}
._1o9zkb7n {
  flex-shrink: 1;
}
._i0dlf1ug {
  flex-basis: 0%;
}
.jexNtp {
  display: flex;
}
.lbhKCW {
  display: flex;
  width: 184px;
  transition: all 0.3s cubic-bezier(0.15, 1, 0.3, 1) 0s;
}
._6l8r13cp {
  --ds-background-disabled: #091E420F;
}
._n8yfky8x {
  --ds-border-input: #091E4224;
}
._w15a13cp {
  --ds-background-input-hovered: #091E420F ;
}
._sg3v13cp {
  --ds-background-input-pressed: #091E420F ;
}
._x2xk13cp {
  --ds-background-input: #091E420F ;
}
._7n831c2q {
  --ds-text: #172B4D;
}
._n2ulgr9p {
  --ds-text-disabled:#091E424F;
}
._1o8hu22k {
  --ds-text-subtlest: #626F86;
}
.css-w9huf {
  -webkit-box-align: center;
  align-items: center;
  background-color: #091E420F;
  border-color: #091E4224 ;
  color: #172B4D;
  cursor: text;
  height: 30px;
  border-radius: 3px;
  border-width: 2px;
  border-style: solid;
  box-sizing: border-box;
  display: flex;
  flex: 1 1 100%;
  font-size: 14px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  overflow: hidden;
  transition: background-color 0.2s ease-in-out 0s, border-color 0.2s ease-in-out 0s;
  overflow-wrap: break-word;
  vertical-align: top;
  pointer-events: auto;
}
.css-1cab8vv:placeholder-shown {
  text-overflow: ellipsis;
}
.css-1cab8vv[data-compact] {
  padding:  4px  6px;
  height: 2em;
}
.css-1cab8vv {
  background-color: transparent;
  border: 0px;
  box-sizing: border-box;
  color: inherit;
  cursor: inherit;
  font-size: 14px;
  min-width: 0px;
  outline: none;
  width: 100%;
  line-height: 1.42857;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
input:not([type=checkbox]):not([type=radio]), select, textarea {
  outline: 0;
  border-bottom-right-radius: 3.01px;
}
._18u0v77o {
  margin-left: 2px;
}
._2hwxv77o {
  margin-right: 2px;
}
._18s81c8u {
  margin: 0 8px 0 0;
}
._syazqjbk {
  color: #5e6c84;
}
.css-1wits42 {
  display: inline-block;
  flex-shrink: 0;
  line-height: 1;
  width: 16px;
  height: 16px;
}
.css-1wits42 > svg {
  width: 16px;
  height: 16px;
}
.css-1wits42 > svg {
  overflow: hidden;
  pointer-events: none;
  max-width: 100%;
  max-height: 100%;
  color: var(--icon-primary-color);
  fill: #FFFFFF;
  vertical-align: bottom;
}
._19itidpf {
  border: 0;
}
._18s8s8vo {
  margin: 0 9pt;
}
._kqswstnw {
  position: absolute;
}
._4t3it94y {
  height: 1px;
}
._1bsbt94y {
  width: 1px;
}
._ca0qidpf {
  padding-top: 0;
}
._u5f3idpf {
  padding-right: 0;
}
._19bvidpf {
  padding-left: 0;
}
._ogto7mnp {
  clip: rect(1px,1px,1px,1px);
}
._1reo15vq {
  overflow-x: hidden;
}
._18m915vq {
  overflow-y: hidden;
}
._o5721q9c {
  white-space: nowrap;
}
img, fieldset {
  border: 0;
}
._2lx2vrvc {
  flex-direction: row;
}
._18u01b66 {
  margin-left: 4px;
}
._kqswh2mm {
  position: relative;
}
._1qu2glyw {
  outline-style: none;
}
._1qu2glyw, ._1ohyglyw:active, ._49pcglyw:focus, ._ksodglyw:hover {
  outline-style: none;
}
._12y3idpf {
  outline-width: 0;
}
._4t3i14no {
  height: 36px;
}
._19pkidpf {
  margin-top: 0;
}
._2hwxidpf {
  margin-right: 0;
}
._otyridpf {
  margin-bottom: 0;
}
._18u0idpf {
  margin-left: 0;
}
._2rko1ssb {
  border-radius: 50%;
}
._19it19q5 {
  border: 2px solid #FFFFFF;
}
._bfhk4zhb {
  background-color: #F1F2F4;
}
._v5644dm8 {
  transition: background-color .1s ease-out 0s;
}
._1e0c1o8l {
  display: inline-block;
}
._12ji1r31 {
  outline-color: currentColor;
}
._12ji1r31, ._1q5t1r31:active, ._nt751r31:focus, ._1dit1r31:hover {
  outline-color: currentColor;
}
button {
  font-family: inherit;
}
._1bsb12pq {
  width: 32px;
}
._vwz412pq {
  line-height: 32px;
}
._4t3i12pq {
  height: 32px;
}
._bfhk18uv {
  background-color: initial;
}
.css-1afrefi {
  display: inline-block;
  flex-shrink: 0;
  line-height: 1;
  width: 24px;
  height: 24px;
}
.css-1afrefi > svg {
  width: 24px;
  height: 24px;
}
.css-1afrefi > svg {
  overflow: hidden;
  pointer-events: none;
  max-width: 100%;
  max-height: 100%;
  fill:#FFFFFF;
  vertical-align: bottom;
}
.css-1yaiuar, .css-1yaiuar:hover, .css-1yaiuar:active, .css-1yaiuar:focus, .css-1yaiuar:focus-visible, .css-1yaiuar:visited, .css-1yaiuar:disabled, .css-1yaiuar[disabled] {
  -webkit-box-align: baseline;
  align-items: baseline;
  border-width: 0px;
  border-radius:  3px;
  box-sizing: border-box;
  display: inline-flex;
  font-size: inherit;
  font-style: normal;
  font-family: inherit;
  font-weight: 500;
  max-width: 100%;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background 0.1s ease-out 0s, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s;
  white-space: nowrap;
  background: #00000000;
  color:  #42526E;
  cursor: pointer;
  height: 2.28571em;
  line-height: 2.28571em;
  padding: 0px 10px;
  vertical-align: middle;
  width: auto;
  -webkit-box-pack: center;
  justify-content: center;
  outline: none;
}
.css-4h66kx {
  opacity: 1;
  transition: opacity 0.3s ease 0s;
  display: flex;
  margin-top: 0px;
  margin-right: 2px;
  margin-bottom: 0px;
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
  align-self: center;
  font-size: 0px;
  line-height: 0;
  user-select: none;
  margin-left: -2px;
}
.css-178ag6o {
  opacity: 1;
  transition: opacity 0.3s ease 0s;
  margin: 0px 2px;
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.css-1iwuz3b {
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
}
.assistive {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}
.css-4iker0, .css-4iker0:hover, .css-4iker0:active, .css-4iker0:focus, .css-4iker0:focus-visible, .css-4iker0:visited, .css-4iker0:disabled, .css-4iker0[disabled] {
  -webkit-box-align: baseline;
  align-items: baseline;
  border-width: 0px;
  border-radius: 3px;
  box-sizing: border-box;
  display: inline-flex;
  font-size: inherit;
  font-style: normal;
  font-family: inherit;
  font-weight: 500;
  max-width: 100%;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background 0.1s ease-out 0s, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s;
  white-space: nowrap;
  background:  none;
  cursor: pointer;
  height: 2.28571em;
  line-height: 2.28571em;
  padding: 0px;
  vertical-align: middle;
  width: auto;
  -webkit-box-pack: center;
  justify-content: center;
  outline: none;
  color: #6B778C !important;
}
.css-4iker0 > span > span:first-of-type, .css-4iker0:hover > span > span:first-of-type, .css-4iker0:active > span > span:first-of-type, .css-4iker0:focus > span > span:first-of-type, .css-4iker0:focus-visible > span > span:first-of-type, .css-4iker0:visited > span > span:first-of-type, .css-4iker0:disabled > span > span:first-of-type, .css-4iker0[disabled] > span > span:first-of-type {
  margin: 0px;
}
.css-perdyb {
  display: flex;
  margin-left: auto;
}
.css-b672ny {
  display: flex;
  align-self: center;
  padding: 0px 10px;
}
.css-8fhpv4, .css-8fhpv4:hover, .css-8fhpv4:active, .css-8fhpv4:focus, .css-8fhpv4:focus-visible, .css-8fhpv4:visited, .css-8fhpv4:disabled, .css-8fhpv4[disabled] {
  -webkit-box-align: baseline;
  align-items: baseline;
  border-width: 0px;
  border-radius:  3px;
  box-sizing: border-box;
  display: inline-flex;
  font-size: inherit;
  font-style: normal;
  font-family: inherit;
  font-weight: 500;
  max-width: 100%;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background 0.1s ease-out 0s, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s;
  white-space: nowrap;
  background:  #0052CC;
  cursor: pointer;
  height: 2.28571em;
  line-height: 2.28571em;
  padding: 0px 10px;
  vertical-align: middle;
  width: auto;
  -webkit-box-pack: center;
  justify-content: center;
  outline: none;
  color:  #FFFFFF !important;
}
.mat-mdc-menu-content.ng-tns-c681116372-5 {
  margin: 10px;
}
.css-1rnc8rc {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex-shrink: 0;
}
.css-1m7bkbm {
  position: relative;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  min-height: 40px;
  margin:  0px;
  -webkit-box-align: center;
  align-items: center;
  border: 0px;
  font-size:  14px;
  outline: 0px;
  text-decoration: none;
  user-select: none;
  padding-block:  8px;
  padding-inline:  16px;
  background-color: #00000000;
  color: currentcolor;
  cursor: pointer;
}
.css-12dc8u4 {
  display: flex;
  box-sizing: border-box;
  gap:  12px;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: row;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 100%;
  -webkit-box-flex: 1;
  flex-grow: 1;
}
.css-xhdqsk {
  color:  #5E6C84;
  font-size: 11px;
  font-weight:  700;
  line-height: 1.45455;
  padding-block:  0px;
  padding-inline:  16px;
  text-transform: uppercase;
  margin: 5px;
}
._16qsglyw, ._180dglyw:active, ._7ehiglyw:focus, ._1dbzglyw:hover {
  box-shadow: none;
}
._1yt4jd10 {
  padding: 9pt 6px 9pt 1pc;
}
._16qsglyw {
  box-shadow: none;
}
._1pbykb7n {
  z-index: 1;
}
._1wyb1crf {
  font-size: 9pt;
}
._1bah1yb4 {
  justify-content: space-between;
}
._11q71bhr {
  background: #fff;
}
._1ul91gwv {
  min-width: 360px;
}
._syaz1o15 {
  color: #7a869a;
}
._vwz41f4h {
  line-height: 28px;
}
._k48p1fw0 {
  font-weight: 700;
}
._1p1dangw {
  text-transform: uppercase;
}
._1bahesu3 {
  justify-content: flex-end;
}
._c71l16u6 {
  max-height: calc(85vh - 267px);
}
._ln19p27b {
  scrollbar-gutter: stable;
}
._1reo1wug {
  overflow-x: auto;
}
._18m91wug {
  overflow-y: auto;
}
.css-4mjcmd {
  display: flex;
  position: static;
  flex-direction: column;
  overflow: auto;
}
._1yt4x7n9 {
  padding: 2px 0;
}
._2lx21bp4 {
  flex-direction: column;
}
.css-1uww2tp {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  flex-direction: column;
  -webkit-box-flex: 1;
  flex-grow: 1;
  line-height:  16px;
  outline: none;
  overflow: hidden;
  text-align: left;
}
.css-5mekwu {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
._p12f1gwv {
  max-width: 360px;
}
._18s81alc {
  margin: 10.5px 1pc 24px;
}
._x3do13y8 {
  border-top: 1px solid #091e4214;
}
._n3td1f4h {
  padding-bottom: 28px;
}
._zulp1f4h {
  gap: 28px;
}
._1n261g80 {
  flex-wrap: wrap;
}
._2lx2vrvc {
  flex-direction: row;
}
._zulp1b66 {
  gap: 4px;
}
._4cvr1h6o {
  align-items: center;
}
._n3tdidpf {
  padding-bottom: 0;
}
._ca0qidpf {
  padding-top: 0;
}
._4t3i1tcg {
  height: 24px;
}
._24rc1b66 >span {
  margin-left: 4px;
}
._k8em14no >div {
  height: 36px;
}
._bhl914no >div {
  width: 36px;
}
._187z1w81 button {
  max-width: 152px;
}
.css-1f42l0d {
  height: 32px;
  width: 32px;
  -webkit-box-align: stretch;
  align-items: stretch;
  background-color:  #FFFFFF;
  border-radius: 50%;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  outline: none;
  overflow: hidden;
  position: static;
  transform: translateZ(0px);
  transition: transform 200ms ease 0s, opacity 200ms ease 0s;
  box-shadow: 0 0 0 2px  #FFFFFF;
  border: none;
  margin: 2px;
  padding:  0px;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
}
.css-1f42l0d::after {
  background-color: transparent;
  inset: 0px;
  border-radius: 50%;
  content: " ";
  opacity: 0;
  pointer-events: none;
  position: absolute;
  transition: opacity 200ms ease 0s;
  width: 100%;
}
@media (prefers-reduced-motion: reduce)
{
  .jira-dialog, .jira-dialog *, :after, :before {
    transition-duration: 0ms !important;
  }
}
._syaz9o62 {
  color: #253858;
}
._1h1tkb7n {
  aspect-ratio: 1;
}
._2rko1ssb {
  border-radius: 50%;
}
._mq0p1q9c button>span {
  white-space: nowrap;
}
._1h3c15vq button>span {
  overflow-y: hidden;
}
._84c115vq button>span {
  overflow-x: hidden;
}
._1u921l2s button>span {
  text-overflow: ellipsis;
}
._bfhk1vhj {
  background-color: #F4F5F7;
}
._2rko1ssb {
  border-radius: 50%;
}
._zulp1b66 {
  gap: 4px;
}
._4t3izwfg {
  height: 2pc;
}
._1bsbzwfg {
  width: 2pc;
}
._19itidpf {
  border: 0;
}
._mq0p1q9c button>span {
  white-space: nowrap;
}
._1h3c15vq button>span {
  overflow-y: hidden;
}
._84c115vq button>span {
  overflow-x: hidden;
}
.css-1wits42 {
  display: inline-block;
  flex-shrink: 0;
  line-height: 1;
  width: 16px;
  height: 16px;
}
._zulps09w {
  gap: 4px;
}
._u5f3utpp {
  padding-right: 9pt;
}
._1wybdlk8 {
  font-size: 14px;
}
._4t3izwfg {
  height: 2pc;
}
._1yt4u2gc {
  padding: 8px;
}
.css-1wdz4qf {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: min-content;
  color:  #091E42;
  cursor: default;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --local-background:  #FAFBFC;
  --local-background-active:  #DEEBFF;
  --local-background-checked:  #0052CC;
  --local-background-checked-hover: #0065FF;
  --local-background-disabled: #F4F5F7;
  --local-background-hover: #EBECF0;
  --local-border:  #DFE1E6;
  --local-border-active:  #DEEBFF;
  --local-border-checked:  #0052CC;
  --local-border-checked-hover:  #0065FF;
  --local-border-checked-invalid: #FF5630;
  --local-border-disabled:  #F4F5F7;
  --local-border-focus:  #2684FF;
  --local-border-hover:  #DFE1E6;
  --local-border-invalid: #FF5630;
  --local-tick-active:  #0052CC;
  --local-tick-checked:  #FAFBFC;
  --local-tick-disabled:  #A5ADBA;
  --local-tick-rest: transparent;
}
.css-1buck15 {
  width: 100%;
  height: 100%;
  margin:  0px;
  appearance: none;
  border: none;
  grid-area: 1 / 1 / 2 / 2;
  opacity: 0;
  outline: none;
}
.css-1buck15 + svg {
  --checkbox-background-color: #FFFFFF;
  --checkbox-border-color: #091E4224;
  --checkbox-tick-color: transparent;
  color: #FFFFFF;
  fill: transparent;
  grid-area: 1 / 1 / 2 / 2;
  pointer-events: none;
  transition: color 0.2s ease-in-out 0s, fill 0.2s ease-in-out 0s;
}
.css-1dr55qw {
  overflow: hidden;
  pointer-events: none;
  width: 24px;
  height: 24px;
}
.css-1joy4tb {
  height: 16px;
  width: 16px;
  -webkit-box-align: stretch;
  align-items: stretch;
  background-color: #FFFFFF;
  border-radius: 2px;
  box-sizing: content-box;
  cursor: inherit;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  outline: none;
  overflow: hidden;
  position: static;
  transform: translateZ(0px);
  transition: transform 200ms ease 0s, opacity 200ms ease 0s;
  box-shadow: 0 0 0 2px #FFFFFF;
  border: none;
  margin: 2px;
  padding: 0px;
  font-size: inherit;
  font-family: inherit;
}
.css-13ep12v {
  display: flex;
  width: 100%;
  height: 100%;
  flex: 1 1 100%;
}
._10ew1wug img {
  margin-left: auto;
}
._1874idpf img {
  margin-bottom: 0;
}
._1hlx1wug img {
  margin-right: auto;
}
._1cr6idpf img {
  margin-top: 0;
}
._i0dl1wug {
  flex-basis: auto;
}
._1o9zidpf {
  flex-shrink: 0;
}
._16jlidpf {
  flex-grow: 0;
}
._18m915vq {
  overflow-y: hidden;
}
._1reo15vq {
  overflow-x: hidden;
}
._19itglyw {
  border: none;
}
._bfhk1kw7 {
  background-color: inherit;
}
._1bsb1f4h {
  width: 28px;
}
._18s8119w {
  margin: 0 1pc;
}
._1yt4r2fv {
  padding: 20px 0;
}
._x3do13y8 {
  border-top: 1px solid #091e4214;
}
._1f8lf1ug button {
  flex-basis: 0%;
}
._a86jkb7n button {
  flex-shrink: 1;
}
._19cnkb7n button {
  flex-grow: 1;
}
._xlob1h6o button {
  align-items: center;
}
._dpd31txw button {
  display: flex;
}
._11lvidpf button {
  padding-left: 0;
}
._1gqnidpf button {
  padding-bottom: 0;
}
._yhjmidpf button {
  padding-right: 0;
}
._1gflidpf button {
  padding-top: 0;
}
._1ad8idpf button>span {
  margin-left: 0;
}
._1e1oidpf button>span {
  margin-bottom: 0;
}
._1bnaidpf button>span {
  margin-right: 0;
}
._rehaidpf button>span {
  margin-top: 0;
}
._14881h6o button>span {
  align-items: center;
}
._1q0j1yb4 button>span {
  justify-content: space-between;
}
._gumd1txw button>span {
  display: flex;
}
._1i7ridpf button div {
  padding-left: 0;
}
._1dr2idpf button div {
  padding-bottom: 0;
}
._2ltfidpf button div {
  padding-right: 0;
}
._sutwidpf button div {
  padding-top: 0;
}
._wbnz1e5h button div {
  text-align: left;
}
.css-1pifu9q {
  -webkit-box-align: baseline;
  align-items: baseline;
  border-width: 0px;
  border-radius:  3px;
  box-sizing: border-box;
  display: inline-flex;
  font-size: inherit;
  font-style: normal;
  font-family: inherit;
  font-weight: 500;
  max-width: 100%;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background 0.1s ease-out 0s, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s;
  white-space: nowrap;
  background:  none;
  cursor: pointer;
  height: 2.28571em;
  line-height: 2.28571em;
  padding: 0px 10px;
  vertical-align: middle;
  width: auto;
  -webkit-box-pack: center;
  justify-content: center;
  color:  #6B778C !important;
}
._19bvgktf {
  padding-left: 20px;
}
._u5f3gktf {
  padding-right: 20px;
}
._1yt41ebf {
  padding: 4px 8px;
}
._19it13y8 {
  border: 1px solid #091e4214;
}
._zulp1y44 {
  gap: 4px;
}
._2rko1ul9 {
  border-radius: 30px;
}
._4t3i1f4h {
  height: 28px;
}
._80omtlke {
  cursor: pointer;
}
._11q7glyw {
  background: none;
}
.css-yo6x36 {
  box-sizing: border-box;
  appearance: none;
  border: none;
  background-color:  #DEEBFF;
  padding-inline: 4px;
  display: inline-flex;
  border-radius:  3px;
  block-size: min-content;
  position: static;
  overflow: hidden;
}
.css-1tmh68i {
  box-sizing: border-box;
  margin:  0px;
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #0052CC;
  font-size: 11px;
  font-weight:  700;
  line-height: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-transform: uppercase;
}
@supports (overflow-x: clip){
  .css-1341ess {
    overflow-x: clip;
}
}
.css-1341ess {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    color: #006644;
    font-size: 11px;
    font-weight: 700;
    line-height: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-transform: uppercase;
}
._dlecidpf label {
  gap: 0;
}
.mat-mdc-menu-panel.mat-menu-panel-custom {
  max-width: 380px !important;
}
.mat-mdc-menu-content.ng-tns-c681116372-3 {
  width: 534px;
}
.mat-mdc-menu-panel {
  min-width: 112px;
  overflow: auto;
  max-width: 430px !important;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
  outline: 0;
  border-radius: var(--mat-menu-container-shape);
  background-color: var(--mat-menu-container-color);
  will-change: transform,opacity;
}
._otyr1ejb {
  margin-bottom: 24px;
}
.css-q5x77e {
  margin-top: 8px;
}
.css-1nzatiy {
  font-size: 0.857143em;
  font-style: inherit;
  line-height: 1.33333;
  font-weight:  600;
  display: inline-block;
  margin-top: 0px;
  margin-bottom:  4px;
  color:  #6B778C;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
.css-twk84a {
  padding-left:  2px;
  color:  #DE350B;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
._kqswh2mm {
  position: relative;
}
.css-1s25hsw {
  -webkit-box-align: center;
  align-items: center;
  background-color:  #FAFBFC;
  border-color:  #DFE1E6;
  color:  #091E42;
  cursor: text;
  border-radius: 3px;
  border-width: 2px;
  border-style: solid;
  box-sizing: border-box;
  display: flex;
  flex: 1 1 100%;
  font-size: 14px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  max-width: 100%;
  overflow: hidden;
  transition: background-color 0.2s ease-in-out 0s, border-color 0.2s ease-in-out 0s;
  overflow-wrap: break-word;
  vertical-align: top;
  pointer-events: auto;
}
.css-1cab8vv:placeholder-shown {
  text-overflow: ellipsis;
}
.css-1cab8vv:invalid {
  box-shadow: none;
}
.css-1cab8vv:not([data-compact]) {
  padding:  3px 6px;
  height: 2.57em;
}
.css-1cab8vv {
  background-color: transparent;
  border: 0px;
  box-sizing: border-box;
  color: inherit;
  cursor: inherit;
  font-size: 14px;
  min-width: 0px;
  outline: none;
  width: 100%;
  line-height: 1.42857;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
